/*
	basePortal.css	designed by xuwenzhuo v1.1 date:2008-5-14
*/

/*         2009-06-17 周杨新增如下样式，用于个人门户页面         */
.textUnderline
{
	text-decoration:underline;
	cursor:hand;
}

.textNoneUnderline
{
	text-decoration:none;	
}

.navBarTextMouseOver
{
	text-decoration:underline;
	cursor:hand;
	color:Black;
	word-break: keep-all;
	
	
}

.navBarTextMouseOut
{
	text-decoration:none;	
	color:Black;
	word-break: keep-all;
	
}




/*                                         */

.portal
{
	margin: 0 auto;
	color: #000;
	line-height: 1.5em;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	font-size: 12px;
}
.portal .menuItem
{
	height: 28px;
	vertical-align: middle;
	text-align: left;
}



.portal .menuItem .bgMouseOut
{	
	/*
	margin-left:10px;
	
	background-image: url(../images/menuList.gif);
	background-position:left top;
	background-repeat:no-repeat;
	*/
}

.portal .menuItem .bgMouseOut a
{
	color:Black;
	margin-left:8px;

}
.portal .menuItem .bgMouseOut img
{
	margin-left:8px;
}

.portal .menuItem .bgMouseOut a:hover {
	 text-decoration:none;
	 border-right:0px solid #000;
	 color:Red;
	}

.portal .menuItem .bgMouseOn
{
	/*
	background-image: url(../images/menuListSelected.gif);
	background-repeat:no-repeat;
	margin-left:16px;
	*/
}
.portal .menuItem .bgMouseOn a
{
	color:Black;
}
.portal .menuList
{
}

.portal .menuList .left
{
	background-image: url(../images/bg14.gif);
}

.portal .menuList .right
{
	background-color: #feffef;
}

.portal .menuList .rightSelect
{
	background-color: #fafafa;
}

.portal .list
{
	table-layout: fixed;
}

.portal .list td
{
	font-size: 14px;
}

.portal .list a
{
	font-size: 14px;
	color: #0066CC;
}

.portal .list a:hover
{
	color:Black;
	text-decoration:underline;
}

.portal .listaitem
{
	font-size: 12px;
	text-align: center; /*height: 26px;*/
}
.portal .listitem
{
	/*height: 26px;*/
	font-size: 12px;
	text-align: center; /*background-image: url(../images/bg03.gif);*/
	background-repeat: repeat-x;
	background-color: #efefef;
}
.portal .listcolumn
{
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-left-color: #dddddd;
	padding: 5px 0px 5px 0px;
}
/* 门户的置顶行是不设行高的，而全局的由于没在列上设样式，需要设行高，将来必将统一 */
.portal .itemattop
{
	text-align: center;
	background-color: #FFECEC;
}
/*.portal .listitem
{
	height: 26px;
	text-align: center;
}
.portal .listaitem
{
	border-top:solid 1px #ededed;
	border-bottom:solid 1px #ededed;
	background-color: #fafafa;
	height: 26px;
	text-align: center;
}*/
.portal .listselecteditem
{
	background-color: #feffef;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #f7a81c;
	border-right-color: #f7a81c;
	border-bottom-color: #f7a81c;
	border-left-color: #f7a81c;
	text-align: center; /*height: 26px;*/
}
.portal .mainnavigate
{
	/*background-image: url(../images/di1.gif);*/
	background-color:#495677;
	background-repeat: repeat-x;
	background-position: center;
	height: 25px;
}
.portal .idbg
{
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ffffff;
	border-right-color: #0e69b3;
	border-bottom-color: #0e69b3;
	border-left-color: #0e69b3;
	background-image: url(../images/id-bg.gif);
	background-repeat: repeat-x;
	height: 100px;
	background-color: #ededed;
}
.portal .info
{
	background-image: url(../images/xinxi-bg.jpg);
	background-repeat: no-repeat;
}
.portal .navigatefont
{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
.portal .navigatefont:hover
{
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ee6704;
}

.portal .personallink
{
	color: #061ca1;
}

.portal .personallink:hover
{
	color: #061ca1;
}

.portal .hidden
{
	display: none;
}

.portal .subjectcolumn
{
	word-break: break-all;
}
