body
{
	font-size: 9pt;
}

.grid
{
	border-right: lightgrey 1px solid;
	border-top: lightgrey 1px solid;
	border-left: lightgrey 1px solid;
	width: 100%;
	border-bottom: lightgrey 1px solid;
	border-collapse: collapse;
	border-color: lightgrey;
}
 
.gridHeadCell
{
	border-right: medium none;
	border-top: medium none;
	font-size: 9pt;
	FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=50, style=1, finishOpacity=100, startx=0, starty=0, finishx=0, finishy=1024);
	border-left: medium none;
	border-bottom: medium none;
	height: 20px;
	background-color: #89b0e7;
	text-align:center;
	font-family: SimSun;
}

.gridFoot
{
	text-align: center;
	font-size: 9pt;
	background-color: #507CD1;
}
.gridRow
{
	font-size: 9pt;
	height: 20px;
}

.gridCell
{
	font-size: 9pt;
	WORD-BREAK: break-all;
	border:solid 1px lightgrey
}
.gridEditRow
{
	font-size: 9pt;
	height: 20px;
}

.GirdPager
{
	font-size: 9pt;
	text-align: right;
	background-color:#3366cc;
	height: 10px;
}

.GirdAlternatingRow
{
	font-size: 9pt;
	height: 20px;
}

.GirdSelectedRow
{
	font-size: 9pt;
	color: #333333;
	height: 20px;
	background-color: #E7F3FF;
}
