#itemdetail .toolbar {
	RIGHT: 30px; POSITION: absolute; TOP: 22px
}
#itemdetail .toolbar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#itemdetail .toolbar LI {
	DISPLAY: inline
}
#itemdetail .toolbar A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND: url(toolbar_btnl.gif) no-repeat left top; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-DECORATION: none
}
#itemdetail .toolbar A SPAN {
	PADDING-RIGHT: 5px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(toolbar_btnr.gif) no-repeat right top; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #3f5687; WORD-BREAK: keep-all; LINE-HEIGHT: 22px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: center
}
#itemdetail .toolbar A SPAN IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px; BORDER-RIGHT-WIDTH: 0px
}
#itemdetail .toolbar A:hover {
	BACKGROUND-POSITION: 0% -22px
}
#itemdetail .toolbar A:hover SPAN {
	BACKGROUND-POSITION: 100% -22px; COLOR: #333
}
#dfooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#dfooter P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#dfooter A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND: url(footer_btnl.gif) no-repeat left top; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; HEIGHT: 21px; TEXT-DECORATION: none
}
#dfooter A SPAN {
	PADDING-RIGHT: 8px; DISPLAY: inline-block; PADDING-LEFT: 5px; BACKGROUND: url(footer_btnr.gif) no-repeat right top; PADDING-BOTTOM: 0px; WIDTH: 35px; CURSOR: hand; COLOR: #3f5687; WORD-BREAK: keep-all; LINE-HEIGHT: 21px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 21px; TEXT-ALIGN: center
}
#dfooter A SPAN IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px; BORDER-RIGHT-WIDTH: 0px
}
#dfooter A:hover {
	BACKGROUND-POSITION: 0% -21px
}
#dfooter A:hover SPAN {
	BACKGROUND-POSITION: 100% -21px; COLOR: #333
}
.idt_tab {
	BORDER-RIGHT: #a8cfeb 1px solid; BORDER-TOP: #a8cfeb 1px solid; BORDER-LEFT: #a8cfeb 1px solid; BORDER-BOTTOM: #a8cfeb 1px solid; BACKGROUND-COLOR: #dfeafb
}
.idt_tab TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px
}
.idt_tab IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: -3px; MARGIN-RIGHT: 2px; BORDER-RIGHT-WIDTH: 0px
}
.idt_item {
	BORDER-RIGHT: #a8cfeb 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a8cfeb 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #a8cfeb 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #a8cfeb 1px solid
}
.idt_item_attach {
	BORDER-RIGHT: #a8cfeb 1px solid; BORDER-TOP: #a8cfeb 1px solid; MARGIN-TOP: 1px; MARGIN-LEFT: 2px; BORDER-LEFT: #a8cfeb 1px solid; BORDER-BOTTOM: #a8cfeb 1px solid
}
