#tabsC {
	BACKGROUND: #edf7e7; FLOAT: left; WIDTH: 100%; LINE-HEIGHT: normal
}
#tabsC UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
#tabsC LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#tabsC A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: url(tableftC.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#tabsC A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(tabrightC.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #464e42; PADDING-TOP: 5px
}
#tabsC A SPAN {
	FLOAT: none
}
#tabsC A:hover SPAN {
	COLOR: #fff
}
#tabsC A:hover {
	BACKGROUND-POSITION: 0% -42px
}
#tabsC A:hover SPAN {
	BACKGROUND-POSITION: 100% -42px
}
#tabsC A.current {
	BACKGROUND-POSITION: 0% -42px
}
#tabsC A.current SPAN {
	BACKGROUND-POSITION: 100% -42px; COLOR: #fff
}
.tabcontent {
	BORDER-RIGHT: #8dadd8 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #8dadd8 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #8dadd8 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #8dadd8 2px solid
}
