html
{
	overflow: auto;
	height: 100%;
}

body
{
	height: 100%;
	zoom: 1;
	
	width:auto; position: relative; overflow-x:hidden !important;
	overflow:auto;
}

.bar
{
	font-size:16px;
	line-height:16px;
}

.bar img
{
	vertical-align:bottom;
}

#outer
{
	margin: 0 20px;
	bottom:0;
}

a
{
	cursor:hand;
}