<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    </configSections>
    <jsonSerialization maxJsonLength="10000">
    </jsonSerialization>
</configuration>