/*
basePage.css	designed by xuwenzhuo v1.1 date:2008-5-14
*/
/*
	base element
	基本元素样式
*/
body
{
	font-size: 12px;
	margin: 0 auto;
	color: #000;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
}

/*
	td 全局样式
	用word-break: break-all;会把单词生硬的隔开,不过优点是无需定列宽度.
	发现在这个全局的td上这么设这个样式不起作用,还是换回word-wrap: break-word;
	各应用有两个解决方案A、需要折行的列定宽；B、在需要折行的列上加break-all
	A的优势在于完美的断词和符号,劣势在于需要定宽,在大分辨率下将浪费一定空间
	B的优势在于在大分辨率下最大限度的利用了空间,劣势在于会生硬割词,而且不能分割长标点符号

	不过这个问题正式使用基本不会出现,为了杜绝出错的可能,暂用A方案
*/
td
{
	font-size: 12px;
	word-wrap: break-word;
}
/*
 全局 下拉列表样式

select
{
	color: #000000;
	border-style: solid;
	border-width: 1px;
	background-image: url(../images/grid-bg.gif);
	height: 22px;
}
*/
/*
全局 垂直居中
*/
vt
{
	vertical-align: middle;
}
/*
	全局 垂直居底
*/
.middle
{
	vertical-align: bottom;
}
/*
	全局 连接样式
*/
a
{
	/*font-size:12px;*/
	color: #000000;
	text-decoration: none;
}
/*
	全局 连接鼠标放上样式
*/
a:hover
{
	/*font-size:12px;*/
	color: red;
	text-decoration: none;
}
/*
	全局 ul, li
*/
ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
/*
	页面宽度限制
*/
.pageWidth
{
	min-width: 850px;
	width: expression(document.body.clientWidth < 852? "850px" : "auto");
}
/*
	全局 居右
*/
.valignR
{
	text-align: right;
}
/*
	全局 居左
*/
.valignL
{
	text-align: left;
}
/*
	全局 三段式弹出表单 抬头
*/
.gridHead
{
	font-size: 15px;
	font-weight: bold; /*color: #b40505; */
	color: Black; /*edit by jerry*/ /*background-image: url(../images/bg15.gif); edit by jerry */
	background-image: url(../images/bg15_2.gif);
	height: 32px;
	text-align: left;
}
/*
	全局 三段式弹出表单 底部
*/
.gridfileBottom
{
	font-size: 15px;
	font-weight: bold;
	color: #0653a1; /*background-image: url(../images/bg16.gif); edit by jerry for the virtual form*/
	background-image: url(../images/bg16_2.gif);
	background-repeat: repeat-x;
	height: 7px;
	text-align: left;
}
/*
	全局 门户按钮样式
*/
.portalButton
{
	background: url(../images/bg17.gif) repeat-x;
	font-weight: normal;
	border: 1px solid #b5b3b3;
	height: 24px;
	min-width: 80px;
	line-height: 22px;
	color: black;
	margin-left: 10px;
	margin-top: 3px;
	text-align: center;
	letter-spacing: 3px;
	padding: 0px 2px; /*根据PM邮件精神,绝大部分按钮宽度都是80px*/ /*width: 80px;*/
}
/*
	门户上待阅转已办按钮样式
*/
.portalUnreadButton
{
	background: url(../images/bg17.gif) repeat-x;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #b5b3b3;
	height: 20px;
	min-width: 80px;
	color: black;
	text-align: center;
	letter-spacing: 3px;
	padding: 0px 2px; /*根据PM邮件精神,绝大部分按钮宽度都是80px*/ /*width: 80px;*/
}
/*
	全局 表单按钮样式（目前设置的蓝色样式）
*/
.formButton
{
	/*background: url(../images/buttonbg_lightblue.gif) repeat-x; 	font-weight: normal; 	border: 1px solid #4eb9ef; 	height: 24px; 	min-width: 40px; 	line-height: 22px; 	color: #054a91; 	margin-left: 10px; 	margin-top: 6px; 	text-align: center; 	letter-spacing: 4px; 	padding: 0px 2px;*/
	background: url(../images/bg17.gif) repeat-x;
	font-weight: normal;
	border: 1px solid #b5b3b3;
	height: 24px;
	min-width: 80px;
	line-height: 22px;
	color: black;
	margin-left: 10px;
	margin-top: 3px;
	text-align: center;
	letter-spacing: 3px;
	padding: 0px 2px; /*根据PM邮件精神,绝大部分按钮宽度都是80px*/ /*width: 80px;*/
}
/*
	全局 输入框样式.注:服务端输入控件,页面输入时自动套用该样式.非服务端输入控件,请自行套用.
*/
.inputStyle
{
	font-size: 12px;
	color: #000000;
	border: solid 1px #D1D1D1;
	line-height: 150%;
	background-color: #f5f6f6; /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50, style=1, finishOpacity=100, startx=0, starty=0, finishx=0, finishy=1024);*/
}
/*
	字体颜色
*/
.orange
{
	font-size: 13px;
	color: #fd6002;
	font-weight: bold;
}
/* float height path */
.clearFix:after
{
	content: ".";
	display: block;
	height: 0;
	_height: 1%;
	clear: both;
	visibility: hidden;
}
.clearFix
{
	display: inline-block;
}
.clear
{
	clear: both;
}

/*
for dialog pages
弹出窗体样式
*/
.diagF
{
	margin: 4px;
	background-color: #ffffe8;
}

.dialogHeader
{
	margin: 2px;
	background-color: #ffffe8;
	height: 36px;
}

.dialogTitle
{
	font-size: 16px;
	font-weight: bold;
}

.dialogLogo
{
	background-image: url("../images/dialogLogo.gif");
	background-repeat: no-repeat;
	height: 24px;
	padding-left: 24px;
	padding-top: 2px;
}

.dialogContent
{
	font-size: 12px;
	overflow: auto;
	background-color: white;
}

.dialogContent .label
{
	font-weight: bold;
	text-align: right;
}

.dialogFooter
{
	background-color: #ffffe8;
	height: 36px;
	text-align: center;
}

/*
	全局 列表样式 详细使用方法可参看
	 HB2008CommonPages/ListPageSample.aspx
*/
.dataList
{
	border: lightgrey 1px solid;
	width: 100%;
	border-collapse: collapse;
}
.dataList td
{
}
.dataList a
{
}
.dataList a:hover
{
}
/*
	全局 列表抬头标题样式
*/
.dataList .title
{
	font-size: 13px;
	color: Red;
	font-weight: bold;
}
/*
	全局 列表表头样式
*/
.dataList .head
{
	border: lightgrey 1px solid;
	font-size: 13px;
	color: Black;
	font-weight: normal;
	text-align: center;
	height: 24px;
	background-color: #F2F2F2;
}

.dataList .head a
{
}

.dataList .head a:hover
{
	color: #FF0000;
}
/*
	全局 列表行内容样式
*/
.dataList .item
{
	text-align: center;
	border: lightgrey 1px solid;
	height: 26px;
}
/*
	全局 列表间隔行内容样式
*/
.dataList .aitem
{
	font-size: 14px; /*由于有些列的宽度巨大,比如“当前节点”,所以列不能用图片. 	/*background-image: url(../images/Portal/bg03.gif);*/
	border-top: inherit 1px #fafafa;
	border-bottom: inherit 1px #ededed;
	background-color: #FAFAFA;
	height: 26px;
	text-align: center;
}
/*
	全局 列表置顶行内容样式
*/
.dataList .itemattop
{
	text-align: center;
	height: 26px; /*background-image: url(../images/gridattopbg.jpg);*/
	background-color: #FFECEC;
}
/*
	为标题列加行末分词
*/
.dataList .subjectcolumn
{
	word-break: break-all;
}
/*
	全局 列表选中行内容样式
*/
.dataList .selecteditem
{
	background-color: #E6F2FF;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: dotted;
	border-color: #f7a81c;
	text-align: center;
	height: 26px;
}
/*
	全局 列表换页行内容样式
*/
.dataList .pager
{
	background-color: #FFF;
	text-align: right;
	border: 0;
}
/*
	全局 列表checkbox内容样式
*/
.dataList .checkbox
{
	text-align: center;
	width: 1%;
}
/*
	为列中过长的文字做截断
*/
.dataList .cutOffText
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*
	分隔符样式
*/
.splitter
{
	border-bottom: 1px solid gray;
	height: 1px;
}
/*
	FileMappingAddControl 样式
*/
.fmAddCtrlDivContainer
{
	border: solid 1px #4eb9ef;
	margin-left: 10px;
	padding: 0 5px 0 5px;
}
.fmAddCtrlDivContainer select
{
	margin: 1px 0 5px 0;
}
.fmAddCtrlDivContainer input
{
	margin: 1px 0 5px 0;
}
.fixLetterLength
{
	width: 65px;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
}
.fixLetterLengthNotify
{
	width: 100px;
	text-align: left;
	padding: 0;
	margin-left: -50px;
}
.fixQueryLetterLength
{
	width: 70px;
	text-align: justify;
	text-justify: distribute-all-lines;
	font-weight: bold;
}

/*
baseDialog.css	designed by xuwenzhuo v1.0 date:2008-12-23
*/
.Dialog .dataList
{
	font-size: 12px;
}
.Dialog .dataList td
{
	font-size: 12px;
}
.Dialog .dataList a
{
	font-size: 12px;
}
.Dialog .dataList a:hover
{
	font-size: 12px;
}
/*
	全局 列表抬头标题样式
*/
.Dialog .dataList .title
{
	font-size: 12px;
}
/*
	全局 列表表头样式
*/
.Dialog .dataList .head
{
	font-size: 12px;
}

.Dialog .dataList .head a
{
	font-size: 12px;
}

.Dialog .dataList .head a:hover
{
	font-size: 12px;
}
/*
	全局 列表行内容样式
*/
.Dialog .dataList .item
{
	font-size: 12px;
}
/*
	全局 列表间隔行内容样式
*/
.Dialog .dataList .aitem
{
	font-size: 12px;
}
/*
	全局 列表置顶行内容样式
*/
.Dialog .dataList .itemattop
{
	font-size: 12px;
}
/*
	为标题列加行末分词
*/
.Dialog .dataList .subjectcolumn
{
	font-size: 12px;
}
/*
	全局 列表选中行内容样式
*/
.Dialog .dataList .selecteditem
{
	font-size: 12px;
}
/*
	全局 列表换页行内容样式
*/
.Dialog .dataList .Dialogr
{
	font-size: 12px;
}
/*
	全局 列表checkbox内容样式
*/
.Dialog .dataList .checkbox
{
	font-size: 12px;
}
/*
	为列中过长的文字做截断
*/
.Dialog .dataList .cutOffText
{
	font-size: 12px;
}
