<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="deluxe.web.res" type="MCS.Web.Responsive.Library.DeluxeWebSectionGroup, MCS.Web.Responsive.Library">
      <section name="resPageContent" type="MCS.Web.Responsive.Library.PageContentSection, MCS.Web.Responsive.Library"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config"/>
  </appSettings>
  <deluxe.web.res>
    <resPageContent autoLoad="true">
      <cssClasses>
        <all>
          <add path="/MCSWebApp/Responsive/Font-awesome/css/font-awesome.css"/>
        </all>
        <debug>
          <add path="/MCSWebApp/Responsive/bootstrap/css/bootstrap.css"/>
          <add path="/MCSWebApp/Responsive/portal/css/theme.css" />
        </debug>
        <release>
          <add path="/MCSWebApp/Responsive/bootstrap/css/bootstrap.min.css"/>
          <add path="/MCSWebApp/Responsive/portal/css/theme.css" />
        </release>
      </cssClasses>
      <scripts>
        <debug>
          <add path="/MCSWebApp/Responsive/jquery/jquery-2.0.3.js"/>
          <add path="/MCSWebApp/Responsive/bootstrap/js/bootstrap.js"/>
        </debug>
        <release>
          <add path="/MCSWebApp/Responsive/jquery/jquery-2.0.3.min.js"/>
          <add path="/MCSWebApp/Responsive/bootstrap/js/bootstrap.min.js"/>
        </release>
      </scripts>
    </resPageContent>
  </deluxe.web.res>
  <system.webServer>
    <modules>
      <add name="resHttpEntryModule" type="MCS.Web.Responsive.Library.HttpEntryModule, MCS.Web.Responsive.Library"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages theme="Default">
      <controls>
        <add tagPrefix="res" assembly="MCS.Web.Responsive.WebControls" namespace="MCS.Web.Responsive.WebControls"/>
        <add tagPrefix="op" assembly="MCSResponsiveOAPortal" namespace="MCSResponsiveOAPortal.WebControls" />
      </controls>
    </pages>
    <siteMap defaultProvider="MainSiteMapProvider">
      <providers>
        <add name="MainSiteMapProvider" type="MCSResponsiveOAPortal.PortalSiteMapProvider, MCSResponsiveOAPortal" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        <add siteMapFile="Breadcrumb.sitemap" name="BreadcrumbSiteMapProvider"
                    type="MCSResponsiveOAPortal.PortalSiteMapProvider, MCSResponsiveOAPortal" securityTrimmingEnabled="false" />
      </providers>
    </siteMap>
  </system.web>
</configuration>