<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MCS.Library.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection,MCS.Library" />
	</configSections>
	<LoggingSettings>
		<Loggers>
			<add name="mossLogger" enable="true" >
				<!--<Filters>
          <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal"/>
        </Filters>-->
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Services.Log.MossListLogListener, DocServiceHost"
                         logName="OperationLog" />
				</Listeners>
			</add>
		</Loggers>
		<Formatters>
			<!--<add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter,MCS.Library" />
      <add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter,MCS.Library" />-->
			<add name="MossListFormatter" type="MCS.Library.Services.Log.MossListLogFormatter,DocServiceHost" />

		</Formatters>
	</LoggingSettings>

	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCSConfigDir%\MCS.ConfigMapping.config" />
		<add key="MossWebserviceUrl" value="http://testdoccenter/_vti_bin/search.asmx"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<client />
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
         multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="StorageServiceBinding" receiveTimeout="00:10:00"
                 maxReceivedMessageSize="1073741824" messageEncoding="Mtom">
					<readerQuotas maxArrayLength="1073741824" />
					<security mode="TransportCredentialOnly" />
				</binding>
				<binding name="FetchServiceBinding" receiveTimeout="00:10:00"
                 maxReceivedMessageSize="1073741824" messageEncoding="Mtom">
					<readerQuotas maxArrayLength="1073741824" />
					<security mode="TransportCredentialOnly" />
				</binding>
				<binding name="DocumentBuilderServiceBinding" receiveTimeout="00:10:00"
                maxReceivedMessageSize="1073741824" messageEncoding="Mtom">
					<readerQuotas maxArrayLength="1073741824" />
					<security mode="TransportCredentialOnly" />
				</binding>
				<binding name="DocumentAnalyzeServiceBinding" receiveTimeout="00:10:00"
                maxReceivedMessageSize="1073741824" messageEncoding="Mtom">
					<readerQuotas maxArrayLength="1073741824" />
					<security mode="TransportCredentialOnly" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="MCS.Library.Services.Services.DCSFetchServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
				<behavior name="userBehavior">
					<userBehaviorElement/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="userBehaviorElement" type="MCS.Library.Services.Behaviors.UserBehaviorElement, DocServiceHost"/>
			</behaviorExtensions>
		</extensions>

		<services>
			<service name="MCS.Library.Services.DCSStorageService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="StorageServiceBinding"
                 contract="MCS.Library.SOA.DocServiceContract.IDCSStorageService" behaviorConfiguration="userBehavior" />
			</service>
			<service name="MCS.Library.Services.DCSFetchService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="FetchServiceBinding"
                 contract="MCS.Library.SOA.DocServiceContract.IDCSFetchService" behaviorConfiguration="userBehavior"/>
			</service>
			<service name="MCS.Library.Services.DCSDocumentBuilderService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="DocumentBuilderServiceBinding"
                 contract="MCS.Library.SOA.DocServiceContract.IDCSDocumentBuilderService" behaviorConfiguration="userBehavior"/>
			</service>
			<service name="MCS.Library.Services.DCSDocumentAnalyzeService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="DocumentAnalyzeServiceBinding"
                 contract="MCS.Library.SOA.DocServiceContract.IDCSDocumentAnalyzeService" behaviorConfiguration="userBehavior"/>
			</service>
		</services>
		<!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<applicationSettings>
		<MCS.Library.Services.Properties.Settings>
			<setting name="DocServiceHost_MossQuery_QueryService" serializeAs="String">
				<value>http://testdoccenter/_vti_bin/search.asmx</value>
			</setting>
		</MCS.Library.Services.Properties.Settings>
	</applicationSettings>
</configuration>
