<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
        <section name="tenantContextSettings" type="MCS.Library.Configuration.TenantContextSettings, MCS.Library" />
    </configSections>
    <tenantContextSettings enabled="true" defaultTenantCode="D5561180-7617-4B67-B68B-1F0EA604B509" />
    <LoggingSettings>
        <Loggers>
            <add name="Funds" enable="true" >
                <Filters>
                    <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal" />
                </Filters>
                <Listeners>
                    <add name="EventLogListener1" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter"
                                                 logName="ServiceLog" source="Funds" />
                </Listeners>
            </add>
        </Loggers>
    </LoggingSettings>
</configuration>