.OverRow 
{
	background-color: #A1ADF1;
    text-align : center;
}
.SelectedRow 
{
	background-color : #D1DDF1;
	color : #333333;
    font-weight: bold;
    text-align : center;
}
.Row
{
	background-color : #EFF3FB;
    text-align : center;
}
.AlternatingRow
{
	background-color : White;
    text-align : center;
}
.HeaderRow
{
	background-color :Black;
	color : White;
    font-weight: bold;
    text-align : center;
}
.HeaderRow a
{
	color : White;
}
.PagerRow
{
	background-color : White;
}
.hidden
{
	display: none;
}

body table
{
	font-size : 12px;
}

.DeluxeGird textarea,input,select
{
	font-size: 12px; color: #000000; font-weight: normal;
	border-top-width : 1px; border-right-width : 1px;
	border-bottom-width : 1px; border-left-width : 1px;
}


