<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="propertyGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyGroupSettings, MCS.Library.SOA.DataObjects"/>
		<section name="enumSettings" type="MCS.Library.SOA.DataObjects.EnumSettings, MCS.Library.SOA.DataObjects"/>
		<section name="wfActionSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActionSettings, MCS.Library.SOA.DataObjects"/>
		<section name="wfActivitySettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActivitySettings, MCS.Library.SOA.DataObjects"/>
		<section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
		<section name="wfSimulationSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfSimulationSettings, MCS.Library.SOA.DataObjects"/>
		<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
		<section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
		<section name="userSettings" type="MCS.Library.SOA.DataObjects.UserSettingsConfig, MCS.Library.SOA.DataObjects"/>
		<section name="lockSettings" type="MCS.Library.SOA.DataObjects.LockConfigSetting, MCS.Library.SOA.DataObjects"/>
		<section name="soaUserTaskOperationSettings" type="MCS.Library.SOA.DataObjects.UserTaskOperationSettings, MCS.Library.SOA.DataObjects"/>
		<section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
		<section name="rolesDefineConfig" type="MCS.Library.Passport.RolesDefineConfig,  MCS.Library.Passport"/>
		<section name="emailMessageSettings" type="MCS.Library.SOA.DataObjects.EmailMessageSettings, MCS.Library.SOA.DataObjects"/>
		<section name="identityConfigSettings" type="MCS.Library.Configuration.IdentityConfigSettings, MCS.Library"/>
		<section name="serverInfoConfigSettings" type="MCS.Library.Configuration.ServerInfoConfigSettings, MCS.Library"/>
		<section name="validatorSettings" type="MCS.Library.Core.ValidatorSettings, MCS.Library"/>
		<section name="appPathSettings" type="MCS.Library.SOA.DataObjects.AppPathConfigSettings, MCS.Library.SOA.DataObjects"/>
		<section name="materialContentSettings" type="MCS.Library.SOA.DataObjects.MaterialContentSettings, MCS.Library.SOA.DataObjects"/>
		<section name="userRecentDataSettings" type="MCS.Library.SOA.DataObjects.UserRecentDataConfigurationSection, MCS.Library.SOA.DataObjects"/>
		<section name="persisterGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyPersisterSettings, MCS.Library.SOA.DataObjects"/>
		<section name="sysTaskSettings" type="MCS.Library.SOA.DataObjects.SysTaskSettings, MCS.Library.SOA.DataObjects"/>
		<section name="cacheSettings" type="MCS.Library.Caching.CacheSettingsSection, MCS.Library"/>
		<section name="wfExtraPersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfExtraPersistenceSettings, MCS.Library.SOA.DataObjects"/>
		<section name="wfQueuePersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfQueuePersistenceSettings, MCS.Library.SOA.DataObjects"/>
		<section name="wfDecoratorSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfDecoratorSettings, MCS.Library.SOA.DataObjects"/>
		<section name="scriptJsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>

		<section name="wfServiceInvokerSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceInvokerSettings, MCS.Library.WcfExtensions"/>
		<section name="resourceUriSettings" type="MCS.Library.SOA.DataObjects.ResourceUriSettings, MCS.Library.SOA.DataObjects"/>
	</configSections>
	<wfServiceInvokerSettings>
		<connectionMappings>
			<add name="HB2008" destination="HB2008_TEST"/>
		</connectionMappings>
	</wfServiceInvokerSettings>
	<scriptJsonSerialization maxJsonLength="500">
		<converters>
			<add name="StyleCollectionConverter" type="MCS.Web.Library.Script.StyleCollectionConverter, MCS.Web.Library.Script.Json"/>
			<add name="StyleConverter" type="MCS.Web.Library.Script.StyleConverter, MCS.Web.Library.Script.Json"/>
			<add name="DataRowConverter" type="MCS.Web.Library.Script.DataRowConverter, MCS.Web.Library.Script.Json"/>

			<add name="PropertyValueConverter" type="MCS.Library.SOA.DataObjects.PropertyValueConverter, MCS.Library.SOA.DataObjects"/>
			<add name="PropertyValidatorDescriptorConverter" type="MCS.Library.SOA.DataObjects.PropertyValidatorDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="PropertyValidatorParameterDescriptorConverter" type="MCS.Library.SOA.DataObjects.PropertyValidatorParameterDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="PropertyLayoutConverter" type="MCS.Library.SOA.DataObjects.PropertyLayoutConverter, MCS.Library.SOA.DataObjects"/>

			<add name="OguRoleConverter" type="MCS.Library.SOA.DataObjects.OguRoleConverter, MCS.Library.SOA.DataObjects"/>
			<add name="OguObjectConverter" type="MCS.Library.SOA.DataObjects.OguObjectConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfParameterDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfParameterDescriptorConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfActivityDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfProcessDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfProcessDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfForwardTransitionDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfForwardTransitionDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfVariableDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfVariableDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfUserResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfUserResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfConditionDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfConditionDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfDepartmentResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfDepartmentResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfGroupResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfGroupResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfDynamicResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfDynamicResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfRoleResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfRoleResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfAURoleResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfAURoleResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WrappedAUSchemaRoleConverter" type="MCS.Library.SOA.DataObjects.Workflow.WrappedAUSchemaRoleConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfBranchProcessTemplateDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessTemplateDescriptorConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfActivityAssigneesResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityAssigneesResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfActivityOperatorResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityOperatorResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfRelativeLinkDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfRelativeLinkDescriptorConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfExternalUserConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfExternalUserConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfControlNextStepConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfControlNextStepConverter, MCS.Library.SOA.DataObjects"/>

			<add name="UserSettingsConverter" type="MCS.Library.SOA.DataObjects.Workflow.UserSettingsConverter, MCS.Library.SOA.DataObjects"/>
			<add name="UserSettingsCategoryConverter" type="MCS.Library.SOA.DataObjects.Workflow.UserSettingsCategoryConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfAssigneeConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfAssigneeConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfActivityDescriptorCreateParamsConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityDescriptorCreateParamsConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfMatrixDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfMatrixDefinitionConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfMatrixDimensionDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfMatrixDimensionDefinitionConverter, MCS.Library.SOA.DataObjects"/>

			<add name="WfNetworkCredentialConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfNetworkCredentialConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfServiceAddressDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfServiceAddressDefinitionConverter, MCS.Library.SOA.DataObjects"/>
			<add name="WfServiceOperationDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfServiceOperationDefinitionConverter, MCS.Library.SOA.DataObjects"/>

			<add name="MaterialConverter" type="MCS.Web.WebControls.MaterialConverter, MCS.Library.SOA.Web.WebControls"/>
			<add name="DeltaMaterialConverter" type="MCS.Web.WebControls.DeltaMaterialConverter, MCS.Library.SOA.Web.WebControls"/>
			<add name="MultiMaterialConverter" type="MCS.Web.WebControls.MultiMaterialConverter, MCS.Library.SOA.Web.WebControls"/>
		</converters>
	</scriptJsonSerialization>
	<resourceUriSettings>
		<urls>
			<!--生产环境下，应该配置表单服务器的根Url，例如：http://formServer-->
			<!--<add name="userTaskRoot" description="待办或表单url的根路径" uri="http://form.oa.gome.inc"/>-->

			<!--生产环境下，应该配置门户服务器的绝对Url，例如：http://portalServer/MCSWebApp/MCSOAPortal/frames/ .htm-->
			<add name="refreshBridge" description="刷新门户待办箱" uri="/MCSWebApp/MCSOAPortal/frames/refreshBridge.htm"/>
			<add name="appLogView" description="应用日志查看" uri="/MCSWebApp/OACommonPages/UserOperationLog/UserOperationLogView.aspx"/>
			<add name="appTrace" description="流程跟踪查看" uri="/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>
			<add name="wfRuntimeViewerlinkPageUrl" description="流程跟踪页面" uri="/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>

			<!--moss-->
			<add name="MossReleaseService" description="Moss发布地址" uri="http://10.0.9.111:8001/MossListItem/AuthorizationListItem.asmx"/>
			<add name="ExcelServiceUrl" description="MossExcel计算服务" uri="http://testdoccenter/_vti_bin/excelservice.asmx"/>
			<!--<add name="appTrace" description="应用日志查看" uri="/SinoOceanWebApp/appTraceBridge.htm#/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>-->
			<!--权限中心设置-->
			<add name="pcServiceAdSync" description="权限中心AD同步Web服务的地址" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterToADService.asmx"/>

			<add name="workflowDesigner" description="权限中心查人员的流程模版的地址" uri="/MCSWebApp/WorkflowDesigner/Default.aspx"/>
			<add name="editProcess" description="编辑流程属性的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/EditProperties.aspx"/>
			<add name="adminAddTransitionUrl" description="增加连线的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AddTransitionDialog.aspx"/>
			<add name="adminAddActivityUrl" description="增加活动的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AddActivityDialog.aspx"/>
			<add name="adminDeleteObjectUrl" description="删除对象的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/DeleteObjectDialog.aspx"/>
			<add name="adminAutoMoveToUrl" description="自动流转的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AdminAutoMoveToDialog.aspx"/>

			<add name="wfProcessService" description="工作流流程服务地址" uri="http://localhost/MCSWebApp/WfPlatformServices/Services/WfProcessService.svc"/>
		</urls>
		<features>
			<add name="selectApprover" description="选择审批人" width="600" height="200" left="400" top="300" center="false" resizable="true" showScrollBars="false" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false"/>
			<add name="genericProcess" description="通用流程" width="1024" height="720" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false"/>
			<add name="wideFormProcess" description="横向比较宽的表单" width="1024" height="720" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false"/>
			<add name="viewProcess" description="流程跟踪" width="800" height="580" left="100" top="50" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false"/>
		</features>
	</resourceUriSettings>
	<wfDecoratorSettings>
		<decorators>
			<add name="secretaryDecorator" type="MCS.Library.SOA.DataObjects.Workflow.WfSecretaryDecorator, MCS.Library.SOA.DataObjects"/>
		</decorators>
	</wfDecoratorSettings>
	<wfQueuePersistenceSettings>
		<persisters>
			<add name="WfCurrentAssigneesPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfCurrentAssigneesPersistManager, MCS.Library.SOA.DataObjects"/>
			<add name="WfProcessRelativeParamsPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfProcessRelativeParamsPersistManager, MCS.Library.SOA.DataObjects"/>
			<add name="WfProcessDimensionPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfProcessDimensionPersistManager, MCS.Library.SOA.DataObjects"/>
		</persisters>
	</wfQueuePersistenceSettings>
	<wfExtraPersistenceSettings>
		<persisters>
			<add name="WfPersistQueuePersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfPersistQueuePersistManager, MCS.Library.SOA.DataObjects"/>
		</persisters>
	</wfExtraPersistenceSettings>
	<cacheSettings scanvageInterval="600" defaultQueueLength="200">
		<queueSettings>
			<add typeName="MCS.Library.SOA.DataObjects.SOARolePropertiesCache" queueLength="0"/>
		</queueSettings>
	</cacheSettings>
	<sysTaskSettings>
		<typeMappings>
			<add name="InvokeService" type="MCS.Library.SOA.DataObjects.InvokeServiceSyncTask, MCS.Library.SOA.DataObjects"/>
			<add name="InvokeServiceDirectly" type="MCS.Library.SOA.DataObjects.InvokeServiceTaskExecutor, MCS.Library.SOA.DataObjects"/>
			<add name="StartWorkflow" type="MCS.Library.SOA.DataObjects.StartWorkflowSyncTask, MCS.Library.SOA.DataObjects"/>
			<add name="ExecuteSysTaskActivity" type="MCS.Library.SOA.DataObjects.ExecuteSysTaskActivityTaskExecutor, MCS.Library.SOA.DataObjects"/>
		</typeMappings>
	</sysTaskSettings>
	<!-- 用户最近数据设置 -->
	<userRecentDataSettings>
		<categories>
			<add name="recentTimepoints" defaultRecentCount="10">
				<properties>
					<add name="timePoint" displayName="时间点" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31"/>
					<add name="lastAccessDate" displayName="上次使用的时间" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31"/>
					<add name="pinned" displayName="是否是固定的条目" category="recentTimepoints" type="Boolean" defaultValue="9999-12-31"/>
				</properties>
			</add>
			<add name="recentOrgs" defaultRecentCount="10">
				<properties>
					<add name="orgId" displayName="组织机构ID" category="recentOrgs" type="String" defaultValue=""/>
					<add name="timePoint" displayName="时间点" category="recentOrgs" type="DateTime" defaultValue="9999-12-31"/>
					<add name="lastAccessDate" displayName="上次使用的时间" category="recentOrgs" type="DateTime" defaultValue="9999-12-31"/>
					<add name="pinned" displayName="是否是固定的条目" category="recentOrgs" type="Boolean" defaultValue="9999-12-31"/>
				</properties>
			</add>
		</categories>
	</userRecentDataSettings>
	<materialContentSettings connectionName="">
		<typeFactories>
			<add name="persistManager" type="MCS.Library.SOA.DataObjects.SqlMaterialContentPersistManager, MCS.Library.SOA.DataObjects"/>
			<!--<add name="persistManager" type="MCS.Library.SOA.DataObjects.FileMaterialContentPersistManager, MCS.Library.SOA.DataObjects" />-->
		</typeFactories>
	</materialContentSettings>
	<appPathSettings>
		<paths>
			<add name="GenericProcess" dir="C:\SinooceanProject\UploadFiles"/>
			<add name="Portal" dir="C:\SinooceanProject\UploadFiles"/>
			<add name="ArchiveFiles" dir="C:\SinooceanProject\ArchiveFiles"/>

			<!-- 上传文件路径，根据需要修改 -->
			<add name="UploadRootPath" dir="C:\SinooceanProject\UploadFiles"/>
			<!-- 副本文件路径，根据需要修改 -->
			<add name="copyUploadRootPath" dir="C:\SinooceanProject\UploadFilesCopy"/>
		</paths>
	</appPathSettings>
	<!--锁相关的配置-->
	<lockSettings enabled="false" defaultEffectiveTime="00:04:00" defaultCheckIntervalTime="00:01:00"/>
	<identityConfigSettings>
		<identities>
			<add name="smtpSender" userId="soaadmin" domain="sinooceanland" password="pass@word01"/>
		</identities>
	</identityConfigSettings>
	<serverInfoConfigSettings>
		<serverInfos>
			<add name="smtp" serverName="exmbsrv.sinooceanland.com" identityName="smtpSender" port="25" authenticateType="Basic"/>
		</serverInfos>
	</serverInfoConfigSettings>
	<emailMessageSettings connectionName="" serverInfoName="smtp" useDefaultCredentials="false" afterSentOP="MoveToSentTable" defaultSender="soaadmin&lt;soaadmin@sinooceanland.com&gt;"/>
	<!--待办事项发送时的配置-->
	<soaUserTaskOperationSettings>
		<operations>
			<add name="defaultUserTaskOP" type="MCS.Library.SOA.DataObjects.DefaultUserTaskOperationImpl, MCS.Library.SOA.DataObjects"/>
			<add name="userTaskChangingNotifier" type="MCS.Library.SOA.DataObjects.UserTaskChangingNotifier, MCS.Library.SOA.DataObjects"/>
		</operations>
	</soaUserTaskOperationSettings>
	<connectionManager configSource="connectionManager.config"/>
	<validatorSettings>
		<validators>
			<add name="StringEmptyValidator" type="MCS.Library.Validation.StringEmptyValidator, MCS.Library"/>
			<add name="StringLengthValidator" type="MCS.Library.Validation.StringLengthValidator, MCS.Library"/>
			<add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library"/>

			<add name="ObjectNullValidator" type="MCS.Library.Validation.ObjectNullValidator, MCS.Library"/>
			<add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library"/>
			<add name="IntegerRangeValidator" type="MCS.Library.Validation.IntegerRangeValidator, MCS.Library"/>
			<add name="DateTimeEmptyValidator" type="MCS.Library.Validation.DateTimeEmptyValidator, MCS.Library"/>
			<add name="DateTimeRangeValidator" type="MCS.Library.Validation.DateTimeRangeValidator, MCS.Library"/>
		</validators>
	</validatorSettings>
	<!-- 机构人员和授权管理访问相关配置信息 -->
	<oguPermissionSettings configSource="oguPermissionSettings.config"/>
	<!-- 机构人员和授权管理访问相关配置信息 -->
	<oguObjectSettings>
		<objects>
			<add name="admin" fullPath="liumh" pathType="LogOnName"/>
			<add name="requestor" fullPath="wangli5" pathType="LogOnName"/>
			<add name="ceo" fullPath="liming" pathType="LogOnName"/>
			<add name="vp" fullPath="wangxiaoguang" pathType="LogOnName"/>
			<add name="approver1" fullPath="fanhy" pathType="LogOnName"/>
			<add name="approver2" fullPath="zhaoyj" pathType="LogOnName"/>
		</objects>
	</oguObjectSettings>
	<rolesDefineConfig>
		<rolesDefine>
			<add name="testRole" description="门户管理员" roles="OAPORTAL:FORM_QUERY"/>
			<add name="nestedRole" description="内嵌矩阵" roles="OAPORTAL:FORM_QUERY_ADMIN"/>
		</rolesDefine>
	</rolesDefineConfig>
	<userSettings>
		<categories>
			<add name="CommonSettings" description="通用设置">
				<properties>
					<add name="ToDoListPageSize" displayName="待办事项每页显示行数" category="列表" type="Integer" defaultValue="10"/>
					<add name="ProcessedListPageSize" displayName="已办事项每页显示行数" category="列表" type="Integer" defaultValue="10"/>
					<add name="ToDoListPageSize" displayName="待办事项每页显示行数" category="列表" type="Integer" defaultValue="10"/>
					<add name="CommonOpinion" displayName="常用意见" category="意见" type="String" defaultValue="同意 不同意"/>
					<add name="FileOpenWay" displayName="附件文件打开方式" category="附件" type="String" defaultValue="doc;dot;htm;html;mht;mhtml;ppt;shtml;xls;xlsx;pptx;ppt;vsd;jpg;jpeg;gif;bmp;gd;sep;tif"/>
				</properties>
			</add>
		</categories>
	</userSettings>
	<enumSettings>
		<groups>
			<add name="DateFieldType" description="数据字段类型">
				<items>
					<add name="String" description="字符串"/>
					<add name="Integer" description="整型"/>
					<add name="Boolean" description="布尔型"/>
				</items>
			</add>
		</groups>
	</enumSettings>
	<propertyGroupSettings>
		<groups>
			<add name="StringFieldProperties">
				<properties>
					<add name="Name" description="名称" category="常规" type="String">
						<validators>
							<add name="StringEmptyValidator" type="MCS.Library.Validation.StringEmptyValidator, MCS.Library" messageTemplate="名称不能为空啊"/>
						</validators>
					</add>
					<add name="MinLength" description="最小长度" category="约束" type="Integer" defaultValue="0">
						<validators>
							<add name="IntegerRangeValidator" type="MCS.Library.Validation.IntegerRangeValidator, MCS.Library" messageTemplate="最小长度必须在0和10之间">
								<parameters>
									<add name="lowerBound" type="Integer" paramValue="0"/>
									<add name="upperBound" type="Integer" paramValue="10"/>
								</parameters>
							</add>
						</validators>
					</add>
					<add name="MaxLength" description="最大长度" category="约束" type="Integer" defaultValue="100">
						<validators>
							<add name="IntegerRangeValidator" type="MCS.Library.Validation.IntegerRangeValidator, MCS.Library" messageTemplate="最大长度必须在255和300之间">
								<parameters>
									<add name="lowerBound" type="Integer" paramValue="255"/>
									<add name="upperBound" type="Integer" paramValue="300"/>
								</parameters>
							</add>
						</validators>
					</add>
				</properties>
			</add>
			<add name="IntegerFieldProperties">
				<properties>
					<add name="Name" description="名称" category="常规" type="String"/>
					<add name="MinValue" description="最小值" category="约束" type="Integer" defaultValue="0"/>
					<add name="MaxValue" description="最大值" category="约束" type="Integer" defaultValue="100"/>
				</properties>
			</add>
			<add name="DecimalFieldProperties">
				<properties>
					<add name="Name" description="名称" category="常规" type="String"/>
					<add name="Precision" description="精度" category="约束" type="Integer" defaultValue="18"/>
					<add name="Scale" description="小数位" category="约束" type="Integer" defaultValue="0"/>
				</properties>
			</add>
			<add name="DataObjectFieldProperties">
				<properties>
					<add name="Name" description="名称" category="常规" type="String"/>
					<add name="ObjectType" description="对象类型" category="常规" editorKey="DataObjectSelector"/>
				</properties>
			</add>
			<add name="DataObjectCollectionFieldProperties">
				<properties>
					<add name="Name" description="名称" category="常规" type="String"/>
					<add name="ObjectType" description="对象类型" category="常规" editorKey="DataObjectSelector"/>
				</properties>
			</add>
		</groups>
	</propertyGroupSettings>

	<persisterGroupSettings>
		<persisters>
			<add name="ImagePersister" type="MCS.Library.SOA.DataObjects.ImagePropertyPersister, MCS.Library.SOA.DataObjects"/>
		</persisters>
	</persisterGroupSettings>

	<!--流程定义的相关配置开始-->
	<wfSimulationSettings connectionName="HB2008_SIMULATION">
		<writers>
			<add name="htmlSimulationWriter" type="MCS.Library.SOA.DataObjects.Workflow.WfHtmlSimulationWriter, MCS.Library.SOA.DataObjects"/>
		</writers>
	</wfSimulationSettings>
	<workflowSettings connectionName="HB2008" outputShortType="false" useActivityPlanTime="true">
		<typeFactories>
			<add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects"/>
			<add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects"/>
		</typeFactories>
	</workflowSettings>
	<wfActionSettings>
		<actions>
			<add name="EnterActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityUserTaskAction, MCS.Library.SOA.DataObjects"/>
			<add name="LeaveActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityUserTaskAction, MCS.Library.SOA.DataObjects"/>
			<add name="CancelProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelProcessUserTaskAction, MCS.Library.SOA.DataObjects"/>
			<add name="WithdrawUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawUserTaskAction, MCS.Library.SOA.DataObjects"/>
			<add name="EnterActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityInvokeServiceAction, MCS.Library.SOA.DataObjects"/>
			<add name="LeaveActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityInvokeServiceAction, MCS.Library.SOA.DataObjects"/>
			<add name="RestoreProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.RestoreProcessUserTaskAction, MCS.Library.SOA.DataObjects"/>
			<add name="ProcessStatusChangeAction" type="MCS.Library.SOA.DataObjects.Test.WorkflowTest.ConfigurationTest.ProcessStatusChangeFakeAction, MCS.Library.SOA.DataObjects.Test" />
		</actions>
		<functions>
			<add name="defaultUserFunctions" type="MCS.Library.SOA.DataObjects.Workflow.WfDefaultUserFunctionImpl, MCS.Library.SOA.DataObjects"/>
			<add name="testUserFunctions" type="MCS.Library.SOA.DataObjects.Test.WorkflowTest.UserFunction.WfTestUserFunction, MCS.Library.SOA.DataObjects.Test"/>
		</functions>
	</wfActionSettings>
	<wfActivitySettings configSource="wfActivitySettings.config"/>
	<!--流程定义的相关配置结束-->
	<LoggingSettings>
		<Loggers>
			<add name="HB2008ServiceMain" enable="true">
				<Filters>
					<add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal"/>
				</Filters>
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="ServiceLog" source="HB2008ServiceMain"/>
				</Listeners>
			</add>
			<add name="SMTP" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="SMTP" source="SMTP"/>
				</Listeners>
			</add>
			<add name="webApplicationError" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="HB2008" source="MCSWebApp"/>
				</Listeners>
			</add>
			<add name="WfExecutor" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfExecutor"/>
				</Listeners>
			</add>
			<add name="WfRuntime" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfRuntime"/>
				</Listeners>
			</add>
			<add name="PageMonitor" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
				</Listeners>
			</add>
			<add name="UdpCache" enable="true">
				<Listeners>
					<add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
				</Listeners>
			</add>
		</Loggers>
		<Formatters>
			<add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter, MCS.Library"/>
			<add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter, MCS.Library"/>
		</Formatters>
	</LoggingSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
