<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="wfActionSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActionSettings, MCS.Library.SOA.DataObjects"/>
        <section name="wfActivitySettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActivitySettings, MCS.Library.SOA.DataObjects"/>
        <section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
        <section name="wfSimulationSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfSimulationSettings, MCS.Library.SOA.DataObjects" />
        <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
        <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
        <section name="wfExtraPersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfExtraPersistenceSettings, MCS.Library.SOA.DataObjects" />
        <section name="wfQueuePersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfQueuePersistenceSettings, MCS.Library.SOA.DataObjects" />
        <section name="wfDecoratorSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfDecoratorSettings, MCS.Library.SOA.DataObjects"/>
        <section name="soaUserTaskOperationSettings" type="MCS.Library.SOA.DataObjects.UserTaskOperationSettings, MCS.Library.SOA.DataObjects" />
        <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
    </configSections>
    <oguPermissionSettings configSource="oguPermissionSettings.config" />
    <connectionManager configSource="connectionManager.config" />
    <!--流程定义的相关配置开始-->
    <wfSimulationSettings connectionName="HB2008_SIMULATION">
        <writers>
            <add name="htmlSimulationWriter" type="MCS.Library.SOA.DataObjects.Workflow.WfHtmlSimulationWriter, MCS.Library.SOA.DataObjects"/>
        </writers>
    </wfSimulationSettings>
    <workflowSettings connectionName="HB2008" outputShortType="false" useActivityPlanTime="true">
        <typeFactories>
            <add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects" />
            <add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects" />
        </typeFactories>
    </workflowSettings>
    <wfActivitySettings configSource="wfActivitySettings.config" />
    <wfActionSettings>
        <actions>
            <add name="EnterActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="LeaveActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="CancelProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="WithdrawUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="EnterActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="LeaveActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="RestoreProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.RestoreProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
        </actions>
        <functions>
            <add name="defaultUserFunctions" type="MCS.Library.SOA.DataObjects.Workflow.WfDefaultUserFunctionImpl, MCS.Library.SOA.DataObjects" />
        </functions>
    </wfActionSettings>
    <wfDecoratorSettings>
        <decorators>
            <add name="secretaryDecorator" type="MCS.Library.SOA.DataObjects.Workflow.WfSecretaryDecorator, MCS.Library.SOA.DataObjects"/>
        </decorators>
    </wfDecoratorSettings>
    <wfQueuePersistenceSettings>
        <persisters>
            <add name="WfCurrentAssigneesPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfCurrentAssigneesPersistManager, MCS.Library.SOA.DataObjects" />
            <add name="WfProcessRelativeParamsPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfProcessRelativeParamsPersistManager, MCS.Library.SOA.DataObjects" />
            <add name="WfProcessDimensionPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfProcessDimensionPersistManager, MCS.Library.SOA.DataObjects" />
        </persisters>
    </wfQueuePersistenceSettings>
    <wfExtraPersistenceSettings>
        <persisters>
            <add name="WfPersistQueuePersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfPersistQueuePersistManager, MCS.Library.SOA.DataObjects" />
        </persisters>
    </wfExtraPersistenceSettings>
    <!--待办事项发送时的配置-->
    <soaUserTaskOperationSettings>
        <operations>
            <add name="defaultUserTaskOP" type="MCS.Library.SOA.DataObjects.DefaultUserTaskOperationImpl, MCS.Library.SOA.DataObjects"/>
            <add name="userTaskChangingNotifier" type="MCS.Library.SOA.DataObjects.UserTaskChangingNotifier, MCS.Library.SOA.DataObjects"/>
        </operations>
    </soaUserTaskOperationSettings>
    <!--流程定义的相关配置结束-->
    <LoggingSettings>
        <Loggers>
            <add name="HB2008ServiceMain" enable="true" >
                <Filters>
                    <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal" />
                </Filters>
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter"
																					 logName="ServiceLog"  source="HB2008ServiceMain" />
                </Listeners>
            </add>
            <add name="SMTP" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter"
																		 logName="SMTP"  source="SMTP" />
                </Listeners>
            </add>
            <add name="webApplicationError" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter"
																		 logName="HB2008"  source="MCSWebApp" />
                </Listeners>
            </add>
            <add name="WfExecutor" enable="true" >
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter"
																					 logName="HB2008"  source="WfExecutor" />
                </Listeners>
            </add>
            <add name="WfRuntime" enable="true" >
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter"
																					 logName="HB2008"  source="WfRuntime" />
                </Listeners>
            </add>
            <add name="PageMonitor" enable="true" >
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter"
																					 logName="HB2008"  source="PageMonitor" />
                </Listeners>
            </add>
            <add name="UdpCache" enable="true" >
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter"
							 logName="HB2008"  source="PageMonitor" />
                </Listeners>
            </add>
        </Loggers>
        <Formatters>
            <add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter, MCS.Library" />
            <add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter, MCS.Library" />
        </Formatters>
    </LoggingSettings>
</configuration>