<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
    <section name="propertyGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyGroupSettings, MCS.Library.SOA.DataObjects"/>
    <section name="propertyEditorSettings" type="MCS.Web.WebControls.PropertyEditorSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="propertyEditorParamsSettings" type="MCS.Library.SOA.DataObjects.PropertyEditorParamsSettings, MCS.Library.SOA.DataObjects"/>
    <section name="propertyFormLayoutSettings" type="MCS.Library.SOA.DataObjects.PropertyFormLayoutSettings, MCS.Library.SOA.DataObjects"/>
    <section name="dropdownPropertyDataSourceSettings" type="MCS.Web.WebControls.DropdownPropertyDataSourceSettings, MCS.Library.SOA.Web.WebControls"  />
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions" />
    <section name="cutomerServiceExecutiveSetting" type="MCS.Web.WebControls.CutomerServiceExecutiveSetting, MCS.Library.SOA.Web.WebControls" />
  </configSections>
  <cutomerServiceExecutiveSetting >
    <cutomerServiceExecutives>
      <add name="曹节" logOnName="曹节" category=""/>
    </cutomerServiceExecutives>
  </cutomerServiceExecutiveSetting>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="WfFormTemplate.Services.WfProcessService" contractName="WfFormTemplate.Services.IWfProcessService" debug="true" atlasEnabled="True" />
      <!--<add serviceName="WebTestProject.WcfDemo.Services.WcfBasicBindingService" contractName="WebTestProject.WcfDemo.IWcfDemoContract" debug="true" bindingMode="BasicHttpBinding" />-->
    </maps>
  </wfServiceContractMapSettings>
  <propertyGroupSettings>
    <groups>
      <add name="DynamicFormTest">
        <properties>
          <add name="Name" description="名称" displayName="名称"  category="section1" type="String" sortOrder="1" />
          <add name="Gender" description="性别" displayName="性别" category="section1" type="Enum" sortOrder="2"  editorKey="EnumPropertyEditor" editorParams="{&quot;dropDownDataSourceID&quot;:&quot;genderDataSource&quot;}"  visible="True"  />
          <add name="Date" description="日期" displayName="日期" category="section2" type="DateTime" editorKey="DatePropertyEditor"  />
          <add name="DateTime" description="时间" displayName="时间"  category="section2" type="DateTime" editorKey="DateTimePropertyEditor"  />
          <add name="Image" description="Image类型" displayName="图像" category="section4"  editorKey="ImageUploaderPropertyEditor"  />
          <add name="Materials1" description="附件1" displayName="附件1" category="section5" type="DataObject" editorKey="MaterialPropertyEditor" editorParams="{&quot;cloneControlID&quot;:&quot;MaterialEditorTest_Clone1&quot;,&quot;rootPathName&quot;:&quot;GenericProcess&quot;,&quot;serverControlProperties&quot;:&quot;[{\&quot;propertyName\&quot;:\&quot;MaterialUseMode\&quot;,\&quot;stringValue\&quot;:\&quot;1\&quot;,\&quot;dataType\&quot;:9},{\&quot;propertyName\&quot;:\&quot;TemplateUrl\&quot;,\&quot;stringValue\&quot;:\&quot;/MCSWebApp/WfFormTemplate/Forms/Test.xlsx\&quot;}]&quot;}"  visible="True"  />
          <add name="Materials2" description="附件2" displayName="附件2" category="section5" type="DataObject" editorKey="MaterialPropertyEditor" editorParams="{&quot;cloneControlID&quot;:&quot;MaterialEditorTest_Clone2&quot;,&quot;rootPathName&quot;:&quot;GenericProcess&quot;,&quot;serverControlProperties&quot;:&quot;[{\&quot;propertyName\&quot;:\&quot;MaterialUseMode\&quot;,\&quot;stringValue\&quot;:\&quot;3\&quot;,\&quot;dataType\&quot;:9},{\&quot;propertyName\&quot;:\&quot;TemplateUrl\&quot;,\&quot;stringValue\&quot;:\&quot;/MCSWebApp/WfFormTemplate/Forms/Test.xlsx\&quot;}]&quot;}"  visible="True"  />
          <add name="Organizations" description="人员选择控件" displayName="组织" category="section3" type="DataObject" editorKey="OUUserInputPropertyEditor" editorParams="{&quot;cloneControlID&quot;:&quot;OUUserInputPropertyEditor_Users&quot;,&quot;serverControlProperties&quot;:&quot;[{\&quot;propertyName\&quot;:\&quot;ListMask\&quot;,\&quot;stringValue\&quot;:\&quot;1\&quot;,\&quot;dataType\&quot;:9}]&quot;}"  visible="True"  />
          <add name="Users" description="人员选择控件" displayName="人员" category="section3" type="DataObject" editorKey="OUUserInputPropertyEditor" editorParams="{&quot;cloneControlID&quot;:&quot;OUUserInputPropertyEditor_ListMask&quot;,&quot;serverControlProperties&quot;:&quot;[{\&quot;propertyName\&quot;:\&quot;SelectMask\&quot;,\&quot;stringValue\&quot;:\&quot;2\&quot;,\&quot;dataType\&quot;:9}]&quot;}"  visible="True"  />
          <add name="Roles" description="角色选择控件" displayName="角色" category="section1" type="DataObject" sortOrder="3"  editorKey="RoleGraphPropertyEditor" visible="True" defaultValue="ZFGL:PXII" />
          <add name="Grid1" description="ClientGrid1" showTitle="false" displayName="ClientGrid控件" category="section6" type="DataObject" editorKey="ClientGridPropertyEditor" editorParamsSettingsKey="clientGridEditorParams" editorParams="{&quot;cloneControlID&quot;:&quot;MaterialEditorTest_Clone1&quot;,&quot;rootPathName&quot;:&quot;GenericProcess&quot;}"  visible="True"  />
        </properties>
      </add>
    </groups>
  </propertyGroupSettings>
  <propertyEditorParamsSettings>
    <editorParams>
      <add name="materialEditorParams">
        <editorParamsValue>
          <![CDATA[
          {"cloneControlID":"MaterialEditorTest_Clone1","rootPathName":"GenericProcess"
          ,"serverControlProperties":"[{\"propertyName\":\"MaterialUseMode\",\"stringValue\":2,\"dataType\":9},{\"propertyName\":\"TemplateUrl\",\"stringValue\":\"/MaterialControl/Templates/Test.xlsx\"}]"
          ,"extendedSettings":"<columns><column /></columns>"}
          ]]>
        </editorParamsValue>
      </add>
      <add name="clientGridEditorParams">
        <editorParamsValue>
          <![CDATA[
          {"cloneControlID":"gridTest","rootPathName":"GenericProcess", "useTemplate":"false"
          ,"serverControlProperties":"[{\"propertyName\":\"ShowEditBar\",\"stringValue\":\"true\",\"dataType\":3},{\"propertyName\":\"ShowCheckBoxColumn\",\"stringValue\":\"true\",\"dataType\":3}]"
          ,"extendedSettings":"          
          <columns>
            <column DataField=\"CheckNo\" SelectColumn=\"true\" HeaderText=\"选择\" ShowSelectAll=\"true\" HeaderStyle=\"{width:'60px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'60px',textAlign:'center'}\"></column>
            <column DataField=\"Name\" HeaderText=\"Name\" HeaderStyle=\"{width:'100px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'100px',textAlign:'left'}\">
              <editTemplate EditMode=\"TextBox\"/>
            </column>
             <column DataField=\"Date\" HeaderText=\"Date\" HeaderStyle=\"{width:'150px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'150px',textAlign:'center'}\">
              <editTemplate EditMode=\"DateInput\"/>
            </column>
            <column DataField=\"ListData\" HeaderText=\"DropdownList\" HeaderStyle=\"{width:'150px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'150px',textAlign:'center'}\">
              <editTemplate EditMode=\"DropdownList\" TemplateControlClientID=\"ddlForGrid\"/>
            </column>
             <column DataField=\"Flag\" HeaderText=\"Flag\" HeaderStyle=\"{width:'50px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'50px',textAlign:'center'}\">
              <editTemplate EditMode=\"CheckBox\"/>
            </column>
            <column DataField=\"Users\" HeaderText=\"Users\" HeaderStyle=\"{width:'200px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'200px',textAlign:'left'}\">
              <editTemplate EditMode=\"OuUserInput\" TemplateControlSettings=\"{ multiSelect:'true',selectMask:'User',showCheckButton:'false',showSelector:'true'}\"/>
            </column>
            <column DataField=\"Materials\" HeaderText=\"Materials\" HeaderStyle=\"{width:'300px',textAlign:'center',fontWeight:'bold'}\" ItemStyle=\"{width:'300px',textAlign:'center'}\">
              <editTemplate EditMode=\"Material\" TemplateControlSettings=\"{rootPathName:'GenericProcess',materialUseMode:'DraftAndUpload',templateUrl:'~/MaterialControl/Templates/Test.xlsx',allowEdit:'true',allowEditContent:'true'}\"/>
            </column>
          </columns>"}
          ]]>
        </editorParamsValue>
      </add>
    </editorParams>
  </propertyEditorParamsSettings>
  <propertyEditorSettings>
    <editors>
      <add name="standardPropertyEditor" type="MCS.Web.WebControls.StandardPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="booleanPropertyEditor" type="MCS.Web.WebControls.BooleanPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="enumPropertyEditor" type="MCS.Web.WebControls.EnumPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="objectPropertyEditor" type="MCS.Web.WebControls.ObjectPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="datePropertyEditor" type="MCS.Web.WebControls.DatePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="dateTimePropertyEditor" type="MCS.Web.WebControls.DateTimePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="imageUploaderPropertyEditor" type="MCS.Web.WebControls.ImageUploaderPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="imageUploaderPropertyEditorForGrid" type="MCS.Web.WebControls.ImageUploaderPropertyEditorForGrid, MCS.Library.SOA.Web.WebControls"/>
      <add name="ouUserInputPropertyEditor" type="MCS.Web.WebControls.OUUserInputPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="passwordConfirmationEditor" type="MCS.Web.WebControls.PasswordConfirmationEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="roleGraphPropertyEditor" type="MCS.Web.WebControls.RoleGraphPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="materialPropertyEditor" type="MCS.Web.WebControls.MaterialPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="clientGridPropertyEditor" type="MCS.Web.WebControls.ClientGridPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
    </editors>
  </propertyEditorSettings>
  <propertyFormLayoutSettings>
    <layouts>
      <add name="DefalutLayout">
        <sections>
          <add name="section1" displayName="基本" columns="3" defaultRowHeight="25px"  />
          <add name="section2" displayName="日期时间" columns="2"  defaultRowHeight="25px"  />
          <add name="section3" displayName="人员" columns="2"  defaultRowHeight="25px"  />
          <add name="section4" displayName="图像" columns="2"  defaultRowHeight="25px"  />
          <add name="section5" displayName="附件" columns="2"  defaultRowHeight="25px"  />
          <add name="section6" displayName="列表" columns="1"  defaultRowHeight="25px"  />
        </sections>
      </add>
    </layouts>
  </propertyFormLayoutSettings>
  <dropdownPropertyDataSourceSettings>
    <propertySources>
      <add name="datatableTest" type="MCS.Library.SOA.Web.WebControls.Test.PropertyForm.PropertyFormDemoSource, MCS.Library.SOA.Web.WebControls.Test" method="GetPropertiesTable" bindingValue="ColVale" bindingText="ColName" />
      <add name="genderDataSource" type="WfFormTemplate.DataObjects.PropertyFormDemoSource, WfFormTemplate" method="GetPropertiesList" bindingValue="ID" bindingText="Name" />
    </propertySources>
  </dropdownPropertyDataSourceSettings>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
      <add location="~/Services" />
    </anonymousDirs>
    <typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport" />
    </typeFactories>
  </authenticateDirSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="mcs" assembly="MCS.Web.WebControls" namespace="MCS.Web.WebControls" />
        <add tagPrefix="soa" assembly="MCS.Library.SOA.Web.WebControls" namespace="MCS.Web.WebControls" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library" />
    </modules>
  </system.webServer>
</configuration>