<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="objectSchemaSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.ObjectSchemaSettings, MCS.Library.SOA.DataObjects.Schemas"/>
		<section name="schemaPropertyGroupSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaPropertyGroupSettings, MCS.Library.SOA.DataObjects.Schemas"/>
		<section name="schemaObjectUpdateActionSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaObjectUpdateActionSettings, MCS.Library.SOA.DataObjects.Schemas"/>

		<section name="scObjectOperationActionSettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.SCObjectOperationActionSettings, MCS.Library.SOA.DataObjects.Security" />
		<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
		<section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects" />
		<section name="imagePathSettings" type="MCS.Library.SOA.DataObjects.ImagePathConfigSettings, MCS.Library.SOA.DataObjects"/>
		<section name="materialContentSettings" type="MCS.Library.SOA.DataObjects.MaterialContentSettings, MCS.Library.SOA.DataObjects" />
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
	</configSections>
	<schemaPropertyGroupSettings configSource="pc_schemaPropertyGroupSettings.config" />
	<objectSchemaSettings configSource="pc_objectSchemaSettings.config" />
	<schemaObjectUpdateActionSettings>
		<actions>
			<add name="SCObjectSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Security.Actions.SCObjectSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
			<add name="SCObjectUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Security.Actions.SCObjectUpdateStatusAction, MCS.Library.SOA.DataObjects.Security" />
			<add name="UserAndContainerSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Security.Actions.UserAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
			<add name="UserAndContainerSnapshotUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Security.Actions.UserAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
		</actions>
	</schemaObjectUpdateActionSettings>
	<scObjectOperationActionSettings>
		<actions>
			<add name="SCOperationSnapshotAction" type="MCS.Library.SOA.DataObjects.Security.Actions.SCOperationSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
			<add name="SCOperationCacheNotifierAction" type="MCS.Library.SOA.DataObjects.Security.Actions.SCOperationCacheNotifierAction, MCS.Library.SOA.DataObjects.Security" />
		</actions>
	</scObjectOperationActionSettings>
	<workflowSettings connectionName="HB2008" outputShortType="false" useActivityPlanTime="true">
		<typeFactories>
			<add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects" />
			<add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects" />
		</typeFactories>
	</workflowSettings>
	<imagePathSettings>
		<paths>
			<!-- 图片上传文件路径，根据需要修改 -->
			<add name="ImageUploadRootPath" dir="C:\SinooceanProject\ImageUploadFiles" />
		</paths>
	</imagePathSettings>
	<materialContentSettings connectionName="">
		<typeFactories>
			<add name="persistManager" type="MCS.Library.SOA.DataObjects.SqlMaterialContentPersistManager, MCS.Library.SOA.DataObjects" />
			<!--<add name="persistManager" type="MCS.Library.SOA.DataObjects.FileMaterialContentPersistManager, MCS.Library.SOA.DataObjects" />-->
		</typeFactories>
	</materialContentSettings>
	<connectionManager configSource="connectionManager.config" />
	<oguPermissionSettings rootOUPath="机构人员\远洋地产" useLocalCache="false" roleRelatedUserParentDept="false" useServerCache="false">
		<paths>
			<!--机构人员访问的Service地址，按实际情况修改-->
			<!--<add name="oguServiceAddress" uri="http://localhost/MCSWebApp/AccreditAdmin/services/OGUReaderService.asmx" />-->
			<clear/>
			<add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
			<!--授权管理访问的Service地址，按实际情况修改 -->
			<add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
		</paths>
		<!--获取顶级部门映射-->
		<topOUMapping level="4">
		</topOUMapping>
		<!--<typeFactories>
			-->
		<!--实现机构人员操作的工厂类-->
		<!--
			<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
			-->
		<!--实现授权操作的工厂类-->
		<!--
			<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
		</typeFactories>-->
		<typeFactories>
			<clear />
			<add name="oguFactory" type="MCS.Library.PermissionBridge.BridgedOrganizationMechanism, MCS.Library.PermissionBridge" />
			<add name="permissionFactory" type="MCS.Library.PermissionBridge.BridgedPermissionMechanism, MCS.Library.PermissionBridge" />
			<!--<add name="oguObjectFactory" type="MCS.Library.PermissionBridge.BridgedOUObjectFactory, MCS.Library.PermissionBridge" />-->
			<!--<add name="permissionObjectFactory" type="MCS.Library.PermissionBridge.BridgedPermissionObjectFactory, MCS.Library.PermissionBridge" />-->
			<add name="oguObjectImpls" type="MCS.Library.PermissionBridge.BridgedOrganizationMechanism, MCS.Library.PermissionBridge" />
			<add name="permissionObjectImpls" type="MCS.Library.PermissionBridge.BridgedPermissionMechanism, MCS.Library.PermissionBridge" />
		</typeFactories>
	</oguPermissionSettings>
</configuration>