<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tfsUri" value="http://10.0.9.201:8080/tfs/seagull2collection" />
    <add key="workspaceName" value="TEST-DUANKOU" />
    <add key="workspaceServerPath" value="$/MCSFramework/02.Develop/" />
    <add key="workspaceLocalPath" value="C:\Seagull2Collection\MCSFramework\02.Develop\" />
    <add key="userName" value="testduankou" />
    <add key="password" value="password" />
    <add key="domain" value="sinooceanland" />
    <add key="smtpServer" value="10.0.8.10" />
    <add key="smtpServerPort" value="25" />
    <add key="adServer" value="10.0.8.12" />
    <add key="adminMail" value="gth@sinooceanland.com" />
    <add key="ccMail" value="" />
  </appSettings>
</configuration>