<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
    </configSections>
    <connectionManager>
        <connectionStrings>
            <add name="DataAccessTest" connectionString="server=MCSFramework;database=DataAccessTest;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
        </connectionStrings>
        <dataProviders>
            <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
            <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
            <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
        </dataProviders>
    </connectionManager>
</configuration>