#login {
	BACKGROUND: url(login_body.png) repeat-x left center
}
#login .container {
	MARGIN-TOP: -155px; LEFT: 50%; BACKGROUND-IMAGE: url(login_content.jpg); MARGIN-LEFT: -335px; WIDTH: 670px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 50%; HEIGHT: 310px
}
#login .header {
	DISPLAY: none
}
#login .header H1 {
	
}
#login .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 300px; PADDING-BOTTOM: 0px; PADDING-TOP: 90px; HEIGHT: 120px
}
#login .content TABLE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#login .content TABLE TH {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 80px; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
#login .content TABLE TD SELECT {
	WIDTH: 130px
}
#login .content TABLE TFOOT TD {
	PADDING-TOP: 5px
}
#login .footer {
	PADDING-RIGHT: 120px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
