<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="MCS.Library.Services.ThreadStatusService, MCSServiceMain" objectUri="MCS.Library.Services.ThreadStatusService" />
      </service>
      <channels>
        <channel ref="http" port="8919" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>