<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
    <section name="propertyEditorSettings" type="MCS.Web.WebControls.PropertyEditorSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="propertyFormLayoutSettings" type="MCS.Library.SOA.DataObjects.PropertyFormLayoutSettings, MCS.Library.SOA.DataObjects"/>
    <section name="persisterGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyPersisterSettings, MCS.Library.SOA.DataObjects"/>
    <section name="schemaLogCategorySettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.LogCategoryConfigSection, MCS.Library.SOA.DataObjects.Security"/>
    <sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
      <section name="pageContent" type="MCS.Web.Library.PageContentSection, MCS.Web.Library"/>
    </sectionGroup>
    <section name="userSettings" type="MCS.Library.SOA.DataObjects.UserSettingsConfig, MCS.Library.SOA.DataObjects"/>
    <section name="userOUControlSettings" type="MCS.Web.WebControls.UserOUControlSettings, MCS.Library.SOA.Web.WebControls"/>
    <section name="userRecentDataSettings" type="MCS.Library.SOA.DataObjects.UserRecentDataConfigurationSection, MCS.Library.SOA.DataObjects"/>
    <!--以下配置节-->
    <!--<section name="objectSchemaSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.ObjectSchemaSettings, MCS.Library.SOA.DataObjects.Schemas"/>-->
    <!--<section name="schemaPropertyGroupSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaPropertyGroupSettings, MCS.Library.SOA.DataObjects.Schemas"/>-->
    <!--<section name="schemaObjectUpdateActionSettings" type="MCS.Library.SOA.DataObjects.Schemas.Configuration.SchemaObjectUpdateActionSettings, MCS.Library.SOA.DataObjects.Schemas"/>-->
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" theme="AU">
      <!-- v-weirf 定义了主题-->
      <controls>
        <add tagPrefix="mcs" assembly="MCS.Web.WebControls" namespace="MCS.Web.WebControls" />
        <add tagPrefix="soa" assembly="MCS.Library.SOA.Web.WebControls" namespace="MCS.Web.WebControls"  />
        <add tagPrefix="au" assembly="AUCenter" namespace="AUCenter.WebControls"/>
        <!--<add tagPrefix="au" assembly="AUCenter" namespace="AUCenter.DataSources"/>-->
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" />
  </system.web>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCSConfigDir%\MCS.ConfigMapping.config" />
    <add key="enableSimulatedOperation" value="false"/>
    <!--允许使用模拟时间时进行操作-->
  </appSettings>
  <deluxe.web>
    <pageContent autoLoad="true">
      <cssClasses>
        <!--<clear />-->
        <!--<add path="/MCSWebApp/Css/toolbar.css"/>-->
        <add path="/MCSWebApp/AUCenter/styles/pccom.css"/>
        <!--<add path="/MCSWebApp/PermissionCenter/Handlers/PcCss.ashx"/>-->
        <add path="/MCSWebApp/AUCenter/styles/pccssreform.css" />
        <!-- 发布时改为引用pccom.min.css ,etc-->
        <add path="/MCSWebApp/AUCenter/styles/aumain.css" />
      </cssClasses>
      <scripts>
        <!--<add path="/MCSWebApp/PermissionCenter/scripts/jquery-1.7.2.min.js" />-->
        <add path="/MCSWebApp/AUCenter/Scripts/pc.js" />
        <add path="/MCSWebApp/AUCenter/Scripts/pcExt.js" />
      </scripts>
    </pageContent>
  </deluxe.web>
  <schemaLogCategorySettings>
    <categories>
      <add name="AdminUnits" title="管理单元"/>
      <add name="AUSchemas" title="管理架构"/>
      <add name="AUSchemaRoles" title="管理架构角色"/>
      <add name="AURoles" title="管理单元角色"/>
      <add name="AUAdminScopes" title="管理范围"/>
    </categories>
  </schemaLogCategorySettings>
  <userRecentDataSettings>
    <categories>
      <add name="recentTimepoints" defaultRecentCount="10">
        <properties>
          <add name="timePoint" displayName="时间点" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31" />
          <add name="lastAccessDate" displayName="上次使用的时间" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31" />
          <add name="pinned" displayName="是否是固定的条目" category="recentTimepoints" type="Boolean" defaultValue="9999-12-31" />
        </properties>
      </add>
      <add name="recentCategory" defaultRecentCount="10">
        <properties>
          <add name="categoryID" displayName="管理类别ID" category="recentCategory" type="String" defaultValue="" />
          <add name="timePoint" displayName="时间点" category="recentCategory" type="DateTime" defaultValue="9999-12-31" />
          <add name="lastAccessDate" displayName="上次使用的时间" category="recentCategory" type="DateTime" defaultValue="9999-12-31" />
        </properties>
      </add>
    </categories>
  </userRecentDataSettings>
  <userOUControlSettings>
    <impls>
      <clear />
      <add name="userOUControlQuery" type="MCS.Library.SOA.DataObjects.Security.Adapters.SCOuControlQueryImpl, MCS.Library.SOA.DataObjects.Security"/>
    </impls>
  </userOUControlSettings>
  <propertyFormLayoutSettings>
    <layouts>
      <add name="DefalutLayout">
        <sections>
          <add name="section1" displayName="照片" columns="2" />
          <add name="ContactInfo" displayName="有效性" columns="3" />
          <add name="AdminScope" displayName="管理范围" columns="3" />
        </sections>
      </add>
    </layouts>
  </propertyFormLayoutSettings>
  <propertyEditorSettings>
    <editors>
      <add name="standardPropertyEditor" type="MCS.Web.WebControls.StandardPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="booleanPropertyEditor" type="MCS.Web.WebControls.BooleanPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="enumPropertyEditor" type="MCS.Web.WebControls.EnumPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="objectPropertyEditor" type="MCS.Web.WebControls.ObjectPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="datePropertyEditor" type="MCS.Web.WebControls.DatePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="dateTimePropertyEditor" type="MCS.Web.WebControls.DateTimePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
      <add name="ImageUploaderPropertyEditor" type="MCS.Web.WebControls.ImageUploaderPropertyEditor, MCS.Library.SOA.Web.WebControls" />
    </editors>
  </propertyEditorSettings>
  <persisterGroupSettings>
    <persisters>
      <add name ="ImagePersister" type="MCS.Library.SOA.DataObjects.Security.SchemaImagePropertyPersister, MCS.Library.SOA.DataObjects.Security" />
    </persisters>
  </persisterGroupSettings>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
    </anonymousDirs>
    <typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport" />
      <!--<add name="pricipalBuilder" type="MCS.Library.PCPassport.Principal.PCPrincipalBuilder, MCS.Library.PCPassport"  />-->
    </typeFactories>
  </authenticateDirSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
    </modules>
  </system.webServer>
  
  <!--<objectSchemaSettings>
    <schemas>
      --><!--权限中心必须的--><!--
      --><!--<add name="Users" snapshotTable="SC.SchemaUserSnapshot" isUsersContainerMember="true" category="Users" sortOrder="0" logoImage="user" codeNameKey="samAccountName" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.SCUser, MCS.Library.SOA.DataObjects.Security" description="基本人员">
        <operations>
          <add name="Add" method="AddUser" hasParentParemeter="true" />
          <add name="Update" method="UpdateUser" />
          <add name="Delete" method="DeleteUser" />
        </operations>
        <schemaClasses>
          <add name="ObjectBase" groupName="ObjectBase" />
          <add name="UserBase" groupName="UserBase" />
          <add name="OguUniqueObjectBase" groupName="OguUniqueObjectBase" />
          <add name="UserBase" groupName="UserBase" />
          --><!--
      --><!--行政信息--><!--
      --><!--
        </schemaClasses>
        <tabs>
          <add name="BasicInfo" description="基本信息"/>
        </tabs>
      </add>
      <add name="Organizations" snapshotTable="SC.SchemaOrganizationSnapshot" category="Organizations" logoImage="ou" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.SCOrganization, MCS.Library.SOA.DataObjects.Security" description="组织">
        <operations>
          <add name="Add" method="AddOrganization" hasParentParemeter="true" />
          <add name="Update" method="UpdateOrganization" />
          <add name="Delete" method="DeleteOrganization" />
        </operations>
        <schemaClasses>
          <add name="ObjectBase" groupName="ObjectBase" />
          <add name="OguUniqueObjectBase" groupName="OguUniqueObjectBase" />
          <add name="OrgPolitics" groupName="OrgPolitics" />
          <add name="OrganizationInfo" groupName="OrganizationInfo" />
          --><!--
      --><!--行政信息--><!--
      --><!--
        </schemaClasses>
        <tabs>
          <add name="BasicInfo" description="基本信息"/>
          <add name="Politics" description="行政信息" />
        </tabs>
        <permissionSet>
          <add name="AddChildren" displayName="增加子对象" />
          <add name="DeleteChildren" displayName="删除子对象" />
          <add name="UpdateChildren" displayName="修改子对象" />
          <add name="EditPermissionsOfChildren" displayName="修改子对象的权限" />
          <add name="EditMembersOfGroups" displayName="修改群组中的人员" />
        </permissionSet>
      </add>
      <add name="Roles" category="Roles" logoImage="role" snapshotTable="SC.SchemaRoleSnapshot" isUsersContainer="true" codeNameValidationMethod="ByContainerAndCodeNameKey" type="MCS.Library.SOA.DataObjects.Security.SCRole, MCS.Library.SOA.DataObjects.Security" description="角色">
        <operations>
          <add name="Add" method="AddRole" hasParentParemeter="true" />
          <add name="Update" method="UpdateRole" />
        </operations>
        <schemaClasses>
          <add name="ObjectBase" groupName="ObjectBase" />
          <add name="AppUniqueObjectBase" groupName="AppUniqueObjectBase" />
          <add name="MatrixContainer" groupName="MatrixContainer" />
        </schemaClasses>
        <tabs>
          <add name="BasicInfo" description="基本信息"/>
        </tabs>
      </add>--><!--
      
      --><!--以下引用权限中心--><!--
      --><!--<add name="RelationObjects" tableName="SC.SchemaRelationObjects" snapshotTable="SC.SchemaRelationObjectsSnapshot" toSchemaObjectSnapshot="false" category="RelationObjects" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCRelationObject, MCS.Library.SOA.DataObjects.Security">
        <schemaClasses>
          <add name="RelationObject" groupName="RelationObject" />
        </schemaClasses>
      </add>
      <add name="MemberRelations" tableName="SC.SchemaMembers" snapshotTable="SC.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCMemberRelation, MCS.Library.SOA.DataObjects.Security">
        <schemaClasses>
          <add name="MemberRelationObject" groupName="MemberRelationObject" />
        </schemaClasses>
      </add>
      <add name="SecretaryRelations" tableName="SC.SchemaMembers" snapshotTable="SC.SchemaMembersSnapshot" category="MemberRelations" toSchemaObjectSnapshot="false" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCSecretaryRelation, MCS.Library.SOA.DataObjects.Security">
        <schemaClasses>
          <add name="MemberRelationObject" groupName="MemberRelationObject" />
        </schemaClasses>
      </add>--><!--
    </schemas>
  </objectSchemaSettings>
  <schemaPropertyGroupSettings>
    <groups>
      --><!--来自权限中心的--><!--
      --><!--<add name="ObjectBase" defaultTab="BasicInfo">
        <properties>
          <add name="ID" displayName="标识" tab="BasicInfo"  maxLength="36" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot" visible="false" batchMode="Standalone"/>
          <add name="Name" displayName="名称" tab="BasicInfo" isRequired="True" maxLength="64" type="String" snapshotMode="All" editorKey="PObjectNameEditor" sortOrder ="3" batchMode="Standalone">
            <validators>
              <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="长度在1到64之间，不能含有'\'，不能以空格开头和结尾。">
                <parameters>
                  <add name="pattern" type="String" paramValue="^([^\s\\])$|^([^\s\\][^\\]{0,62}[^\s\\])$" />
                </parameters>
              </add>
            </validators>
          </add>
          <add name="DisplayName" displayName="显示名称" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4" batchMode="Standalone"/>
          <add name="Comment" displayName="注释" category="注释" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4"/>
        </properties>
      </add>
      <add name="UserBase" defaultTab="BasicInfo">
        <properties>
          <add name="LastName" displayName="姓" tab="BasicInfo" type="String"  maxLength="64" editorKey="GetPinYinEditor" snapshotMode="AllButNotInCommonSnapshot" sortOrder ="1" batchMode="Standalone"/>
          <add name="FirstName" displayName="名" tab="BasicInfo" type="String" maxLength="64" editorKey="GetPinYinEditor" snapshotMode="AllButNotInCommonSnapshot" sortOrder ="2" batchMode="Standalone"/>
          <add name="OwnerID" displayName="所有者ID" tab="BasicInfo" type="String" maxLength="36" snapshotMode="IsInSnapshot" visible="false" batchMode="Standalone"/>
          <add name="OwnerName" displayName="所有者名称" tab="BasicInfo" type="String" maxLength="255" snapshotMode="IsInSnapshot" visible="true" readOnly="true" batchMode="Standalone"/>
          <add name="PhotoKey" displayName="照片"  category="照片" tab="BasicInfo" type="String" editorKey="ImageUploaderPropertyEditor" persisterKey="ImagePersister"  snapshotMode="None" batchMode="Standalone" />
        </properties>
      </add>
      <add name="AppUniqueObjectBase" defaultTab="BasicInfo">
        <properties>
          <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="60" description="唯一，可读的名称。用于用户的登录名或标识" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
            <validators>
              <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="且长度在1到60之间，不能含有\/[]:;|=,+*?&lt;&gt; ">
                <parameters>
                  <add name="pattern" type="String" paramValue="^[^\/\\\[\]\:\;\|\=\,\+\*\?\&lt;\&gt;\s]{1,60}$" />
                </parameters>
              </add>
              <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
                <parameters>
                  <add name="includingDeleted" type="Boolean" paramValue="True" />
                </parameters>
              </add>
            </validators>
          </add>
        </properties>
      </add>
      <add name="OguUniqueObjectBase" defaultTab="BasicInfo">
        <properties>
          <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="20" description="唯一，可读的名称。用于用户的登录名或标识" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
            <validators>
              <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="不能包括\/[]:;|=,+*?&lt;&gt; ，且长度在1到20之间">
                <parameters>
                  <add name="pattern" type="String" paramValue="^[^\/\\\[\]\:\;\|\=\,\+\*\?\&lt;\&gt;\s]{1,20}$" />
                </parameters>
              </add>
              <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
                <parameters>
                  <add name="includingDeleted" type="Boolean" paramValue="True" />
                </parameters>
              </add>
            </validators>
          </add>
        </properties>
      </add>
      <add name="MatrixContainer" defaultTab="BasicInfo">
        <properties>
          <add name="includeMatrixUsers" displayName="包含矩阵成员" category="矩阵" type="Boolean" tab="BasicInfo" snapshotMode="None" defaultValue="false" visible="true" />
        </properties>
      </add>--><!--


    </groups>
  </schemaPropertyGroupSettings>-->
  <!--<schemaObjectUpdateActionSettings>
    <actions>
      --><!-- 来自老权限中心 --><!--
      <add name="SCObjectSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Security.Actions.SCObjectSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
      <add name="SCObjectUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Security.Actions.SCObjectUpdateStatusAction, MCS.Library.SOA.DataObjects.Security" />
      <add name="UserAndContainerSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Security.Actions.UserAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
      <add name="UserAndContainerSnapshotUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Security.Actions.UserAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security" />
      --><!-- 新的 --><!--
      <add name="ItemAndContainerSnapshotAction" operation="Update" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Actions.ItemAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security.AUObjects" />
      <add name="ItemAndContainerSnapshotUpdateStatusAction" operation="UpdateStatus" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Actions.ItemAndContainerSnapshotAction, MCS.Library.SOA.DataObjects.Security.AUObjects" />

    </actions>
  </schemaObjectUpdateActionSettings>-->
</configuration>
