<?xml version="1.0"?>
<configuration>
	<configSections>
    <sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
      <section name="pageContent" type="MCS.Web.Library.PageContentSection, MCS.Web.Library"/>
    </sectionGroup>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
		<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
    <section name="imagePathSettings" type="MCS.Library.SOA.DataObjects.ImagePathConfigSettings, MCS.Library.SOA.DataObjects"/>
    <section name="ueditorWrapperSettings" type="MCS.Web.WebControls.UEditorWrapperSettings, MCS.Library.SOA.Web.WebControls"/>
	</configSections>
	<connectionManager configSource="connectionManager.config" />
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
    <add key="MseSwitchOn" value="false"/>
  </appSettings>
  <deluxe.web>
    <pageContent autoLoad="true">
      <cssClasses>
        <add path="/MCSWebApp/Css/toolbar.css"/>
      </cssClasses>
      <scripts>
      </scripts>
    </pageContent>
  </deluxe.web>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
      <!--<add location="~/Services/*.*"/>-->
    </anonymousDirs>
    <authorizationDirs>
      <!--<add location="~/ProjectPlan/PlanDesign/PlanDesignPrePage.aspx" roles="PLAN_MANAGE:PLANATTACHE" />-->
    </authorizationDirs>
    <typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
    </typeFactories>
  </authenticateDirSettings>
  <imagePathSettings>
    <paths>
      <!-- 图片上传文件路径，根据需要修改 -->
      <add name="ImageUploadRootPath" dir="C:\SinooceanProject\ImageUploadFiles" />
    </paths>
  </imagePathSettings>
  <ueditorWrapperSettings scriptRootPath="/MCSWebApp/UEditor/" showImageHandlerUrl="/MCSWebApp/OACommonPages/Handlers/ShowUEditorImage.ashx" autoHeightEnabled="False"/>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <system.webServer>
    <modules>
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
    </modules>
    <!--按环境配置来确认是否启动这段-->
    <!--<handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>-->
  </system.webServer>
</configuration>
