<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
        <section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
        <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
        <section name="wfActivitySettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActivitySettings, MCS.Library.SOA.DataObjects"/>
        <section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
        <section name="rolesDefineConfig" type="MCS.Library.Passport.RolesDefineConfig,  MCS.Library.Passport"/>
        <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
        <section name="soaUserTaskOperationSettings" type="MCS.Library.SOA.DataObjects.UserTaskOperationSettings, MCS.Library.SOA.DataObjects" />
        <section name="wfServiceDefinitionSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfServiceDefinitionSettings, MCS.Library.SOA.DataObjects"/>
        <section name="wfActionSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActionSettings, MCS.Library.SOA.DataObjects"/>
        <section name="tenantContextSettings" type="MCS.Library.Configuration.TenantContextSettings, MCS.Library" />
        <section name="wfExtraPersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfExtraPersistenceSettings, MCS.Library.SOA.DataObjects"/>
        <section name="wfQueuePersistenceSettings" type="MCS.Library.SOA.DataObjects.Workflow.WfQueuePersistenceSettings, MCS.Library.SOA.DataObjects"/>
        <section name="lockSettings" type="MCS.Library.SOA.DataObjects.LockConfigSetting, MCS.Library.SOA.DataObjects"/>
        <section name="sysTaskSettings" type="MCS.Library.SOA.DataObjects.SysTaskSettings, MCS.Library.SOA.DataObjects"/>
    </configSections>
    <tenantContextSettings enabled="true" defaultTenantCode="Test1" />
    <!-- 数据库连接配置信息 -->
    <connectionManager configSource="connectionManager.config"/>

    <!-- 机构人员和授权管理访问相关配置信息 -->
    <oguPermissionSettings configSource="oguPermissionSettings.config"/>

    <!--锁相关的配置-->
    <lockSettings enabled="false" defaultEffectiveTime="00:04:00" defaultCheckIntervalTime="00:01:00"/>

    <sysTaskSettings>
        <typeMappings>
            <add name="InvokeService" type="MCS.Library.SOA.DataObjects.InvokeServiceSyncTask, MCS.Library.SOA.DataObjects"/>
            <add name="InvokeServiceDirectly" type="MCS.Library.SOA.DataObjects.InvokeServiceTaskExecutor, MCS.Library.SOA.DataObjects"/>
            <add name="StartWorkflow" type="MCS.Library.SOA.DataObjects.StartWorkflowSyncTask, MCS.Library.SOA.DataObjects"/>
            <add name="ExecuteSysTaskActivity" type="MCS.Library.SOA.DataObjects.ExecuteSysTaskActivityTaskExecutor, MCS.Library.SOA.DataObjects"/>
        </typeMappings>
    </sysTaskSettings>
    <soaUserTaskOperationSettings>
        <operations>
            <add name="defaultUserTaskOP" type="MCS.Library.SOA.DataObjects.DefaultUserTaskOperationImpl, MCS.Library.SOA.DataObjects"/>
        </operations>
    </soaUserTaskOperationSettings>
    <wfQueuePersistenceSettings>
        <persisters>
            <add name="WfCurrentAssigneesPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfCurrentAssigneesPersistManager, MCS.Library.SOA.DataObjects"/>
            <add name="WfProcessRelativeParamsPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfProcessRelativeParamsPersistManager, MCS.Library.SOA.DataObjects"/>
            <add name="WfProcessDimensionPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfProcessDimensionPersistManager, MCS.Library.SOA.DataObjects"/>
        </persisters>
    </wfQueuePersistenceSettings>
    <wfExtraPersistenceSettings>
        <persisters>
            <add name="WfPersistQueuePersistManager" type="MCS.Library.SOA.DataObjects.Workflow.Runtime.WfPersistQueuePersistManager, MCS.Library.SOA.DataObjects"/>
        </persisters>
    </wfExtraPersistenceSettings>
    <wfActionSettings>
        <actions>
            <add name="EnterActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="LeaveActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="CancelProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="WithdrawUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="EnterActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="LeaveActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="CancelExecuteInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelExecuteInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="RestoreProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.RestoreProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
            <add name="BeWithdrawnInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.BeWithdrawnInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <add name="WithdrawInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawInvokeServiceAction, MCS.Library.SOA.DataObjects" />
            <!--<add name="ProcessStatusChangeAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.ProcessStatusChangeSyncAction, MCS.Library.SOA.DataObjects" />-->
        </actions>
        <functions>
            <add name="defaultUserFunctions" type="MCS.Library.SOA.DataObjects.Workflow.WfDefaultUserFunctionImpl, MCS.Library.SOA.DataObjects" />
        </functions>
    </wfActionSettings>

    <!-- 流程属性配置信息 -->
    <wfActivitySettings configSource="wfActivitySettings.config"/>

    <wfServiceDefinitionSettings>
        <addresses>
            <add name="pcService" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterToADService.asmx"/>
            <!--<add name="pcService" uri="http://localhost:44476/Services/DemoService.asmx"/>-->
        </addresses>
        <operations>
            <add name="PCGetVersion" operationName="GetVersion" addressKey="pcService" returnParamName="Version">
                <parameters>
                    <add name="callerID" type="RuntimeParameter" />
                </parameters>
            </add>
        </operations>
    </wfServiceDefinitionSettings>

    <!-- 流程持久化相关的配置信息 -->
    <workflowSettings connectionName="HB2008" outputShortType="true" useActivityPlanTime="true">
        <typeFactories>
            <add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects"/>
            <add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects"/>
        </typeFactories>
    </workflowSettings>
    <oguObjectSettings>
        <objects>
            <add name="admin" fullPath="liumh" pathType="LogOnName"/>
            <add name="requestor" fullPath="wangli5" pathType="LogOnName"/>
            <add name="ceo" fullPath="liming" pathType="LogOnName"/>
            <add name="cfo" fullPath="quym" pathType="LogOnName"/>
            <add name="approver1" fullPath="fanhy" pathType="LogOnName"/>
        </objects>
    </oguObjectSettings>
    <rolesDefineConfig>
        <rolesDefine>
            <add name="testRole" description="门户管理员" roles="OAPORTAL:FORM_QUERY"/>
            <add name="nestedRole" description="内嵌矩阵" roles="OAPORTAL:FORM_QUERY_ADMIN"/>
        </rolesDefine>
    </rolesDefineConfig>
    <LoggingSettings>
        <Loggers>
            <add name="HB2008ServiceMain" enable="true">
                <Filters>
                    <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal"/>
                </Filters>
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="ServiceLog" source="HB2008ServiceMain"/>
                </Listeners>
            </add>
            <add name="SMTP" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="SMTP" source="SMTP"/>
                </Listeners>
            </add>
            <add name="webApplicationError" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="HB2008" source="MCSWebApp"/>
                </Listeners>
            </add>
            <add name="WfExecutor" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfExecutor"/>
                </Listeners>
            </add>
            <add name="WfRuntime" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfRuntime"/>
                </Listeners>
            </add>
            <add name="PageMonitor" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
                </Listeners>
            </add>
            <add name="UdpCache" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
                </Listeners>
            </add>
        </Loggers>
        <Formatters>
            <add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter, MCS.Library"/>
            <add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter, MCS.Library"/>
        </Formatters>
    </LoggingSettings>
</configuration>