<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
        <section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
        <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
        <section name="wfActivitySettings" type="MCS.Library.SOA.DataObjects.Workflow.WfActivitySettings, MCS.Library.SOA.DataObjects"/>
        <section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
        <section name="rolesDefineConfig" type="MCS.Library.Passport.RolesDefineConfig,  MCS.Library.Passport"/>
        <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection, MCS.Library"/>
    </configSections>
    <!-- 数据库连接配置信息 -->
    <connectionManager configSource="connectionManager.config"/>

    <!-- 机构人员和授权管理访问相关配置信息 -->
    <oguPermissionSettings configSource="oguPermissionSettings.config"/>

    <!-- 流程属性配置信息 -->
    <wfActivitySettings configSource="wfActivitySettings.config"/>

    <!-- 流程持久化相关的配置信息 -->
    <workflowSettings connectionName="HB2008" outputShortType="true" useActivityPlanTime="true">
        <typeFactories>
            <add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects"/>
            <add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects"/>
        </typeFactories>
    </workflowSettings>
    <oguObjectSettings>
        <objects>
            <add name="admin" fullPath="liumh" pathType="LogOnName"/>
            <add name="requestor" fullPath="wangli5" pathType="LogOnName"/>
            <add name="ceo" fullPath="liming" pathType="LogOnName"/>
            <add name="cfo" fullPath="quym" pathType="LogOnName"/>
            <add name="approver1" fullPath="fanhy" pathType="LogOnName"/>
        </objects>
    </oguObjectSettings>
    <rolesDefineConfig>
        <rolesDefine>
            <add name="testRole" description="门户管理员" roles="OAPORTAL:FORM_QUERY"/>
            <add name="nestedRole" description="内嵌矩阵" roles="OAPORTAL:FORM_QUERY_ADMIN"/>
        </rolesDefine>
    </rolesDefineConfig>
    <LoggingSettings>
        <Loggers>
            <add name="HB2008ServiceMain" enable="true">
                <Filters>
                    <add name="PriorityFilter1" type="MCS.Library.Logging.PriorityLogFilter, MCS.Library" minPriority="BelowNormal"/>
                </Filters>
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="ServiceLog" source="HB2008ServiceMain"/>
                </Listeners>
            </add>
            <add name="SMTP" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="SMTP" source="SMTP"/>
                </Listeners>
            </add>
            <add name="webApplicationError" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="XmlLogFormatter" logName="HB2008" source="MCSWebApp"/>
                </Listeners>
            </add>
            <add name="WfExecutor" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfExecutor"/>
                </Listeners>
            </add>
            <add name="WfRuntime" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="WfRuntime"/>
                </Listeners>
            </add>
            <add name="PageMonitor" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
                </Listeners>
            </add>
            <add name="UdpCache" enable="true">
                <Listeners>
                    <add name="EventLogListener" type="MCS.Library.Logging.FormattedEventLogTraceListener, MCS.Library" formatter="TextLogFormatter" logName="HB2008" source="PageMonitor"/>
                </Listeners>
            </add>
        </Loggers>
        <Formatters>
            <add name="XmlLogFormatter" type="MCS.Library.Logging.XmlLogFormatter, MCS.Library"/>
            <add name="TextLogFormatter" type="MCS.Library.Logging.TextLogFormatter, MCS.Library"/>
        </Formatters>
    </LoggingSettings>
</configuration>