.clientGrid
{
}

.clientGrid .mainTable
{
	background-color:silver;	
}

.clientGrid .caption
{	
	font-size:24px;
	font-weight:bold;
	text-align : left;
}

.clientGrid .pager
{
	font-size:16px;
	text-align : right;
}

.clientGrid .pager a
{
	
}
.clientGrid .pager a:visited
{
	
}

.clientGrid .pager .pagerGotoButton
{
	/*background: url(../../images/buttonbg_lightblue.gif) repeat-x;
	font-weight: normal;
	border: 1px solid #4eb9ef;
	height: 24px;
	min-width: 40px;
	line-height: 22px;
	color: #054a91;
	margin-left: 10px;
	margin-top: 6px;
	text-align: center;
	letter-spacing: 4px;
	padding: 0px 2px;*/
	background: url(../images/bg17.gif) repeat-x;
	font-weight: normal;
	border: 1px solid #b5b3b3;
	height: 24px;
	min-width: 80px;
	line-height: 22px;
	color: black;
	margin-left: 10px;
	margin-top: 3px;
	text-align: center;
	letter-spacing: 3px;
	padding: 0px 2px;
}

.clientGrid .header
{
	border: lightgrey 1px solid;
	font-size: 13px;
	color: #FFFFFF;
	font-weight:normal;
	text-align: center;
	height: 24px;
	background-color: silver;
}

.clientGrid .footer
{
	background-color: #FFF;
	text-align: right;
	border: 0;
}

.clientGrid .item
{
	/*background-image: url(../../images/gridattopbg.jpg);*/
	background-color: #FFECEC;
}

.clientGrid .alternatingItem
{
	border-top: inherit 1px #fafafa;
	border-bottom: inherit 1px #ededed;
	background-color: #FAFAFA;
}

.clientGrid .hoveringItem
{
	background-color: #feffef;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: dotted;
	border-color: #f7a81c;
}

.clientGrid .selectedItem
{
	background-color: #feffef;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: dotted;
	border-color: #f7a81c;
}

.clientGrid .sortSymbol
{
	color : #FFFFFF;	
}
