
/************ MaskedEdit Related Styles ***********************/
.deluxetime_masked_editfocus
{
	background-color: #ffffcc;
	color: #000000;
}

.deluxetime_masked_editerror
{
	background-color: #ffcccc;
}

.deluxetime_masked_textbox
{
	width: 56px;
	color: #000000;
	border: solid 1px #ccc;
	line-height: 150%;
	background-color: #f5f6f6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50, style=1, finishOpacity=100, startx=0, starty=0, finishx=0,finishy=1024);
}