<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="clientConfigurationSource" type="ConfigurationService.ClientComponent.ConfigurationSourceSection,ConfigurationService.ClientComponent"/>
    <section name="LoggingSettings" type="MCS.Library.Logging.LoggingSection,MCS.Library"/>
  </configSections>
  <appSettings>
    <add key="filterExpression" value=""/>
  </appSettings>
  <clientConfigurationSource defaultSource="mainConfigSource">
    <sources>
      <add name="mainConfigSource" applicationName="MyApplication" endpointConfigurationName="WSHttpBinding_IConfigurationService"/>
      <add name="secondaryConfigSource" applicationName="MyApplication1" endpointConfigurationName="WSHttpBinding_IConfigurationService"/>
    </sources>
  </clientConfigurationSource>
  <LoggingSettings>
    <Loggers>
      <add name="defaultLog" enable="true">
        <Listeners>
          <add name="defaultListners" type="MCS.Library.Logging.FormattedEventLogTraceListener,MCS.Library" logName="ConfigurationServiceClient" source="ConfigurationServiceClient" formatter="textLogFormatter"/>
        </Listeners>
      </add>
    </Loggers>
    <Formatters>
      <add name="textLogFormatter" type="MCS.Library.Logging.TextLogFormatter,MCS.Library"/>
    </Formatters>
  </LoggingSettings>
  <system.serviceModel>
        <bindings>
              <wsHttpBinding>
                    <binding name="WSHttpBinding_IConfigurationService" closeTimeout="00:01:00"
                          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                          allowCookies="false">
                          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          <reliableSession ordered="true" inactivityTimeout="00:10:00"
                                enabled="false" />
                          <security mode="Message">
                                <transport clientCredentialType="Windows" proxyCredentialType="None"
                                      realm="" />
                                <message clientCredentialType="Windows" negotiateServiceCredential="true"
                                      algorithmSuite="Default" />
                          </security>
                    </binding>
              </wsHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://localhost/MCSWebApp/ConfigManager/Services/ConfigurationService.svc"
                    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigurationService"
                    contract="ConfigurationService.Common.IConfigurationService"
                    name="WSHttpBinding_IConfigurationService">
                    <identity>
                          <servicePrincipalName value="host/STS01.seagull2lab.com" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
