<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
		<section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions" />
	</configSections>
	<wfServiceContractMapSettings>
		<maps>
			<add serviceName="WfPlatformServices.Services.WfProcessService" contractName="MCS.Library.SOA.DataObjects.Workflow.Contracts.IWfProcessService" debug="true" atlasEnabled="True" />
		</maps>
	</wfServiceContractMapSettings>
	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<!--<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>-->
</configuration>
