<connectionManager>
	<connectionStrings>
		<!--连接本地数据库-->
		<add name="WeChat" connectionString="server=RAY-PC;database=WeChatInfo;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<dataProviders>
		<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
		<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
		<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
	</dataProviders>
</connectionManager>