<passportClientSettings appID="OAProject" appSignInTimeout="-2" appSlidingExpiration="36000" method="httpPost" identityWithoutDomainName="true">
	<paths>
		<!--认证页面地址，需要修改 -->
		<add name="signInUrl" uri="http://localhost/MCSWebApp/ResponsivePassportService/Anonymous/SignInPage.aspx" />
		<!--<add name="signInUrl" uri="http://localhost/MCSWebApp/PassportService/Integration/WISignInPage.aspx" />-->
		<!--注销页面地址，需要修改 -->
		<add name="logOffUrl" uri="http://localhost/MCSWebApp/ResponsivePassportService/Anonymous/LogOffPage.aspx" />
		<!--应用注销回调的Url ,清除cookie -->
		<add name="logOffCallBackUrl" uri="~/MCSAuthenticateLogOff.axd" />
	</paths>
	<!--授权委派的相关设置，目前没有实现，所以也没有配置-->
	<typeFactories>
		<add name="userImpersonateLoader" type="" />
	</typeFactories>
	<rsaKeyValue>
		<Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
		<Exponent>AQAB</Exponent>
		<P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
		<Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
		<DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
		<DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
		<InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
		<D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
	</rsaKeyValue>
</passportClientSettings>