<rolesDefineConfig>
	<rolesDefine>
		<add name="ProcessAdmin" description="流程管理员" roles="OAPORTAL:PORTAL_ADMIN"/>
		<!--<add name="AdminFormQuery" description="分授权表单信息查询" roles="OAPORTAL:FORM_QUERY"/>-->
		<add name="AdminFormQuery" description="分授权表单信息查询" roles="OAPORTAL:ADMIN_FORM_QUERY"/>
		<add name="WorkflowQueryAdmin" description="分授权流转信息查询" roles="OAPORTAL:WORKFLOW_QUERY_ADMIN"/>
		<add name="HRUser" description="HR用户" roles="HR:NORMALUSER" />
		<add name="DesignerRoleMatrix" description="流程角色矩阵" roles="HB2008WF:DEPT_MANAGER" />
	</rolesDefine>
</rolesDefineConfig>