<?xml version="1.0"?>
<!--要求设置应用目录Windows集成认证不允许匿名访问
同时要求设置运行匿名访问的有“exports/LogDataService.asmx”-->
<configuration>
	<configSections>
		<section name="daabProviders" type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data"></section>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
		<section name="dbConnStrProviders" type="HG.HGSupport.Server.DAABConnStrHandler,HGSupport.Server"/>
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
	</configSections>
	<daabProviders>
		<daabProvider alias="System.Data.SqlClient.SqlConnection" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer"/>
	</daabProviders>
	<dbConnStrProviders>
		<dbConnStrProvider alias="AccreditAdmin" connString="Data Source=(local);Initial Catalog=AccreditAdmin;Integrated Security=SSPI;"/>
		<dbConnStrProvider alias="LOG" connString="Data Source=(local);Initial Catalog=HG_LOG;Integrated Security=SSPI;"/>
		<!--<dbConnStrProvider alias="AccreditAdmin" connString="server=10.99.201.134;uid=sa;pwd=11111;database=AccreditAdmin" />-->
		<!--<dbConnStrProvider alias="LOG" connString="server=10.99.201.134;uid=sa;pwd=11111;database=Log" />-->
	</dbConnStrProviders>
	<exceptionManagement mode="on">
		<publisher assembly="HGSupport.Common" type="HG.HGSupport.Common.ExceptionPublisher" fileName="c:\OALOG\QuickStartSamplesExceptionLog.txt"/>
	</exceptionManagement>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs />
		<anonymousDirs>
			<add location="~/exports/LogDataService.asmx"/>
		</anonymousDirs>
	</authenticateDirSettings>
	<oguPermissionSettings >
		<paths>
			<add name="oguServiceAddress" uri="http://127.0.0.1/accreditAdmin/services/OGUReaderService.asmx" />
			<add name="appAdminServiceAddress" uri="http://127.0.0.1/AppAdmin/exports/AppSecurityCheckService.asmx" />
		</paths>
		<topOUMapping>
		</topOUMapping>
		<typeFactories>
			<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
			<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
		</typeFactories>
	</oguPermissionSettings>
	<appSettings>
		<add key="OGURootName" value="中国海关"/>
		<add key="CustomsAuthentication" value="false"/>
		<add key="AutohideType" value="autoHide"/>
		<!--多个之间采用“,”分隔-->
		<add key="ShowErrorDebug" value="false"/>
		<add key="ShowErrorImg" value="/HG_LOG/images/32/stopLogo.gif"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="None"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
		<httpModules>
			<add type="MCS.Library.Passport.WindowsAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule" />
		</httpModules>
	</system.web>
</configuration>
