<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="daabProviders" type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data"></section>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
		<section name="dbConnStrProviders" type="HG.HGSupport.Server.DAABConnStrHandler,HGSupport.Server"/>
	</configSections>
	<daabProviders>
		<daabProvider alias="System.Data.SqlClient.SqlConnection" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer"/>
	</daabProviders>
	<dbConnStrProviders>
		<dbConnStrProvider alias="AccreditAdmin" connString="Data Source=(local);Initial Catalog=AccreditAdmin;Integrated Security=SSPI;"/>
		<dbConnStrProvider alias="LOG" connString="Data Source=(local);Initial Catalog=HG_LOG;Integrated Security=SSPI;"/>
		<!--<dbConnStrProvider alias="AccreditAdmin" connString="server=10.99.201.134;uid=sa;pwd=11111;database=AccreditAdmin" />-->
		<!--<dbConnStrProvider alias="LOG" connString="server=10.99.201.134;uid=sa;pwd=11111;database=Log" />-->
	</dbConnStrProviders>
	<exceptionManagement mode="on">
		<publisher assembly="HGSupport.Common" type="HG.HGSupport.Common.ExceptionPublisher" fileName="c:\OALOG\QuickStartSamplesExceptionLog.txt"/>
	</exceptionManagement>
	<appSettings>
		<add key="OGURootName" value="中国海关"/>
		<add key="CustomsAuthentication" value="false"/>
		<add key="AutohideType" value="autoHide"/>
		<!--多个之间采用“,”分隔-->
		<add key="ShowErrorDebug" value="false"/>
		<add key="ShowErrorImg" value="/HG_LOG/images/32/stopLogo.gif"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name="AuthRequest" loginUrl="/Accreditadmin/logon.aspx" protection="None" timeout="60" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<location path="exports/LogDataService.asmx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>
