.sidebar {
	MARGIN-BOTTOM: 10px; WIDTH: 100%
}
.sidebarheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; BACKGROUND: url(images/sidebar_header.png) no-repeat left top; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff; PADDING-TOP: 10px; FONT-FAMILY: Arial, Sans-Serif; HEIGHT: 24px
}
.sidebarcontent {
	BORDER-RIGHT: #0f2543 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #0f2543 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; PADDING-BOTTOM: 20px; BORDER-LEFT: #0f2543 1px solid; LINE-HEIGHT: 1.5em; PADDING-TOP: 20px; BORDER-BOTTOM: #0f2543 1px solid
}
.sidebarcontent A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: #5377a9; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.sidebarcontent A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #0f2543
}
.sidebarcontent A:visited {
	FONT-WEIGHT: normal
}
.demoarea {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(images/demotop.png) #fff no-repeat left top; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.demoarea P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.demoheading {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; PADDING-BOTTOM: 20px; COLOR: #5377a9; FONT-FAMILY: Arial, Sans-Serif
}
.demobottom {
	BACKGROUND: url(images/demobottom.png) #fff no-repeat left bottom; HEIGHT: 8px
}
.heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 1em; COLOR: #5377a9; PADDING-TOP: 1em; FONT-FAMILY: Arial, Sans-Serif
}
.subheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0.5em; COLOR: #0f2543; PADDING-TOP: 0.8em; FONT-FAMILY: Arial, Sans-Serif
}
P {
	
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
STRONG {
	FONT-WEIGHT: bold
}
.codeReference {
	FONT-WEIGHT: bold; FONT-STYLE: normal; FONT-FAMILY: 'Courier New', Monospace
}
PRE {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px dashed; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 10px; MARGIN: 15px 15px 15px 0px; BORDER-LEFT: #ccc 1px dashed; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px dashed; FONT-STYLE: normal; FONT-FAMILY: 'Courier New', Monospace; BACKGROUND-COLOR: #fff
}
CODE {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px dashed; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 10px; MARGIN: 15px 15px 15px 0px; BORDER-LEFT: #ccc 1px dashed; COLOR: #000; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px dashed; FONT-STYLE: normal; FONT-FAMILY: 'Courier New', Monospace; BACKGROUND-COLOR: #fff
}
.releaseList {
	LIST-STYLE-TYPE: disc
}
.animationReferenceTable {
	
}
.animationReferenceRow {
	
}
.animationReferenceField {
	VERTICAL-ALIGN: top; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.animationReferenceCode {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: 'Courier New', Monospace; BACKGROUND-COLOR: #fff
}
.animationReferenceItems {
	VERTICAL-ALIGN: top
}
.animationReferenceItemTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.animationReferenceItemRow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.animationReferenceItem {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.animationReferenceItemCode {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: 'Courier New', Monospace; BACKGROUND-COLOR: #fff
}
.accordionHeader {
	BORDER-RIGHT: #2f4f4f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px solid; CURSOR: pointer; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: #2f4f4f 1px solid; FONT-FAMILY: Arial, Sans-Serif; BACKGROUND-COLOR: #2e4d7b
}
.accordionHeaderSelected {
	BORDER-RIGHT: #2f4f4f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px solid; CURSOR: pointer; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: #2f4f4f 1px solid; FONT-FAMILY: Arial, Sans-Serif; BACKGROUND-COLOR: #5078b3
}
.accordionContent {
	BORDER-RIGHT: #2f4f4f 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #2f4f4f 1px dashed; BACKGROUND-COLOR: #d3deef
}
.autocomplete_completionListElement {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonshadow 1px solid; VISIBILITY: hidden; MARGIN: 0px; OVERFLOW: auto; BORDER-LEFT: buttonshadow 1px solid; COLOR: windowtext; BORDER-BOTTOM: buttonshadow 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 200px; TEXT-ALIGN: left
}
.autocomplete_highlightedListItem {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: black; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffff99
}
.autocomplete_listItem {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: windowtext; PADDING-TOP: 1px; BACKGROUND-COLOR: window
}
.collapsePanel {
	OVERFLOW: hidden; BACKGROUND-COLOR: white
}
.collapsePanelHeader {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/bg-menu-main.png); WIDTH: 100%; COLOR: #fff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.dropShadowPanel {
	FONT-WEIGHT: bold; WIDTH: 300px; COLOR: white; BACKGROUND-COLOR: #5377a9
}
.dragMe {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/header-opened.png); WIDTH: 100%; CURSOR: move; HEIGHT: 21px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.overflowHidden {
	OVERFLOW: hidden
}
.overflowScroll {
	OVERFLOW: hidden
}
.popupMenu {
	FILTER: alpha(opacity=90); VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #f5f7f8; opacity: .9
}
.popupMenu1 {
	FILTER: alpha(opacity=100); VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #f5f7f8; opacity: .10
}
.popupHover {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(images/header-opened.png); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f5f7f8
}
.selectIndex {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.unselectIndex {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.modalBackground {
	FILTER: alpha(opacity=70); BACKGROUND-COLOR: gray; opacity: 0.7
}
.modalPopup {
	BORDER-RIGHT: #a5c2e0 3px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a5c2e0 3px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #a5c2e0 3px solid; WIDTH: 250px; PADDING-TOP: 3px; BORDER-BOTTOM: #a5c2e0 3px solid; BACKGROUND-COLOR: white
}
.sampleStyleA {
	BACKGROUND-COLOR: #fff
}
.sampleStyleB {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: monospace; BACKGROUND-COLOR: #fff
}
.sampleStyleC {
	FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ddffdd
}
.sampleStyleD {
	FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: blue
}
.popupControl {
	VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: white
}
.dragHandle {
	BORDER-RIGHT: white thin outset; BORDER-TOP: white thin outset; BACKGROUND-IMAGE: url(images/bg-menu-main.png); BORDER-LEFT: white thin outset; WIDTH: 10px; CURSOR: move; BORDER-BOTTOM: white thin outset; HEIGHT: 15px; BACKGROUND-COLOR: blue
}
.callbackStyle {
	BORDER-RIGHT: blue thin inset; BORDER-TOP: blue thin inset; BORDER-LEFT: blue thin inset; BORDER-BOTTOM: blue thin inset
}
.callbackStyle TABLE {
	COLOR: black; BACKGROUND-COLOR: #5377a9
}
.reorderListDemo LI {
	BACKGROUND-IMAGE: url(images/bg_nav.gif); MARGIN: 2px; COLOR: #fff; BACKGROUND-REPEAT: repeat-x; LIST-STYLE-TYPE: none
}
.reorderListDemo LI A {
	FONT-WEIGHT: bold; COLOR: #fff! important
}
.reorderCue {
	BORDER-RIGHT: black thin dashed; BORDER-TOP: black thin dashed; BORDER-LEFT: black thin dashed; WIDTH: 100%; BORDER-BOTTOM: black thin dashed; HEIGHT: 25px
}
.itemArea {
	FONT-SIZE: 1em; MARGIN-LEFT: 15px; FONT-FAMILY: Arial, Verdana, sans-serif; TEXT-ALIGN: left
}
.roundedPanel {
	FONT-WEIGHT: bold; WIDTH: 300px; COLOR: white; BACKGROUND-COLOR: #5377a9
}
.frameImage {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 130px; PADDING-TOP: 3px; HEIGHT: 65px
}
.frameText {
	BORDER-RIGHT: gray 2px solid; BORDER-TOP: gray 2px solid; FLOAT: left; OVERFLOW: auto; BORDER-LEFT: gray 2px solid; WIDTH: 100px; LINE-HEIGHT: normal; BORDER-BOTTOM: gray 2px solid; FONT-FAMILY: Helvetica; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff
}
.handleImage {
	BACKGROUND-IMAGE: url(images/HandleHand.png); OVERFLOW: hidden; WIDTH: 15px; CURSOR: se-resize; HEIGHT: 16px
}
.handleText {
	BACKGROUND-IMAGE: url(images/HandleGrip.png); OVERFLOW: hidden; WIDTH: 16px; CURSOR: se-resize; HEIGHT: 16px
}
.resizingImage {
	BORDER-RIGHT: #b4d35d 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b4d35d 3px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #b4d35d 3px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #b4d35d 3px solid
}
.resizingText {
	BORDER-RIGHT: #7391ba 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7391ba 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #7391ba 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #7391ba 2px solid
}
.unwatermarked {
	WIDTH: 148px; HEIGHT: 18px
}
.watermarked {
	BORDER-RIGHT: #bebebe 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bebebe 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #bebebe 1px solid; WIDTH: 150px; COLOR: gray; PADDING-TOP: 2px; BORDER-BOTTOM: #bebebe 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f0f8ff
}
.ratingStar {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 0pt; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 13px; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.filledRatingStar {
	BACKGROUND-IMAGE: url(Images/FilledStar.png)
}
.emptyRatingStar {
	BACKGROUND-IMAGE: url(Images/EmptyStar.png)
}
.savedRatingStar {
	BACKGROUND-IMAGE: url(Images/SavedStar.png)
}
.walkthrough LI {
	PADDING-BOTTOM: 5px
}
.walkthroughNote {
	PADDING-LEFT: 25px; FONT-STYLE: italic
}
.TextIndicator_TextBox1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.BarIndicator_TextBox2_weak {
	COLOR: red; BACKGROUND-COLOR: red
}
.BarIndicator_TextBox2_average {
	COLOR: blue; BACKGROUND-COLOR: blue
}
.BarIndicator_TextBox2_good {
	COLOR: green; BACKGROUND-COLOR: green
}
.BarBorder_TextBox2 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px solid; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.TextIndicator_TextBox3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: small; PADDING-BOTTOM: 2px; COLOR: yellow; PADDING-TOP: 2px; BACKGROUND-COLOR: blue; FONT-VARIANT: small-caps
}
.TextIndicator_TextBox3_Handle {
	BACKGROUND-IMAGE: url(images/Question.png); OVERFLOW: hidden; WIDTH: 16px; CURSOR: help; HEIGHT: 14px
}
.TextIndicator_TextBox1_Strength1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.TextIndicator_TextBox1_Strength2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: yellow; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.TextIndicator_TextBox1_Strength3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: #ffcaaf; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.TextIndicator_TextBox1_Strength4 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: aqua; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.TextIndicator_TextBox1_Strength5 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; COLOR: #93ff9e; PADDING-TOP: 2px; FONT-STYLE: italic; FONT-FAMILY: Arial; BACKGROUND-COLOR: gray
}
.dynamicPopulate_Normal {
	BORDER-RIGHT: silver 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: silver 1px inset; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: silver 1px inset; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px inset; HEIGHT: 2em; TEXT-ALIGN: center
}
.dynamicPopulate_Updating {
	BORDER-RIGHT: silver 1px inset; PADDING-RIGHT: 2px; BORDER-TOP: silver 1px inset; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(images/loading.gif); PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: silver 1px inset; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px inset; BACKGROUND-REPEAT: no-repeat; HEIGHT: 2em; TEXT-ALIGN: center
}
.MaskedEditFocus {
	COLOR: #000000; BACKGROUND-COLOR: #ffffcc
}
.MaskedEditMessage {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.MaskedEditError {
	BACKGROUND-COLOR: #ffcccc
}
.MaskedEditFocusNegative {
	COLOR: #ff0000; BACKGROUND-COLOR: #ffffcc
}
.MaskedEditBlurNegative {
	COLOR: #ff0000
}
.MyCalendar .ajax__calendar_container {
	BORDER-RIGHT: #646464 1px solid; BORDER-TOP: #646464 1px solid; BORDER-LEFT: #646464 1px solid; COLOR: red; BORDER-BOTTOM: #646464 1px solid; BACKGROUND-COLOR: lemonchiffon
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day {
	COLOR: black
}
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
	COLOR: black
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day {
	COLOR: black
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_month {
	COLOR: black
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
	COLOR: black
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day {
	FONT-WEIGHT: bold; COLOR: black
}
.MyCalendar .ajax__calendar_active .ajax__calendar_month {
	FONT-WEIGHT: bold; COLOR: black
}
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
	FONT-WEIGHT: bold; COLOR: black
}
.slideTitle {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-STYLE: italic
}
.slideDescription {
	FONT-WEIGHT: bold; FONT-SIZE: small
}
.validatorCalloutHighlight {
	BACKGROUND-COLOR: lemonchiffon
}
.ListSearchExtenderPrompt {
	COLOR: gray; FONT-STYLE: italic; BACKGROUND-COLOR: white
}
