@model CIIC.HSR.TSP.WF.Ctrl.Test.Models.Expense
@{
    ViewBag.Title = "StackWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" target="_parent">首页</a></li>
        <li><span class="label label-success" id="QueryCustName">跟踪流程测试页面</span></li>
    </ol>
    <div class="panel panel-default">
        <h6>跟踪流程测试页面</h6>
    </div>
</div>

<script type="text/javascript">

</script>

