<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
		<sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
			<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
			<section name="webcontrols" type="MCS.Web.Library.WebControlsSection, MCS.Web.Library"/>
			<section name="contentTypes" type="MCS.Web.Library.ContentTypesSection, MCS.Web.Library"/>
			<section name="pageContent" type="MCS.Web.Library.PageContentSection, MCS.Web.Library"/>
			<section name="httpModules" type="System.Web.Configuration.HttpModulesSection, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<section name="pageModules" type="MCS.Web.Library.PageModulesSection, MCS.Web.Library"/>
		</sectionGroup>
		<section name="propertyGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyGroupSettings, MCS.Library.SOA.DataObjects"/>
		<section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
		<section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
		<section name="accreditSection" type="MCS.Library.Accredit.Configuration.AccreditSection,MCS.Library.Accredit"/>
    <section name="auServiceClientSettings" type="MCS.Library.SOA.DataObjects.Security.AUClient.Configuration.AUServiceClientSettings, MCS.Library.SOA.DataObjects.Security.AUClient" />
	</configSections>
	<oguObjectSettings>
		<objects>
			<add name="requestor" fullPath="wangli5" pathType="LogOnName" />
			<add name="approver1" fullPath="fanhy" pathType="LogOnName" />
			<add name="approver2" fullPath="zhaoyj" pathType="LogOnName" />
		</objects>
	</oguObjectSettings>
	<workflowSettings connectionName="HB2008">
		<typeFactories>
			<add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects" />
			<add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects" />
		</typeFactories>
	</workflowSettings>
	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
	</appSettings>
	<deluxe.web>
		<pageContent autoLoad="true">
			<cssClasses>
				<add path="~/css/baseForm.css"/>
			</cssClasses>
		</pageContent>
		<httpModules>
			<add type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule"/>
			<add name="PageModuleHttpModule" type="MCS.Web.Library.PageModuleHttpModule, MCS.Web.Library"/>
		</httpModules>
		<pageModules>
			<add name="PageContentModule" type="MCS.Web.Library.PageContentModule, MCS.Web.Library"/>
			<add name="ControlStylePageModule" type="MCS.Web.Library.ControlStylePageModule, MCS.Web.Library"/>
		</pageModules>
	</deluxe.web>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs>
		</authenticateDirs>
		<anonymousDirs>
			<!--<add location="~/Anonymous/*.aspx"/>
			<add location="~/signInImages/*.*"/>-->
		</anonymousDirs>
		<typeFactories>
			<add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
		</typeFactories>
	</authenticateDirSettings>
  <auServiceClientSettings useLocalCache="false" useServerCache="false" timeout="00:01:30">
    <paths>
      <clear/>
      <add name="queryServiceAddress" uri="http://localhost/MCSWebApp/AUCenterServices/Services/AUCenterQueryService.asmx" />
      <add name="updateServiceAddress" uri="http://localhost/MCSWebApp/AUCenterServices/Services/AUCenterUpdateService.asmx" />
    </paths>
    <connectionMappings>
      <!--<add name="AdminUnit" destination="AdminUnitTest"/>-->
    </connectionMappings>
  </auServiceClientSettings>
	<system.web>
		<compilation debug="true" defaultLanguage="js" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="None"/>
		<httpRuntime  requestValidationMode="2.0"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false"/>
	</system.web>
	<system.webServer>
		<modules>
			<add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
		</modules>
	</system.webServer>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
</configuration>
