<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="passportClientSettings" type="MCS.Library.Passport.PassportClientSettings, MCS.Library.Passport" />
    <section name="passportSignInSettings" type="MCS.Library.Passport.PassportSignInSettings, MCS.Library.Passport" />
    <section name="passportEncryptionSettings" type="MCS.Library.Passport.PassportEncryptionSettings, MCS.Library.Passport" />
    <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
    <section name="impersonateSettings" type="MCS.Library.Passport.ImpersonateSettings, MCS.Library.Passport" />
    <section name="connectionManager" type="MCS.Library.Data.DbConfigSection, MCS.Library.Data"/>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <connectionManager>
    <connectionStrings>
      <add name="DeluxeWorksPassport" connectionString="Data Source=.;Initial Catalog=DeluxeWorksPassport;Integrated Security=SSPI" providerName="SQL-NET" />
    </connectionStrings>
    <dbProviders>
      <!--DbProviderFactory-->
      <add name="SQL-NET"  type="System.Data.SqlClient"/>
      <add name="OLE-ORACLE" type="System.Data.OracleClient"/>
      <add name="SQL-OLEDB" type="System.Data.OleDb"/>
      <add name="OLE-MICROSOFT" type="System.Data.OleDb"/>
      <add name="SQL-ODBC" type="System.Data.Odbc"/>
      <add name="ORACLE-ODBC" type="System.Data.Odbc"/>
    </dbProviders>
  </connectionManager>
  <impersonateSettings>
    <impersonation>
      <add sourceUserID="li_qian" destinationUserID="li_shuyu" />
    </impersonation>
  </impersonateSettings>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
      <add location="~/Anonymous/*.aspx"/>
      <add location="~/AnonymousTestPage/*.aspx"/>
    </anonymousDirs>
  </authenticateDirSettings>
  <oguPermissionSettings >
    <paths>
      <add name="oguServiceAddress" uri="http://localhost/accreditAdmin/services/OGUReaderService.asmx" />
      <add name="appAdminServiceAddress" uri="http://localhost/AppAdmin/exports/AppSecurityCheckService.asmx" />
    </paths>
    <topOUMapping>
    </topOUMapping>
    <typeFactories>
      <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
      <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    </typeFactories>
  </oguPermissionSettings>
  <passportEncryptionSettings>
    <typeFactories>
      <add name="ticketEncryption" type="MCS.Library.Passport.TicketEncryption, MCS.Library.Passport" />
      <add name="stringEncryption" type="MCS.Library.Passport.StringEncryption, MCS.Library.Passport" />
    </typeFactories>
  </passportEncryptionSettings>
  <passportClientSettings appID="testProject" appSignInTimeout="590" appSlidingExpiration="1200" >
    <paths>
      <add name="signInUrl" uri="http://localhost/PassportService/Anonymous/SignInPage.aspx" />
      <add name="logOffUrl" uri="http://localhost/PassportService/Anonymous/LogOffPage.aspx" />
      <add name="logOffCallBackUrl" uri="~/DeluxeWorksAuthenticateLogOff.axd" />
    </paths>
    <typeFactories>
      <add name="userImpersonateLoader" type="" />
    </typeFactories>
    <rsaKeyValue>
      <Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
      <Exponent>AQAB</Exponent>
      <P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
      <Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
      <DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
      <DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
      <InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
      <D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
    </rsaKeyValue>
  </passportClientSettings>
  <passportSignInSettings defaultTimeout="600" slidingExpiration="1200" >
    <typeFactories>
      <add name="authenticator" type="MCS.Library.Passport.DefaultAuthenticator, MCS.Library.Passport" />
      <add name="persistSignInInfo" type="MCS.Library.Passport.DataAdapter, MCS.Library.Passport" />
    </typeFactories>
    <rsaKeyValue>
      <Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
      <Exponent>AQAB</Exponent>
    </rsaKeyValue>
  </passportSignInSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="None" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <add type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule" />
    </httpModules>
  </system.web>
</configuration>
