<connectionManager>
    <connectionStrings>
        <!--连接本地数据库-->
        <add name="HB2008" connectionString="server=MCSFramework;database=MCS_WORKFLOW_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="HB2008_SIMULATION" connectionString="server=MCSFramework;database=MCS_WORKFLOW_SIMULATION_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="UserRelativeInfo" connectionString="Data Source=MCSFramework;Initial Catalog=HB2008_Params_SinoOcean_Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="AccreditAdmin" connectionString="server=MCSFramework;database=SinoOceanOgus;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
        <add name="SubjectDB" connectionString="server=MCSFramework;database=SubjectDB_Test;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
        <add name="TestServer" connectionString="server=10.0.9.240;database=MCS_WORKFLOW;User ID=msuser;Password=msuser" commandTimeout="00:01:00" providerName="System.Data.SqlClient" />

        <!--<add name="HB2008" connectionString="server=10.0.9.240;database=MCS_WORKFLOW_R;User ID=msuser;Password=msuser;" providerName="System.Data.SqlClient"/>
		<add name="HB2008_SIMULATION" connectionString="server=10.0.9.240;database=MCS_WORKFLOW_SIMULATION_TEST;User ID=msuser;Password=msuser;" providerName="System.Data.SqlClient"/>
		<add name="UserRelativeInfo" connectionString="Data Source=10.0.9.240;Initial Catalog=HB2008_Params_SinoOcean_Test;User ID=msuser;Password=msuser;" providerName="System.Data.SqlClient"/>
		<add name="AccreditAdmin" connectionString="server=10.0.9.240;database=SinoOceanOgus;User ID=msuser;Password=msuser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB" connectionString="server=10.0.9.240;database=SubjectDB_Test;User ID=msuser;Password=msuser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="TestServer" connectionString="server=10.0.9.240;database=MCS_WORKFLOW_R;User ID=msuser;Password=msuser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient" />-->

    </connectionStrings>
    <dataProviders>
        <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
        <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
        <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
</connectionManager>