<!-- 机构人员和授权管理访问相关配置信息 -->
<oguPermissionSettings rootOUPath="机构人员">
    <paths>
        <!--机构人员访问的Service地址，按实际情况修改-->
        <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/AccreditAdmin/Services/OGUReaderService.asmx" />
        <!--授权管理访问的Service地址，按实际情况修改 -->
        <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/AppAdmin/exports/AppSecurityCheckService.asmx" />
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="5">
    </topOUMapping>
    <typeFactories>
        <!--实现机构人员操作的工厂类-->
        <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
        <!--实现授权操作的工厂类-->
        <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    </typeFactories>
</oguPermissionSettings>