<header class="panel-title clearfix">
    <div class="address-book-block pull-left">
        <div class="text-muted address-book">
            <a href="/MCSWebApp/OACommonPages/UserInfoExtend/UserInfoExtendMain.aspx" target="_blank"
                title="通讯录"><span class="glyphicon glyphicon-list-alt text-muted"></span><strong
                    class="text-optional">通迅录</strong> </a>
        </div>
    </div>
    <form class="search-wrapper form-inline" role="form" method="get" action="/MCSWebApp/MCSResponsiveOAPortal/Search/SearchResult.aspx">
    <div class="">
        <div class="input-group">
            <input class="form-control" type="text" data-banneritem="search" name="query" required="required"
                placeholder="请输入关键字...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit" id="search-submit">
                    <i class="glyphicon glyphicon-search"></i> 搜索</button>
            </span><span class="input-group-btn"><a href="/MCSWebApp/MCSResponsiveOAPortal/Search/AdvancedSearch.aspx"
                class="btn btn-link">高级搜索</a></span>
        </div>
    </div>
    </form>
</header>
