@model CIIC.HSR.TSP.WF.Bizlet.Contract.IWfMatrixProcess
@{
    ViewBag.Title = "Index";
}

<h2>矩阵流程绑定测试</h2>

@using(Html.BeginForm("Index","BindingTest",FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-xs-4 control-label">流程Key</label>
                        <div class="col-sm-8 col-xs-8">
                            @Html.HSRUI().TextBoxFor(p => p.Key)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-xs-4 control-label">流程名称</label>
                        <div class="col-sm-8 col-xs-8">
                            @Html.HSRUI().TextBoxFor(p => p.Name)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @for (int i = 0; i < Model.Activities.Count;i++ )
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-4 control-label">节点Id</label>
                            <div class="col-sm-8 col-xs-8">
                                @Html.HSRUI().TextBoxFor(p => p.Activities[i].Id)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-4 control-label">节点名称</label>
                            <div class="col-sm-8 col-xs-8">
                                @Html.HSRUI().TextBoxFor(p => p.Activities[i].Name)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <input type="submit" value="提交" />
        </div>
    </div>
}

