<commonInfoMappingSettings>
  <operations>
	  <add name="defaultCommonInfoMappingUpdater" type="MCS.Library.SOA.DataObjects.DefaultCommonInfoMappingUpdater, MCS.Library.SOA.DataObjects"/>
	  <!--<add name="toOldPlatformCommonInfoUpdater" type="SinoOcean.Seagull2.Framework.Bridge.CommonInfoMappingToOldPlatform, SinoOcean.Seagull2.Framework.Bridge"/>-->
  </operations>
</commonInfoMappingSettings>