<!--需按照实际情况修改-->
<connectionManager>
  <connectionStrings>
    <add name="AdminUnit" connectionString="server=10.0.9.243;database=MCS_ADMINISTRATIVE_UNIT1;User ID=seagull2user;Password=seagull2user; " commandTimeout="00:02:00" providerName="System.Data.SqlClient"/>
    <!--连接主数据库Schema-->
    <!--媒体关系-->
    <add name="SubjectDB_Media" connectionString="Server=10.0.9.243;User ID= SubjectDBReader;Database=SubjectDB;Password= subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Finance" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Payment" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Fund" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_FixedAsset" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_EmpService" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_SalaryCheck" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB_Salary;Password=SubjectDBReader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Supplier" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_ProMaterials" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Contract" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_InvestDev" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Bidding" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Archive" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Case" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_ReaderOnly" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Password=subjectdbreader;Database=SubjectDB;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Common" connectionString="Server=10.0.9.243;User ID=commonuser;Database=SubjectDB;Password=commonuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Human" connectionString="Server=10.0.9.243;User ID=Salarydbuser;Database=SubjectDB;Password=salarydbuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Secretary" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB" connectionString="Server=10.0.9.243;User ID=SubjectDBMgtUser;Database=SubjectDB;Password=subjectdbmgtuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Equity" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDBReader" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Qualification" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_CustomerSatis" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_AdminService" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_WorkPlan" connectionString="Server=10.0.9.243;User ID=workplanuser;Database=SubjectDB;Password=workplanuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_PlanManage" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_ProcessManagement" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Alliance" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>

    <add name="SubjectDB_Audit" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Stock" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>

    <add name="SubjectDB_Card" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>

    <add name="SubjectDB_Charge" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_EmpProvider" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_CareerDev" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Board" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Investor" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Rectification" connectionString="Server=10.0.9.243;User ID=ConcentratedUser;Database=SubjectDB;Password=concentrateduser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_LandObtained" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>


        <add name="SubjectDB_Sale" connectionString="Server=10.0.9.243;Database=SubjectDB;User ID=SaleUser;Password=saleuser;enlist=true;" providerName="System.Data.SqlClient"/>
        <add name="SubjectDB_Signs" connectionString="Server=10.0.9.243;Database=SubjectDB;User ID=SignsUser;Password=signsuser;enlist=true;" providerName="System.Data.SqlClient"/>
        <add name="SubjectDB_CustomerRelation" connectionString="Server=10.0.9.243;Database=SubjectDB;User ID=RelationshipUser;Password=relationshipuser;enlist=true;" providerName="System.Data.SqlClient"/>
        <add name="SubjectDB_ProDefine" connectionString="Server=10.0.9.243;User ID=ProdefineUser;Database=SubjectDB;Password=prodefineuser;enlist=true;" providerName="System.Data.SqlClient"/>

       <add name="SubjectDB_HouseDelivery" connectionString="Server=10.0.9.243;User ID=HouseDeliveryUser;Database=SubjectDB;Password=housedeliveryuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <!--人员考核主题库--> 
    <add name="SubjectDB_EmpAssess" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/> 
    <!--人员考核交易库--> 
    <add name="HumanResource_EmpAssess" connectionString="Server=10.0.9.243;User ID= SubjectDBReader;Database=HumanResource;Password=subjectdbreade;enlist=false;" providerName="System.Data.SqlClient"/>


    <add name="SubjectDB_Gov" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_DesignChange" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Password=subjectdbreader;Database=SubjectDB;enlist=true;" providerName="System.Data.SqlClient"/>
    <!--人员激励主库 -->
    <add name="SubjectDB_EmpEncourage" connectionString="Server=10.0.9.243;User ID=subjectdbreader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>     
    <!--税费管理-->
    <add name="Taxes_SubjectDB" connectionString="Server=10.0.9.243;User ID=TaxesUser;Database=SubjectDB;Password= taxesuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <!--税费管理-->
    <add name="Taxes_Transaction" connectionString="Server=10.0.9.243;User ID=TaxesUser;Database=Financing;Password= taxesuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <!--融资管理-->
    <add name="Financing_SubjectDB" connectionString="Server=10.0.9.243;User ID=FinancingUser;Database=SubjectDB;Password= financinguser;enlist=false;" providerName="System.Data.SqlClient"/>
    <add name="Financing_Transaction" connectionString="Server=10.0.9.243;User ID=FinancingUser;Database=Financing;Password= financinguser;enlist=false;" providerName="System.Data.SqlClient"/>

	<!--主数据图片附件操作连接串-->
    <add name="SubjectDB_WF" connectionString="Server=10.0.9.243;User ID=WFUser;Database=SubjectDB;Password=wfuser;enlist=true;" providerName="System.Data.SqlClient"/>

 
	<!--非主线服务类 -->
    <add name="ArchiveSubjectDB" connectionString="Server=10.0.9.243;User ID=ArchiveUser;Database=SubjectDB;Password=archiveuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="FixedAssets" connectionString="Server=10.0.9.243;User ID=AssetsUser;Database=SecretaryAdministration;Password=assetsuser;enlist=true;" providerName="System.Data.SqlClient"/>
    
    <add name="SecretarialService" connectionString="Server=10.0.9.243;User ID=SecretaryUser;Database=SecretaryAdministration;Password=secretaryuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="TransDB_Case" connectionString="Server=10.0.9.243;User ID=CasesUser;Database=RiskManagement;Password=casesuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <!--add name="CaseSubjectDB" connectionString="Server=10.0.9.243;User ID=CasesUser;Database=SubjectDB;Password=casesuser;enlist=true;" providerName="System.Data.SqlClient"/-->
    <add name="QuestionnaireMetaData" connectionString="server=10.0.9.243;database=PFSubjectDB;User ID=QNUser;Password=qnuser;Enlist=true" providerName="System.Data.SqlClient"/>
    <add name="QuestionnaireTranData" connectionString="server=10.0.9.243;database=Questionnaire;User ID=QNUser;Password=qnuser;Enlist=true" providerName="System.Data.SqlClient"/>
	<!--非主线服务类 结束 -->

    <!--连接本地数据库-->
    <!--<add name="AccreditAdmin" connectionString="server=10.0.9.243;database=SinoOceanOgus;User ID=publicuser;Password=publicuser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>-->
    <add name="AccreditAdmin" connectionString="server=10.0.9.243;database=SinoOceanOgus;User ID=publicuser;Password=publicuser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
    <add name="OldPlatform" connectionString="server=10.0.9.243;database=HB2008_SinoOcean;User ID=publicuser;Password=publicuser;" providerName="System.Data.SqlClient" commandTimeout="00:20:00"/>
    <!--new db link-->
    <add name="HB2008" connectionString="server=10.0.9.243;database=MCS_WORKFLOW;User ID=seagull2user;Password=seagull2user;" providerName="System.Data.SqlClient" commandTimeout="00:20:00"/>
    <add name="FullTextSearch" connectionString="server=10.0.9.243;database=MCS_WORKFLOW;Uid=seagull2user;Pwd=seagull2user;Trusted_Connection=False;Integrated Security=False" providerName="System.Data.SqlClient" commandTimeout="00:20:00"/>
    <add name="SINOOCEAN_FINANCE" connectionString="Server=10.0.9.243;User ID=PaymentUser;Database=SINOOCEAN_FINANCE;Password=paymentuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource" connectionString="Server=10.0.9.243;User ID=EmpServiceUser;Database=HumanResource;Password=empserviceuser;enlist=true;" providerName="System.Data.SqlClient"/>

    <add name="TranDB_Supplier" connectionString="Server=10.0.9.243;User ID=SupplierUser;Password=supplieruser;Database=ProductResearch;enlist=true;" providerName="System.Data.SqlClient"/>

    <!--add name=" SecretarialService" connectionString="server=10.0.9.243;database= SecretaryAdministration;User ID=SecretaryUser;Password=secretaryuser;enlist=true" providerName="System.Data.SqlClient"/-->   
    <add name="Funds" connectionString="Server=10.0.9.243;User ID=FundUser;Database=Financing;Password=funduser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="Charge" connectionString="Server=10.0.9.243;User ID=ChargeUser;Database=Financing;Password=chargeuser;enlist=true;" providerName="System.Data.SqlClient"/>    
    <add name="CustomerRelations" connectionString="Server=10.0.9.243;User ID=HouseDeliveryUser;Database=CustomerRelations;Password=housedeliveryuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource_HR" connectionString="Server=10.0.9.243;User ID=EmpServiceUser;Database=HumanResource;Password=empserviceuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_HR" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB_HR;Password=admin@test;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource_New" connectionString="Server=10.0.9.243;User ID=EmpServiceUser;Database=HumanResource;Password=empserviceuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SINOOCEAN_PRODUCTRESEARCH" connectionString="server=10.0.9.243;database=ProductResearch;User ID=msuser;Password=admin@test;enlist=true" providerName="System.Data.SqlClient"/>
    <add name="SalaryPlan" connectionString="Server=10.0.9.243;User ID=msuser;Database=HumanResource_Salary;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_SalaryPlan" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB_Salary;Password=SubjectDBReader;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="EvaluationMetaData" connectionString="server=10.0.9.243;database=PFSubjectDB;User ID=ecuser;Password=ecuser" providerName="System.Data.SqlClient"/>


    <add name="SalaryCheck" connectionString="Server=10.0.9.243;User ID=EmpServiceUser;Database=HumanResource_Salary;Password=empserviceuser;enlist=true;" providerName="System.Data.SqlClient"/> 
    <add name="Contract_trade" connectionString="server=10.0.9.243;database=Contract_trade;User ID=contractuser;Password=contractuser;enlist=true;" providerName="System.Data.SqlClient"/> 
    <add name="SecretarialService" connectionString="Server=10.0.9.243;User ID=SecretaryUser;Database=SecretaryAdministration;Password=secretaryuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="WorkPlan" connectionString="Server=10.0.9.243;User ID=msuser;Database=WorkPlan;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="StrategyDevelopment" connectionString="Server=10.0.9.243;User ID=StrategyDevelopmentUser;Database=StrategyDevelopment;Password=strategydevelopmentuser;enlist=true;" providerName="System.Data.SqlClient"/>


    <add name="FactManage" connectionString="Server=10.0.9.243;User ID=msuser;Database=FactManage;Password=msuser;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="ReportDB" connectionString="Server=10.0.9.243;User ID=testuser;Database=ReportDB;Password=testuser;enlist=true;" providerName="System.Data.SqlClient"/>
   <!--add name="ReportDB" connectionString="Server=10.0.9.243;User ID=msuser;Database=ReportDB;Password=msuser;enlist=true;" providerName="System.Data.SqlClient"/-->

    <add name="MCSExtranetUser" connectionString="uid=msuser;pwd=msuser;enlist=true;database=MCSExtranetUsers;server=10.0.9.240;" providerName="System.Data.SqlClient" />
    <!--会员关系交易库-->
    <add name="TranDB_CustomerRelation" connectionString="server=10.0.9.243;database=CustomerRelations;User ID=msuser;Password=admin@test;Enlist=true" providerName="System.Data.SqlClient"/>
    <add name="PermissionsCenter" connectionString="server=10.0.9.243;database=MCS_PERMISSIONS_CENTER;User ID=PermissionsCenterUser;Password=permissionscenteruser;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>

   <!--new db link end-->
    <add name="LOG" connectionString="server=10.0.9.243;database=AppAdmin_Log_SinoOcean;User ID=publicuser;Password=publicuser" providerName="System.Data.SqlClient"/>

    <add name="DeluxeWorksPassport" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=seagull2user;Password=seagull2user"  providerName="System.Data.SqlClient" />
    <add name="UserRelativeInfo" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=seagull2user;Password=seagull2user;enlist=true" providerName="System.Data.SqlClient"/>
    <add name="PageViewState" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=seagull2user;Password=seagull2user" providerName="System.Data.SqlClient"/>
    <!--物业服务-->
    <add name="SubjectDB_PropertyService" connectionString="Server=10.0.9.243;User ID=TenementUser;Database=SubjectDB;Password=tenementuser;enlist=false;" providerName="System.Data.SqlClient"/>
    
    <!--绩效规划交易库-->
    <add name="StrategyDevelopment_PerformancePlan" connectionString="Server=10.0.9.243;User ID= PerformancePlanUser;Database=StrategyDevelopment;Password= performanceplanuser;enlist=false;" providerName="System.Data.SqlClient"/>
    <!--绩效规划主库-->
    <add name="SubjectDB_PerformancePlan" connectionString="Server=10.0.9.243;User ID=PerformancePlanUser;Database=SubjectDB;Password=performanceplanuser;enlist=false;" providerName="System.Data.SqlClient"/>
    <!--公共关系-->
    <add name="CommonService_Management" connectionString="Server=10.0.9.243;User ID=GovUser;Database=CommonServiceManagement;Password=govuser;enlist=false;" providerName="System.Data.SqlClient"/>
  
   <!--现场销售-->
    <add name="FieldSales" connectionString="Server=10.0.9.243;User ID=testuser;Database=FieldSales;Password= testuser;enlist=true;" providerName="System.Data.SqlClient"/>
   <!--计划管理-->
	  
  <!--评价中心-->
  <!--add name="EvaluationIntance" connectionString="server=10.0.9.243;database=EvaluationCenter;User ID=msuser;Password=admin@test " providerName="System.Data.SqlClient"/-->
  <add name="SubjectDB_PropertyManagement" connectionString="Server=10.0.9.243;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=true;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <dataProviders>
    <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
    <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
    <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
  </dataProviders>
</connectionManager>