<!--需按照实际情况修改-->
<connectionManager>
	<connectionStrings>
		<add name="AccreditAdmin" connectionString="server=MCSFramework;database=SinoOceanOgus;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="LOG" connectionString="server=MCSFramework;database=AppAdmin_Log_SinoOcean;Integrated Security=True;" providerName="System.Data.SqlClient"/>
		<add name="DeluxeWorksPassport" connectionString="server=MCSFramework;database=HB2008_Params_SinoOcean;Integrated Security=True"  providerName="System.Data.SqlClient" />
		<add name="PageViewState" connectionString="server=MCSFramework;database=HB2008_Params_SinoOcean;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="UserRelativeInfo" connectionString="server=MCSFramework;database=HB2008_Params_SinoOcean;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="HB2008" connectionString="server=MCSFramework;database=MCS_WORKFLOW;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="HB2008_SIMULATION" connectionString="server=MCSFramework;database=MCS_WORKFLOW_SIMULATION;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Archive" connectionString="server=MCSFramework;database=MCS_WORKFLOW_ARCHIVE;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="FullTextSearch" connectionString="server=MCSFramework;database=MCS_WORKFLOW;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="WFDEMO" connectionString="server=MCSFramework;database=MCS_WORKFLOW;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB" connectionString="server=MCSFramework;database=SubjectDB_Test;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="SINOOCEAN_FINANCE" connectionString="server=MCSFramework;database=SINOOCEAN_FINANCE;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="PermissionsCenter" connectionString="server=MCSFramework;database=MCS_PERMISSIONS_CENTER;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="AdminUnit" connectionString="server=MCSFramework;database=MCS_ADMINISTRATIVE_UNIT;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AdminUnitTest" connectionString="server=MCSFramework;database=MCS_ADMINISTRATIVE_UNIT_TEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="PermissionsCenterTest" connectionString="server=MCSFramework;database=MCS_PERMISSIONS_CENTER_TEST;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="EmpFinance" connectionString="server=MCSFramework;database=EmpFinance;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="HB2008_TEST" connectionString="server=MCSFramework;database=MCS_WORKFLOW_TEST;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>

		<add name="CNPCSAP" connectionString="server=MCSFramework;database=SAPData;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<dataProviders>
		<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
		<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
		<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
	</dataProviders>
</connectionManager>