<identityConfigSettings>
	<identities>
		<add name="domainUser" userId="soaadmin" domain="sinooceanland" password="pass@word01" />
		<add name="documentServer" userId="shenzheng" domain="MCS-SHENZHENG" password="Shen6027" />
		<add name="smtpSender" userId="soaadmin" domain="sinooceanland" password="pass@word01" />
	</identities>
</identityConfigSettings>