<!--roleRelatedUserParentDept决定了角色判定时，是否和用户的FullPath相关>
<oguPermissionSettings rootOUPath="机构人员\远洋地产" roleRelatedUserParentDept="true">-->
<oguPermissionSettings rootOUPath="机构人员\远洋地产">
	<paths>
		<!--机构人员访问的Service地址，按实际情况修改-->

		<add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
		<!--授权管理访问的Service地址，按实际情况修改 -->
		<add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
	</paths>
	<!--获取顶级部门映射-->
	<topOUMapping level="4">
	</topOUMapping>
	<typeFactories>
		<!--实现机构人员操作的工厂类-->
		<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
		<!--实现授权操作的工厂类-->
		<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
	</typeFactories>
</oguPermissionSettings>