<?xml version="1.0" encoding="utf-8"?>
<objectSchemaSettings adminRoleFullCodeName="APP_ADMIN:SYSTEM_MAX_ADMINISTRATOR">
<!--<objectSchemaSettings>-->
	<schemas>
		<add name="Users" snapshotTable="SC.SchemaUserSnapshot" isUsersContainerMember="true" category="Users" sortOrder="0" logoImage="user" codeNameKey="samAccountName" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.SCUser, MCS.Library.SOA.DataObjects.Security" description="基本人员">
			<operations>
				<add name="Add" method="AddUser" hasParentParemeter="true" />
				<add name="Update" method="UpdateUser" />
				<add name="Delete" method="DeleteUser" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="OguUniqueObjectBase" groupName="OguUniqueObjectBase" />
				<add name="UserBase" groupName="UserBase" />
				<add name="AccountInfo" groupName="AccountInfo" />
				<add name="ContactInfo" groupName="ContactInfo" />
				<add name="UserPhoto" groupName="UserPhoto" />
				<add name="UserPolitics" groupName="UserPolitics" />
        <add name="HrData" groupName="HrData" />
				<!--行政信息-->
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
				<add name="AccountInfo" description="账户信息"/>
				<add name="ContactInfo" description="通信信息"/>
				<add name="Politics" description="行政信息" />
        <add name="HrData" description ="人力资源" />
			</tabs>
		</add>
		<add name="Organizations" snapshotTable="SC.SchemaOrganizationSnapshot" category="Organizations" logoImage="ou" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.SCOrganization, MCS.Library.SOA.DataObjects.Security" description="组织">
			<operations>
				<add name="Add" method="AddOrganization" hasParentParemeter="true" />
				<add name="Update" method="UpdateOrganization" />
				<add name="Delete" method="DeleteOrganization" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="AppUniqueObjectBase" groupName="AppUniqueObjectBase" />
				<add name="OrgPolitics" groupName="OrgPolitics" />
				<add name="OrganizationInfo" groupName="OrganizationInfo" />
				<!--行政信息-->
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
				<add name="Politics" description="行政信息" />
			</tabs>
			<permissionSet>
				<add name="AddChildren" displayName="增加子对象" />
				<add name="DeleteChildren" displayName="删除子对象" />
				<add name="UpdateChildren" displayName="修改子对象" />
				<add name="EditPermissionsOfChildren" displayName="修改子对象的权限" />
				<add name="EditMembersOfGroups" displayName="修改群组中的人员" />
			</permissionSet>
		</add>
		<add name="Groups" category="Groups" logoImage="group" snapshotTable="SC.SchemaGroupSnapshot" isUsersContainer="true" codeNameKey="samAccountName" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.SCGroup, MCS.Library.SOA.DataObjects.Security" description="群组">
			<operations>
				<add name="Add" method="AddGroup" hasParentParemeter="true"/>
				<add name="Update" method="UpdateGroup" />
				<add name="Delete" method="DeleteGroup" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="OguUniqueObjectBase" groupName="OguUniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="Applications" category="Applications" logoImage="application" snapshotTable="SC.SchemaApplicationSnapshot" type="MCS.Library.SOA.DataObjects.Security.SCApplication, MCS.Library.SOA.DataObjects.Security" description="应用">
			<operations>
				<add name="Add" method="AddApplication" />
				<add name="Update" method="UpdateApplication" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="AppUniqueObjectBase" groupName="AppUniqueObjectBase" />
				<add name="ApplicationObject" groupName="ApplicationObject" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
			<permissionSet>
				<!--<add name="AddApplications" displayName="新增应用" />-->
				<add name="UpdateApplications" displayName="修改应用" />
				<!--<add name="DeleteApplications" displayName="删除应用" />-->
				<add name="AddRoles" displayName="新增角色" />
				<add name="UpdateRoles" displayName="修改角色" />
				<add name="ModifyMembersInRoles" displayName="修改角色中的成员" />
				<add name="DeleteRoles" displayName="删除角色" />
				<add name="AddPermissions" displayName="新增权限" />
				<add name="UpdatePermissions" displayName="修改权限" />
				<add name="DeletePermissions" displayName="删除权限" />
				<add name="EditRelationOfRolesAndPermissions" displayName="编辑角色和权限的对应关系" />
			</permissionSet>
		</add>
		<add name="Roles" category="Roles" logoImage="role" snapshotTable="SC.SchemaRoleSnapshot" isUsersContainer="true" codeNameValidationMethod="ByContainerAndCodeNameKey" type="MCS.Library.SOA.DataObjects.Security.SCRole, MCS.Library.SOA.DataObjects.Security" description="角色">
			<operations>
				<add name="Add" method="AddRole" hasParentParemeter="true" />
				<add name="Update" method="UpdateRole" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="AppUniqueObjectBase" groupName="AppUniqueObjectBase" />
				<add name="MatrixContainer" groupName="MatrixContainer" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="Permissions" category="Permissions" logoImage="function" snapshotTable="SC.SchemaPermissionSnapshot" codeNameValidationMethod="ByContainerAndCodeNameKey" type="MCS.Library.SOA.DataObjects.Security.SCPermission, MCS.Library.SOA.DataObjects.Security" description="权限">
			<operations>
				<add name="Add" method="AddPermission" hasParentParemeter="true" />
				<add name="Update" method="UpdatePermission" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="AppUniqueObjectBase" groupName="AppUniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="RelationObjects" tableName="SC.SchemaRelationObjects" snapshotTable="SC.SchemaRelationObjectsSnapshot" toSchemaObjectSnapshot="false" category="RelationObjects" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCRelationObject, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="RelationObject" groupName="RelationObject" />
			</schemaClasses>
		</add>
		<add name="MemberRelations" tableName="SC.SchemaMembers" snapshotTable="SC.SchemaMembersSnapshot" toSchemaObjectSnapshot="false" category="MemberRelations" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCMemberRelation, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="MemberRelationObject" groupName="MemberRelationObject" />
			</schemaClasses>
		</add>
		<add name="SecretaryRelations" tableName="SC.SchemaMembers" snapshotTable="SC.SchemaMembersSnapshot" category="MemberRelations" toSchemaObjectSnapshot="false" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCSecretaryRelation, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="MemberRelationObject" groupName="MemberRelationObject" />
			</schemaClasses>
		</add>

    <!--管理单元的-->

    <add name="AUSchemas" snapshotTable="SC.AUSchemaSnapshot" category="AUSchemas" sortOrder="0" logoImage="auschema" codeNameKey="samAccountName" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AUSchema, MCS.Library.SOA.DataObjects.Security.AUObjects" description="管理单元架构">
      <operations>
        <add name="Add" method="AddAdminSchema" />
        <add name="Update" method="UpdateAdminSchema" />
        <add name="Delete" method="DeleteAdminSchema" />
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="AUCBase" groupName="AUCBase" />
        <add name="AUSchemaBase" groupName="AUSchemaBase" />
      </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
    </add>
    <add name="AUSchemaRoles" snapshotTable="SC.AUSchemaRoleSnapshot" category="AUSchemaRoles" logoImage="roles" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AUSchemaRole, MCS.Library.SOA.DataObjects.Security.AUObjects" description="管理架构角色">
      <operations>
        <add name="Add" method="AddAdminSchemaRole" hasParentParemeter="true" />
        <add name="Update" method="UpdateAdminSchemaRole" />
        <add name="Delete" method="DeleteAdminSchemaRole" />
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="AUCBase" groupName="AUCBase" />
        <add name="AUSchemaRoleBase" groupName="AUSchemaRoleBase" />
      </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
      <permissionSet>

      </permissionSet>
    </add>
    <add name="AdminUnits" category="AdminUnits" logoImage="au" snapshotTable="SC.AdminUnitSnapshot" isUsersContainer="false" codeNameKey="" fullPathValidationMethod="UniqueInParent" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AdminUnit, MCS.Library.SOA.DataObjects.Security.AUObjects" description="管理单元">
      <operations>
        <add name="Add" method="AddAdminUnit" hasParentParemeter="true"/>
        <add name="Update" method="UpdateAdminUnit" />
        <add name="Delete" method="DeleteAdminUnit" />
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="AUCBase" groupName="AUCBase" />
        <add name="AdminUnitBase" groupName="AdminUnitBase" />
      </schemaClasses>
      <permissionSet>
        <add name="EditRoleMembers" displayName="修改本单元角色配置人员" />
        <add name="EditAdminScope" displayName="修改本单元管理范围" />
        <add name="EditProperty" displayName="修改本单元基本属性" />
        <add name="AddSubUnit" displayName="添加子管理单元" />
        <add name="DeleteSubUnit" displayName="删除子管理单元" />
        <add name="EditSubUnitAcl" displayName="修改子单元授权" />
      </permissionSet>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
        <add name="Archive" description="归档信息" />
      </tabs>
    </add>
    <add name="AURoles" category="AURoles" logoImage="role" snapshotTable="SC.AURoleSnapshot" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AURole, MCS.Library.SOA.DataObjects.Security.AUObjects" description="管理单元角色">
      <operations>
        <add name="Update" method="UpdateAURole" />
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="AURoleBase" groupName="AURoleBase" />
      </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
    </add>
    <!--注意：表示管理单元的一个管理范围-->
    <add name="AUAdminScopes" category="AUAdminScopes" logoImage="role" snapshotTable="SC.AUAdminScopeSnapshot" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AUAdminScope, MCS.Library.SOA.DataObjects.Security.AUObjects" description="管理单元的管理范围">
      <operations>
        <add name="Update" method="UpdateAdminScope" />
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="AUAdminScopeBase" groupName="AUAdminScopeBase" />
      </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
    </add>
    <!--下面仅适用于Demo-->
    <add name="AdminScope001" category="AUScopeItems" logoImage="role" snapshotTable="SC.AUAdminScopeItemSnapshot" type="MCS.Library.SOA.DataObjects.Security.AUObjects.AUAdminScopeItem, MCS.Library.SOA.DataObjects.Security.AUObjects" description="①Demo">
      <operations>
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="ScopeItemBase" groupName="ScopeItemBase" />
       </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
    </add>
    <add name="AdminScope002" category="AUScopeItems" logoImage="role" snapshotTable="SC.AUAdminScopeItemSnapshot" type="MCS.Library.SOA.DataObjects.Security.AUObjects.DemoScope.AdminScopeItem002, MCS.Library.SOA.DataObjects.Security.AUObjects.DemoScope" description="②Demo">
      <operations>
      </operations>
      <schemaClasses>
        <add name="AUOBase" groupName="AUOBase" />
        <add name="ScopeItemBase" groupName="ScopeItemBase" />
        <add name="AdminScope002Base" groupName="ScopeItemBase" />
      </schemaClasses>
      <tabs>
        <add name="BasicInfo" description="基本信息"/>
      </tabs>
    </add>
   
	</schemas>
</objectSchemaSettings>