<?xml version="1.0" encoding="utf-8"?>
<pcServiceClientSettings useLocalCache="false" useServerCache="false" timeout="00:01:30">
    <paths>
      <clear/>
      <add name="queryServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterQueryService.asmx" />
      <add name="updateServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterUpdateService.asmx" />
    </paths>
    <connectionMappings>
      <!--<add name="PermissionsCenter" destination="PermissionsCenterTest"/>-->
    </connectionMappings>
</pcServiceClientSettings>