<resHttpModules>
	<add name="DeluxeWorksPassportModule" type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" />
	<add name="PageModuleHttpModule" type="MCS.Web.Responsive.Library.PageModuleHttpModule, MCS.Web.Responsive.Library"/>
	<add name="ApplicationErrorModule" type="MCS.Web.Responsive.Library.ApplicationErrorModule, MCS.Web.Responsive.Library"/>
	<add name="PageMonitorModule" type="MCS.Web.Responsive.Library.PageMonitorModule, MCS.Web.Responsive.Library"/>
	<add name="GlobalizationModule" type="MCS.Web.Responsive.Library.GlobalizationModule, MCS.Web.Responsive.Library" />
	<!--<add name="CacheModule" type="MCS.Library.Caching.CacheModule, MCS.Library"/>-->
</resHttpModules>