<resourceUriSettings>
    <urls>
        <!--生产环境下，应该配置表单服务器的根Url，例如：http://formServer-->
        <!--<add name="userTaskRoot" description="待办或表单url的根路径" uri="http://form.oa.gome.inc"/>-->

        <!--生产环境下，应该配置门户服务器的绝对Url，例如：http://portalServer/MCSWebApp/MCSOAPortal/frames/ .htm-->
        <add name="refreshBridge" description="刷新门户待办箱" uri="/MCSWebApp/MCSOAPortal/frames/refreshBridge.htm"/>
        <add name="appLogView" description="应用日志查看" uri="/MCSWebApp/OACommonPages/UserOperationLog/UserOperationLogView.aspx"/>
        <add name="appTrace" description="流程跟踪查看" uri="/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>
        <add name="wfRuntimeViewerlinkPageUrl" description="流程跟踪页面" uri="/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>

        <!--moss-->
        <add name="MossReleaseService" description="Moss发布地址" uri="http://10.0.9.111:8001/MossListItem/AuthorizationListItem.asmx"/>
        <add name="ExcelServiceUrl"  description="MossExcel计算服务" uri ="http://testdoccenter/_vti_bin/excelservice.asmx" />

        <!--权限中心设置-->
        <add name="pcServiceAdSync" description="权限中心AD同步Web服务的地址" uri="http://localhost/MCSWebApp/PermissionCenterServices/Services/PermissionCenterToADService.asmx" />

        <!--流程设计器设置-->
        <add name="workflowDesigner" description="权限中心查人员的流程模版的地址" uri="/MCSWebApp/WorkflowDesigner/Default.aspx" />
        <add name="appRoles" description="流程设计器中查看应用下的角色的地址" uri="/MCSWebApp/PermissionCenter/lists/AppRoles.aspx?appCodeName={0}" />
        <add name="roleMembers" description="流程设计器中查看角色下人员的地址" uri="/MCSWebApp/PermissionCenter/lists/AppRoleMembers.aspx?role={0}" />

        <add name="editProcess" description="编辑流程属性的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/EditProperties.aspx" />
        <add name="adminAddTransitionUrl" description="增加连线的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AddTransitionDialog.aspx" />
        <add name="adminAddActivityUrl" description="增加活动的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AddActivityDialog.aspx" />
        <add name="adminDeleteObjectUrl" description="删除对象的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/DeleteObjectDialog.aspx" />
        <add name="adminAutoMoveToUrl" description="自动流转的对话框的地址" uri="/MCSWebApp/WorkflowDesigner/ExternalDialogs/AdminAutoMoveToDialog.aspx" />

        <add name="wfProcessService" description="工作流流程服务地址" uri="http://localhost/MCSWebApp/WfPlatformServices/Services/WfProcessService.svc" />
        <add name="syncMaterialService" description="同步作业" uri="http://localhost/MCSWebApp/SyncMaterialFileToDocCenterService/Services/SyncMaterialFileTask.asmx"/>
        <add name="userTaskPluginService" description="任务同步操作" uri="http://localhost/MCSWebApp/CIIC.HSR.TSP.WF.PermissionManagerService/TaskPlugin.asmx"/>
    </urls>
    <features>
        <add name="selectApprover" description="选择审批人" width="600" height="200" left="400" top="300" center="false" resizable="true" showScrollBars="false" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
        <add name="genericProcess" description="通用流程" width="1024" height="720" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
        <add name="wideFormProcess" description="横向比较宽的表单" width="1024" height="720" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
        <add name="viewProcess" description="流程跟踪" width="800" height="580" left="100" top="50" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
    </features>
</resourceUriSettings>