<serviceStatusConfig>
  <servers>
	<add name="defaultService" description="http://localhost:8919/MCS.Library.Services.ThreadStatusService" />
	<add name="helloS2ervice" description="http://localhost:8920/MCS.Library.Services.ThreadStatusService" />
	<!--<add name="Seagull2Service" description="http://localhost:8919/MCS.Library.Services.ThreadStatusService" />-->
  </servers>
</serviceStatusConfig>