<serviceMainConfig outputDebugString="true">
  <serviceThreads>
    <add name="pendingActServiceThread" enabled="false" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="MCSPendingActService.PendingActServiceThread, MCSPendingActService" />
    <add name="pendingActServiceThread2" enabled="false" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="MCSPendingActService.PendingActServiceThread, MCSPendingActService" />
    <!--<add name="jobThread" enabled="false" activateDuration="00:00:10" disposeDuration="00:05:00" batchCount="20" type="ActivateWfProcessService.ActivateWfProcessServiceThread, ActivateWfProcessService" />-->
	<add name="jobThread" enabled="true" activateDuration="00:01:00" disposeDuration="00:05:00" batchCount="100" type="ActivateWfProcessService.ConvertJobToTaskThread, ActivateWfProcessService" />
	<add name="sysTaskThread" enabled="true" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="ActivateWfProcessService.ExecuteSysTasksThread, ActivateWfProcessService" />
    <add name="sycnEmployeePhoto" enabled="false" activateDuration="00:00:30" disposeDuration="00:05:00" batchCount="20" type="SyncEmployeePhotoService.EmployeePhotoServiceThread, SyncEmployeePhotoService" />
    <add name="sendEmailService" enabled="false" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="MCS.Services.Messages.SendEmailService, MCS.Services.Messages" />
    <add name="ad2AccreditAdmin" enabled="false" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="MCS.Services.AD2Accredit.ADToAccreditService, MCS.Services.AD2Accredit">
      <schedule enabled="true" checkPoints="0:15,13:54" timeScope="00:00:10">
      </schedule>
    </add>
    <!--<add name="testServiceThread" enabled="false" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="MCS.Library.Services.TestServiceThread, MCSServiceMain" />-->
    <!--<add name="HRTransferServiceThread" enabled="true" activateDuration="00:00:05" disposeDuration="00:05:00" batchCount="20" type="Lenovo.Services.HRTransferServiceThread, Lenovo.Services">
				<schedule enabled="true" checkPoints="7:15" timeScope="00:00:10">
				</schedule>
			</add>-->
  </serviceThreads>
  <addIns>
    <add name="PendingActSrviceControl" description="挂起的流程活动" type="MCSPendingActService.PendingActSrviceControlCreator, MCSPendingActService" />
    <add name="ActivateWfProcessServiceControl" description="启动计划流程" type="ActivateWfProcessService.ActivateWfProcessServiceControlCreator, ActivateWfProcessService" />
    <add name="SycnEmployeePhotoControl" description="同步员工照片" type="SyncEmployeePhotoService.EmployeePhotoServiceControlCreator, SyncEmployeePhotoService" />
    <add name="SendMailControl" description="发送邮件" type="MCS.Services.Messages.SendMailControlCreator, MCS.Services.Messages" />
    <add name="AD2AccreditAdmin" description="同步AD到Accredit" type="MCS.Services.AD2Accredit.ADToAccreditControlCreator, MCS.Services.AD2Accredit" />
    <!--<add name="TestServiceControl" description="测试控件" type="MCS.Library.Services.TestServiceControlCreator, MCSServiceMain" />-->
  </addIns>
</serviceMainConfig>