<soaUserTaskOperationSettings>
  <operations>
    <add name="defaultUserTaskOP" type="MCS.Library.SOA.DataObjects.DefaultUserTaskOperationImpl, MCS.Library.SOA.DataObjects"/>
    <add name="userTaskChaingingNotifier" type="MCS.Library.SOA.DataObjects.UserTaskChangingNotifier, MCS.Library.SOA.DataObjects"/>
    <!--<add name="userTaskSyncPlugin" type="MCS.Library.SOA.DataObjects.UserTaskSync.UserTaskServicePlugin, MCS.Library.SOA.DataObjects"/>-->
  </operations>
</soaUserTaskOperationSettings>