<wfActivitySettings version="1.0.0.0" cancelProcessActions="CancelProcessUserTaskAction,CancelExecuteInvokeServiceAction" withdrawActions="WithdrawUserTaskAction" processStatusChangeActions="ProcessStatusChangeAction">
  <propertyGroups>
    <add name="AllDescriptorProperties">
      <properties>
        <add name="Key" description="名称" category="基本信息" type="String" readOnly="true"/>
        <add name="Name" description="名称" displayName="名称" category="基本信息" type="String" />
        <add name="Description" description="描述" displayName="描述" category="基本信息" type="String" />
        <add name="Enabled" description="启用" category="基本信息" type="Boolean" defaultValue="True"/>
      </properties>
    </add>
    <add name="BasicProcessProperties">
      <properties>
        <add name="ApplicationName" description="流程所对应的应用的名称" displayName="应用名称" category="基本信息" type="String" />
        <add name="ProgramName" description="流程所对应的应用的模块名称" displayName="模块名称" category="基本信息" type="String" />
        <add name="RuntimeProcessName" description="运行时的流程名称。如果为空，则使用名称属性" displayName="运行时的流程名称" category="基本信息" type="String" />
        <add name="Url" description="应用默认的Url" displayName="表单地址" category="表单" type="String" />
        <add name="AutoGenerateCadidates" displayName="自动生成活动中的候选人" description="流程启动时自动生成环节中的候选人员" category="资源" type="Boolean" defaultValue="True"/>
        <add name="OnlyInitialResourcesCanStartProcess" displayName="是否只能由起始点的指派人才能启动流程" description="当作为主流程启动时，只有第一个点的指派人才可以启动" category="资源" type="Boolean" defaultValue="False"/>
        <add name="ProcessType" displayName="流程类型" category="基本信息" description="审批流侧重于人员之间的流转；计划流程侧重于时间和任务分派" type="Enum" defaultValue="Approval" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfProcessType, MCS.Library.SOA.DataObjects"/>
        <add name="UseMatrix" displayName="使用权限矩阵" category="基本信息" description="如果定义了权限矩阵，则流转时使用权限矩阵中配置的人员" type="Boolean" defaultValue="True" />
        <add name="Independent" displayName="是否是独立的流程" category="基本信息" description="流程能够独立启动。区别于会签、传阅等由独立流程衍生出来的非独立流程" type="Boolean" defaultValue="True" />
        <add name="DefaultTaskTitle" displayName="默认的待办事项标题" description="发送待办事项时的默认标题" category="基本信息" type="String" defaultValue=""/>
        <add name="DefaultNotifyTaskTitle" displayName="默认的通知事项标题" description="发送通知事项时的默认标题" category="基本信息" type="String" defaultValue=""/>

        <add name="DefaultWithtrawTaskPrefix" displayName="撤回通知的默认前缀" description="撤回时，通知消息的默认前缀" category="基本信息" type="String" defaultValue="流程被撤回:"/>
        <add name="DefaultCancelTaskPrefix" displayName="作废通知的默认前缀" description="作废流程时，通知消息的默认前缀" category="基本信息" type="String" defaultValue="流程被取消:"/>
        <add name="DefaultCompleteTaskPrefix" displayName="办结通知的默认前缀" description="办结流程时，通知消息的默认前缀" category="基本信息" type="String" defaultValue="流程已办结:"/>
        <add name="DefaultLeaveTaskPrefix" displayName="离开活动时通知的默认前缀" description="离开活动时，通知消息的默认前缀" category="基本信息" type="String" defaultValue="离开活动:"/>

        <add name="ProbeParentProcessParams" displayName="是否从父流程查找参数" description="如果在本级流程中找不到参数时，是否从父流程查找参数" category="基本信息" type="Boolean" defaultValue="False"/>
        <add name="CreateSearchIDMode" displayName="SearchID生成方式" description="根据什么数据生成搜索ID" category="基本信息" type="Enum" defaultValue="SameAsResourceID" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSearchIDMode, MCS.Library.SOA.DataObjects"/>
        <add name="DefaultReturnValue" displayName="默认流程返回结果" description="默认流程返回结果" category="基本信息" type="Boolean" defaultValue="False"/>
        <add name="ProcessStarters" description="能够启动流程的人" displayName="流程的启动者" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor" editorParams="ProcessStarters" visible="True" sortOrder="2" />

        <add name="RelativeLinks" description="相关链接" displayName="相关链接" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="RelativeLink" visible="True" sortOrder="1"  />
        <add name="CancelEventReceivers" description="撤销通知人" displayName="撤销通知人" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor" editorParams="CancelReceivers" visible="True" sortOrder="2" />
        <add name="CompleteEventReceivers" description="办结通知人" displayName="流程结束时的通知人" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor" editorParams="CompleteReceivers" visible="True" sortOrder="3" />
        
        <add name="CancelBeforeExecuteServices" description="撤销前执行服务" displayName="撤销前执行服务" category="进入和离开" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="CancelExecuteServices" defaultValue="[]" visible="True" sortOrder="4" />
        <add name="CancelAfterExecuteServices" description="撤销后执行服务" displayName="撤销后执行服务" category="进入和离开" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="CancelExecuteServices"  defaultValue="[]" visible="True" sortOrder="5" />
        <add name="CancelExecuteServiceKeys" description="撤销流程时调用服务的Key，逗号分隔" displayName="撤销执行服务的Key" category="流程" type="String" visible="True" sortOrder="2" />

        <add name="InternalRelativeUsers" description="内部相关人员" displayName="内部相关人员" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor" editorParams="InternalUsers"  visible="True" sortOrder="6" />
        <add name="ExternalUsers" description="外部相关人员" displayName="外部相关人员" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"   visible="True" sortOrder="7" />
        <add name="Variables" description="变量编辑" displayName="变量编辑" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"   editorParams="Variables" visible="True" sortOrder="8"  />
        <add name="ImportWfMatrix" description="权限矩阵" displayName="权限矩阵" category="流程" type="DataObject" editorKey="KeyPropertyEditor" editorParams="ImportWfMatrix"  visible="True" sortOrder="9"  />
        <add name="ParametersNeedToBeCollected" description="自动收集流程参数设置" displayName="自动收集流程参数" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor" editorParams="ParametersNeedToBeCollected"  visible="True" sortOrder="10"  />
        <add name="MaximizeMainStreamActivityCount" displayName="流程中最多的主环节个数" category="流程" description="用户能够添加的最多的主环节的个数，-1表示不限制。管理员也不受限制" type="Integer" defaultValue="-1" sortOrder="11" />
        <add name="MaximizeAssigneeCount" displayName="流程活动中最多的受理人个数" category="流程" description="用户能够设置的受理人的个数，-1表示不限制。管理员在流程调整时，不受此限制" type="Integer" defaultValue="-1" sortOrder="12" />
      </properties>
    </add>
    <add name="BasicActivityProperties">
      <properties>
        <add name="CodeName" displayName="代码名称" description="活动的代码名称" category="基本信息" type="String" />
        <add name="Url" description="活动的表单地址" displayName="表单地址" category="表单" type="String" />
        <add name="LevelName" description="活动的业务环节名称" displayName="环节名称" category="表单" type="String" />
        <add name="Scene" description="表单的场景名称" displayName="场景名称" category="表单" type="String" />
        <add name="ReadOnlyScene" description="表单的只读场景名称" displayName="只读场景名称" category="表单" type="String" />
        <add name="NavigatorDisplayMode" displayName="在导航栏上的显示方式" description="在导航栏上的显示方式，如果是“取决于流程”，那么审批流显示人名，计划流程显示环节名称" category="表单" type="Enum" defaultValue="DependsOnProcess" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfNavigatorDisplayMode, MCS.Library.SOA.DataObjects"/>

        <!--<add name="AutoGenerateCadidates" displayName="自动生成候选人" description="当流程生成候选人时，自动生成环节中的候选人" category="流程" type="Boolean" defaultValue="True"/>-->
        <add name="AutoMoveTo" displayName="是否自动流转" description="是否自动流转下一个默认活动" category="流程" type="Boolean" defaultValue="False"/>
        <add name="BranchProcessReturnValueParamName" displayName="分支流程返回结果上下文参数名" description="分支流程返回结果所影响的上下文参数名，该结果会以此名称填写进流程上下文中" category="流程" type="String" />

        <add name="Condition" description="条件表达式编辑" displayName="条件设置" category="流程" type="DataObject" editorKey="ConditionExpressionPropertyEditor"  visible="True" sortOrder="1"  />
        <add name="Resources" description="资源设置" displayName="资源设置" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor"  visible="True" sortOrder="2" />
        <add name="RelativeLinks" description="相关链接" displayName="相关链接" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="RelativeLink" visible="True" sortOrder="3"  />
        <add name="BranchProcessTemplates" description="分支流程设置" displayName="分支流程设置" category="分支流程" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="BranchProcess" visible="True"  sortOrder="4"  />

        <add name="EnterEventReceivers" description="活动点进入时的通知人" displayName="起始通知人" category="进入和离开" type="DataObject" editorKey="ReceiversObjectListPropertyEditor"  editorParams="EnterReceivers" visible="True"  sortOrder="5"  />
        <add name="LeaveEventReceivers" description="活动点离开时的通知人" displayName="结束通知人" category="进入和离开" type="DataObject" editorKey="ReceiversObjectListPropertyEditor"  editorParams="LeaveReceivers" visible="True"  sortOrder="5"  />

        <add name="EnterEventExecuteServices" description="进入活动执行的服务" displayName="起始执行服务" category="进入和离开" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="EnterService"  visible="True"  sortOrder="6" />
        <add name="LeaveEventExecuteServices" description="离开活动执行的服务" displayName="结束执行服务" category="进入和离开" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="LeaveService"  visible="True" sortOrder="6" />

        <add name="EnterEventExecuteServiceKeys" description="进入活动执行的服务的Key，逗号分隔" displayName="起始执行服务的Key" category="进入和离开" type="String" visible="True"  sortOrder="6" />
        <add name="LeaveEventExecuteServiceKeys" description="离开活动执行的服务的Key，逗号分隔" displayName="结束执行服务的Key" category="进入和离开" type="String" visible="True" sortOrder="6" />

        <add name="Variables" description="变量编辑" displayName="变量编辑" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"   editorParams="Variables" visible="True" sortOrder="7" />
        <add name="InternalRelativeUsers" description="内部相关人员" displayName="内部相关人员" category="流程" type="DataObject" editorKey="ReceiversObjectListPropertyEditor" editorParams="InternalUsers"  visible="True" sortOrder="8" />
        <add name="ExternalUsers" description="外部相关人员" displayName="外部相关人员" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"   visible="True" sortOrder="9" />
        <add name="ImportWfMatrix" description="权限矩阵" displayName="权限矩阵" category="流程" type="DataObject" editorKey="KeyPropertyEditor" editorParams="ImportWfMatrix"  visible="True" sortOrder="10" />
        <add name="ParametersNeedToBeCollected" description="自动收集流程参数设置" displayName="自动收集流程参数" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor" editorParams="ParametersNeedToBeCollected"  visible="True" sortOrder="11"  />
        <add name="MaximizeAssigneeCount" displayName="流程活动中最多的受理人的个数" category="流程" description="用户能够设置的受理人的个数，-1表示不限制。管理员在流程调整时，不受此限制" type="Integer" defaultValue="-1" sortOrder="12" />

        <add name="BeWithdrawnExecuteServices" description="被撤回活动调用的服务，通常此活动为待办状态" displayName="被撤回执行服务" category="撤回" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="BeWithdrawnExecuteServices"  visible="True"  sortOrder="13" />
        <add name="WithdrawExecuteServices" description="撤回到此活动时调用的服务，通常此活动为已办状态" displayName="撤回执行服务" category="撤回" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="WithdrawExecuteServices"  visible="True" sortOrder="14" />

        <add name="BeWithdrawnExecuteServiceKeys" description="被撤回活动调用的服务的Key，逗号分隔。通常此活动为待办状态" displayName="被撤回执行服务的Key" category="撤回" type="String" visible="True"  sortOrder="13" />
        <add name="WithdrawExecuteServiceKeys" description="撤回到此活动时调用的服务的Key，逗号分隔。通常此活动为已办状态" displayName="撤回执行服务的Key" category="撤回" type="String" visible="True" sortOrder="14" />
      </properties>
    </add>
    <add name="NormalActivityProperties">
      <properties>
        <add name="EstimateStartTime" description="计划开始时间" displayName="计划开始时间" category="计划" type="DateTime" visible="True"/>
        <add name="EstimateEndTime" description="计划完成时间" displayName="计划完成时间" category="计划" type="DateTime" visible="True"/>
        <add name="EstimateDuration" description="计划进行时间" displayName="计划进行时间" category="计划" type="Decimal" visible="True" defaultValue="0"/>
        <add name="IsWorkItem" description="是否是工作项" displayName="是否可以生成工作项" category="计划" type="Boolean" defaultValue="True"/>
        <add name="RoleCode" description="角色编码" displayName="角色编码" category="计划" type="String" defaultValue=""/>
        <add name="DomainCode" description="部门编码" displayName="部门编码" category="计划" type="String" defaultValue=""/>

        <add name="AllowWriteOpinion" displayName="允许输入意见" description="是否允许输入意见" category="意见" type="Boolean" defaultValue="True"/>
        <add name="ShowingInOpinionList" displayName="在意见列表中显示" description="是否在意见列表中显示" category="意见" type="Boolean" defaultValue="True"/>
        <add name="AllowEmptyOpinion" displayName="允许意见为空" description="是否允许意见为空" category="意见" type="Boolean" defaultValue="True"/>
        <add name="EmptyOpinionText" displayName="意见为空时显示的文本" description="意见为空时显示的文本" category="意见" type="String" defaultValue=""/>
        <add name="PredefinedOpinions" displayName="预定义的意见" description="预定义的意见，会在流转到此环节中显示在常用意见中" category="意见" type="String" defaultValue=""/>

        <add name="AllowSave" displayName="允许保存" description="是否允许保存功能" category="应用" type="Boolean" defaultValue="True"/>

        <add name="AutoStartBranchProcesses" displayName="自动启动分支流程" description="流转时是否自动启动分支流程" category="分支流程" type="Boolean" defaultValue="True"/>
        <add name="AutoStartBranchApprovalProcess" displayName="自动启动审批流程" description="没有分支流程时，且有多个审批人时，自动启动审批分支流程" category="分支流程" type="Boolean" defaultValue="False"/>
        <add name="AutoStartBranchProcessKey" displayName="自动启动审批流程的Key" description="自动启动审批分支流程的Key" category="分支流程" type="Enum" editorKey="BranchProcessKeyPropertyEditor" editorParams="{&quot;tagName&quot;:&quot;AutoStartBranch&quot;,&quot;enumTypeName&quot;:&quot;WorkflowDesigner.PropertyEditor.BranchProcessKey, WorkflowDesigner&quot;}" defaultValue="DefaultApprovalProcess" />
        <add name="AutoStartBranchProcessBlockingType" description="自动启动的审批流程和主流程之间的阻塞关系"  displayName="自动启动的审批流程的阻塞类型" category= "分支流程" type="Enum"  editorKey ="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessBlockingType, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" />
        <add name="AutoStartBranchProcessExecuteSequence" description="自动启动的审批流程的执行次序" displayName="自动启动的审批流程的串行/并行" category="分支流程" type="Enum" editorKey="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessExecuteSequence, MCS.Library.SOA.DataObjects"  visible="True" defaultValue="2" />

        <add name="AllowWithdraw" displayName="允许撤回" description="是否允许撤回" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeWithdrawn" displayName="允许被撤回" description="是否允许被撤回" category="流程" type="Boolean" defaultValue="True"/>

        <add name="AutoSendUserTask" displayName="自动发送待办事项" description="到达此活动时是否自动发送待办事项" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AutoSendUserTaskMode" displayName="自动发送待办的模式" description="自动发送待办的模式，与AutoSendUserTask配合使用" category="流程" type="Enum" editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfAutoSendUserTaskMode, MCS.Library.SOA.DataObjects" visible= "True" defaultValue="ByDefault"/>
        <add name="TaskTitle" displayName="待办事项的标题" description="发送到此活动的待办事项的标题" category="流程" type="String" defaultValue=""/>

        <add name="NotifyTaskTitle" displayName="通知事项的标题" description="发送到此活动的通知事项的标题" category="流程" type="String" defaultValue=""/>

        <add name="AllowAddApprover" displayName="允许加签" description="是否允许加签" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowAddConsignApprover" displayName="允许会签" description="是否允许会签" category="流程" type="Boolean" defaultValue="True"/>

        <add name="AllowToBeAppended" displayName="允许被添加后续环节" description="该活动后是否允许添加后续环节" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeModified" displayName="允许被修改" description="是否允许被修改" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeModifiedVariables" displayName="允许被修改流程选项" description="是否允许被修改流程选项" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowAssignToMultiUsers" displayName="允许分派给多个执行人" description="允许分派给多个执行人" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowSelectCandidates" displayName="允许从候选人中选择执行人" description="如果流程环节有多个" category="流程" type="Boolean" defaultValue="False"/>
        <add name="AllowToBeDeleted" displayName="允许被删除" description="是否允许被删除" category="流程" type="Boolean" defaultValue="True"/>

        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="True"/>

        <add name="CanAppendActivityKeys" displayName="允许在活动后添加活动的Key" description="允许在活动后添加活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" editorKey="CanActivityKeysEditor" editorParams="CanActivitysKeys" defaultValue=""/>
        <add name="CanModifyActivityKeys" displayName="允许修改的活动的Key" description="允许修改的活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" editorKey="CanActivityKeysEditor"  editorParams="CanActivitysKeys" defaultValue=""/>
        <add name="CanDeleteActivityKeys" displayName="允许删除的活动的Key" description="允许删除的活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" editorKey="CanActivityKeysEditor"  editorParams="CanActivitysKeys" defaultValue=""/>

        <add name="AllowCirculate" displayName="允许传阅" description="是否允许传阅" category="流程" type="Boolean" defaultValue="True"/>

        <add name="AutoMoveAfterPending" displayName="挂起解除后自动流转" description="从挂起状态解除后自动向下流转" category="分支流程" type="Boolean" defaultValue="False"/>

        <add name="AllowAbortProcess" displayName="允许作废流程" description="是否允许作废流程" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowReturn" displayName="允许退回" description="是否允许退回之前的处理人" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeReturned" displayName="允许被退回" description="是否允许被后续活动退回" category="流程" type="Boolean" defaultValue="True"/>

        <add name="AutoMaintain" displayName="是否进入到维护状态" description="当流转到这个活动时，是否自动将流程进入到维护状态" category="流程" type="Boolean" defaultValue="False"/>

        <add name="IsDynamic" displayName="是否是模版活动" description="是否是模版活动" category="流程" type="Boolean" editorKey="DynamicPropertyEditor" defaultValue="False"/>

        <add name="MoveToButtonNameSameAsTransitionName" displayName="送签按钮名称和线的名称一样" description="送签按钮名称和线的名称一样" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AbortButtonName" displayName="作废按钮的名称" description="作废按钮的名称" category="表单" type="String" defaultValue="作废"/>
        <add name="ReturnButtonName" displayName="退件按钮的名称" description="退件按钮的名称" category="表单" type="String" defaultValue="退件"/>
        <add name="ForceCloseFormAfterMoveTo" displayName="送签后强制关闭表单" description="送签后是否强制关闭表单。否则当送签后，流程办理人还是同一个人时，不关闭表单" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AllowAddAttachments" displayName="允许添加附件" description="是否允许添加附件" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowEditAttachments" displayName="允许修改附件" description="是否允许修改附件" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowPrint" displayName="允许打印" description="是否允许打印" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowEmptyCandidates" displayName="允许候选人为空" description="在表单上，如果候选人为空，是否允许流转" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AllowInvalidCandidates" displayName="允许非法候选人" description="在表单上，如果候选人不存在或者已经禁用，是否允许流转" category="表单" type="Boolean" defaultValue="False"/>

        <add name="AutoAppendSecretary" description="是否自动添加秘书环节" displayName="自动添加秘书" category="流程" type="Boolean" visible="True" defaultValue="False" />

        <add name="BlockingType" description="分支流程组之间和主流程的阻塞关系"  displayName="阻塞类型" category= "分支流程"  type="Enum"  editorKey ="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchGroupBlockingType, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" />
        <add name="SubProcessApprovalMode" displayName="审批流的审批结果模式" description="如果是自动启动审批流，审批结果的模式" category="分支流程" type="Enum" defaultValue="NoActivityDecide" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessApprovalMode, MCS.Library.SOA.DataObjects"/>
      </properties>
    </add>
    <add name="InitialActivityProperties">
      <properties>
        <add name="EstimateStartTime" description="计划开始时间" displayName="计划开始时间" category="计划" type="DateTime" visible="True"/>
        <add name="EstimateEndTime" description="计划完成时间" displayName="计划完成时间" category="计划" type="DateTime" visible="True"/>
        <add name="EstimateDuration" description="计划进行时间" displayName="计划进行时间" category="计划" type="Decimal" visible="True" defaultValue="0"/>
        <add name="IsWorkItem" description="是否是工作项" displayName="是否可以生成工作项" category="计划" type="Boolean" defaultValue="True"/>
        <add name="RoleCode" description="角色编码" displayName="角色编码" category="计划" type="String" defaultValue=""/>
        <add name="DomainCode" description="部门编码" displayName="部门编码" category="计划" type="String" defaultValue=""/>
        <add name="AllowWriteOpinion" displayName="允许输入意见" description="是否允许输入意见" category="意见" type="Boolean" defaultValue="True"/>
        <add name="ShowingInOpinionList" displayName="在意见列表中显示" description="是否在意见列表中显示" category="意见" type="Boolean" defaultValue="False"/>
        <add name="AllowEmptyOpinion" displayName="允许意见为空" description="是否允许意见为空" category="意见" type="Boolean" defaultValue="True"/>
        <add name="EmptyOpinionText" displayName="意见为空时显示的文本" description="意见为空时显示的文本" category="意见" type="String" defaultValue=""/>
        <add name="PredefinedOpinions" displayName="预定义的意见" description="预定义的意见，会在流转到此环节中显示在常用意见中" category="意见" type="String" defaultValue=""/>

        <add name="AllowSave" displayName="允许保存" description="是否允许保存功能" category="应用" type="Boolean" defaultValue="True"/>
        <add name="AllowWithdraw" displayName="允许撤回" description="是否允许撤回" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeWithdrawn" displayName="允许被撤回" description="是否允许被撤回" category="流程" type="Boolean" defaultValue="True" visible="True"/>
        <add name="AllowAssignToMultiUsers" displayName="允许分派给多个执行人" description="允许分派给多个执行人" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowSelectCandidates" displayName="允许从候选人中选择执行人" description="如果流程环节有多个" category="流程" type="Boolean" defaultValue="False"/>
        <add name="AutoStartBranchProcesses" displayName="自动启动分支流程" description="流转时是否自动启动分支流程" category="分支流程" type="Boolean" defaultValue="True"/>
        <add name="AutoStartBranchApprovalProcess" displayName="自动启动审批流程" description="没有分支流程时，且有多个审批人时，自动启动审批分支流程" category="分支流程" type="Boolean" defaultValue="False"/>
        <add name="AutoStartBranchProcessKey" displayName="自动启动审批流程的Key" description="自动启动审批分支流程的Key" category="分支流程" type="Enum" editorKey="BranchProcessKeyPropertyEditor" editorParams="{&quot;tagName&quot;:&quot;AutoStartBranch&quot;,&quot;enumTypeName&quot;:&quot;WorkflowDesigner.PropertyEditor.BranchProcessKey, WorkflowDesigner&quot;}" defaultValue="DefaultApprovalProcess" />
        <add name="AutoStartBranchProcessBlockingType" description="自动启动的审批流程和主流程之间的阻塞关系"  displayName="自动启动的审批流程的阻塞类型" category= "分支流程" type="Enum"  editorKey ="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessBlockingType, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" />
        <add name="AutoStartBranchProcessExecuteSequence" description="自动启动的审批流程的执行次序" displayName="自动启动的审批流程的串行/并行" category="分支流程" type="Enum" editorKey="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessExecuteSequence, MCS.Library.SOA.DataObjects"  visible="True" defaultValue="2" />

        <add name="AutoSendUserTask" displayName="自动发送待办事项" description="到达此活动时是否自动发送待办事项" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AutoSendUserTaskMode" displayName="自动发送待办的模式" description="自动发送待办的模式，与AutoSendUserTask配合使用" category="流程" type="Enum" editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfAutoSendUserTaskMode, MCS.Library.SOA.DataObjects" visible= "True" defaultValue="ByDefault"/>
        <add name="TaskTitle" displayName="待办事项的标题" description="发送到此活动的待办事项的标题" category="流程" type="String" defaultValue=""/>
        <add name="NotifyTaskTitle" displayName="通知事项的标题" description="发送到此活动的通知事项的标题" category="流程" type="String" defaultValue=""/>
        <add name="AllowToBeAppended" displayName="允许被添加后续环节" description="该活动后是否允许添加后续环节" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowToBeModified" displayName="允许被修改" description="是否允许被修改" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeDeleted" displayName="允许被删除" description="是否允许被删除" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AutoMoveAfterPending" displayName="挂起解除后自动流转" description="从挂起状态解除后自动向下流转" category="分支流程" type="Boolean" defaultValue="False"/>
        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="True" visible="True"/>

        <add name="CanAppendActivityKeys" displayName="允许在活动后添加活动的Key" description="允许在活动后添加活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" defaultValue=""/>
        <add name="CanModifyActivityKeys" displayName="允许修改的活动的Key" description="允许修改的活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" defaultValue=""/>
        <add name="CanDeleteActivityKeys" displayName="允许删除的活动的Key" description="允许删除的活动的Key，Key之间用逗号或分号分隔" category="流程" type="String" defaultValue=""/>

        <add name="AllowAbortProcess" displayName="允许作废流程" description="是否允许作废流程" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowReturn" displayName="允许退回" description="是否允许退回之前的处理人" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeReturned" displayName="允许被退回" description="是否允许被后续活动退回" category="流程" type="Boolean" defaultValue="True"/>

        <!--<add name="IsDynamic" displayName="是否是模版活动" description="是否是模版活动" category="流程" type="Boolean" editorKey="DynamicPropertyEditor" defaultValue="False"/>-->

        <add name="MoveToButtonNameSameAsTransitionName" displayName="送签按钮名称和线的名称一样" description="送签按钮名称和线的名称一样" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AbortButtonName" displayName="作废按钮的名称" description="作废按钮的名称" category="表单" type="String" defaultValue="作废"/>
        <add name="ForceCloseFormAfterMoveTo" displayName="送签后强制关闭表单" description="送签后是否强制关闭表单。否则当送签后，流程办理人还是同一个人时，不关闭表单" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AllowAddAttachments" displayName="允许添加附件" description="是否允许添加附件" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowEditAttachments" displayName="允许修改附件" description="是否允许修改附件" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowPrint" displayName="允许打印" description="是否允许打印" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowEmptyCandidates" displayName="允许候选人为空" description="在表单上，如果候选人为空，是否允许流转" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AllowInvalidCandidates" displayName="允许非法候选人" description="在表单上，如果候选人不存在或者已经禁用，是否允许流转" category="表单" type="Boolean" defaultValue="False"/>
        <add name="AllowAddApprover" displayName="允许加签" description="是否允许加签" category="流程" type="Boolean" defaultValue="False" visible="true"/>
        <add name="AllowAddConsignApprover" displayName="允许会签" description="是否允许会签" category="流程" type="Boolean" defaultValue="False" visible="true"/>
        <add name="AllowCirculate" displayName="允许传阅" description="是否允许传阅" category="流程" type="Boolean" defaultValue="False" visible="true"/>

        <add name="BlockingType" description="分支流程组之间和主流程的阻塞关系"  displayName="阻塞类型" category= "分支流程"  type="Enum"  editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchGroupBlockingType, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" />
        <add name="SubProcessApprovalMode" displayName="审批流的审批结果模式" description="如果是自动启动审批流，审批结果的模式" category="分支流程" type="Enum" defaultValue="NoActivityDecide" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessApprovalMode, MCS.Library.SOA.DataObjects"/>
      </properties>
    </add>
    <add name="CompletedActivityProperties">
      <properties>
        <add name="EstimateStartTime" description="计划开始时间" displayName="计划开始时间" category="计划" type="DateTime" visible="False"/>
        <add name="EstimateEndTime" description="计划完成时间" displayName="计划完成时间" category="计划" type="DateTime" visible="False"/>
        <add name="EstimateDuration" description="计划进行时间" displayName="计划进行时间" category="计划" type="Decimal" visible="False" defaultValue="0"/>

        <add name="IsWorkItem" description="是否是工作项" displayName="是否可以生成工作项" category="计划" type="Boolean" defaultValue="False" visible="False"/>

        <add name="AllowWithdraw" displayName="允许撤回" description="是否允许撤回" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeWithdrawn" displayName="允许被撤回" description="是否允许被撤回" category="流程" type="Boolean" defaultValue="False"/>
        <add name="AutoSendUserTask" displayName="自动发送待办事项" description="到达此活动时是否自动发送待办事项" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AutoSendUserTaskMode" displayName="自动发送待办的模式" description="自动发送待办的模式，与AutoSendUserTask配合使用" category="流程" type="Enum" editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfAutoSendUserTaskMode, MCS.Library.SOA.DataObjects" visible= "False" defaultValue="ByDefault"/>
        <add name="TaskTitle" displayName="待办事项的标题" description="发送到此活动的待办事项的标题" category="流程" type="String" defaultValue="" visible="False"/>

        <add name="NotifyTaskTitle" displayName="通知事项的标题" description="发送到此活动的通知事项的标题" category="流程" type="String" defaultValue=""/>
        <add name="AllowToBeAppended" displayName="允许被添加后续环节" description="该活动后是否允许添加后续环节" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeModified" displayName="允许被修改" description="是否允许被修改" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeDeleted" displayName="允许被删除" description="是否允许被删除" category="流程" type="Boolean" defaultValue="False" visible="False"/>

        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False"/>

        <add name="AllowAbortProcess" displayName="允许作废流程" description="是否允许作废流程" category="流程" type="Boolean" defaultValue="False" visible="True"/>
        <add name="AllowReturn" displayName="允许退回" description="是否允许退回之前的处理人" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeReturned" displayName="允许被退回" description="是否允许被后续活动退回" category="流程" type="Boolean" defaultValue="False" visible="False"/>

        <add name="ForceCloseFormAfterMoveTo" displayName="送签后强制关闭表单" description="送签后是否强制关闭表单。否则当送签后，流程办理人还是同一个人时，不关闭表单" category="表单" type="Boolean" defaultValue="True" visible="False"/>
        <add name="AllowAddAttachments" displayName="允许添加附件" description="是否允许添加附件" category="表单" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowEditAttachments" displayName="允许修改附件" description="是否允许修改附件" category="表单" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowPrint" displayName="允许打印" description="是否允许打印" category="表单" type="Boolean" defaultValue="True" visible="False"/>

        <add name="SubProcessApprovalMode" displayName="审批流的审批结果模式" description="如果是自动启动审批流，审批结果的模式" category="分支流程" type="Enum" defaultValue="NoActivityDecide" visible="False" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessApprovalMode, MCS.Library.SOA.DataObjects"/>
        <add name="BranchProcessTemplates" description="分支流程设置" displayName="分支流程设置" category="分支流程" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="BranchProcess" visible="False"  sortOrder="4" />
      </properties>
    </add>
    <add name="BasicTransitionProperties">
      <properties>
        <add name="CodeName" displayName="代码名称" description="线的代码名称" category="基本信息" type="String" sortOrder="6" />
        <add name="Priority" displayName="优先级" description="优先级" category="基本信息" type="Integer" defaultValue="0" sortOrder="7" />
        <add name="DefaultSelect" displayName="默认选择" description="默认选择" category="基本信息" type="Boolean" defaultValue="False" sortOrder="8"/>

        <add name="AffectProcessReturnValue" displayName="是否影响流程返回结果" description="是否影响流程返回结果" category="基本信息" type="Boolean" defaultValue="False" sortOrder="9"/>
        <add name="AffectedProcessReturnValue" displayName="经过此线时流程的返回结果" description="经过此线时流程的返回结果" category="基本信息" type="Boolean" defaultValue="False" sortOrder="10"/>

        <add name="IsReturn" displayName="退回线" description="是否是退回线" category="基本信息" type="Boolean" defaultValue="False" sortOrder="11"/>

        <add name="Condition" description="条件表达式编辑" displayName="条件设置" category="基本信息" type="DataObject" editorKey="ConditionExpressionPropertyEditor"  visible="True" sortOrder="12"  />
        <add name="Variables" description="变量编辑" displayName="变量编辑" category="基本信息" type="DataObject" editorKey="ObjectListPropertyEditor" editorParams="Variables" sortOrder="13"  />

        <add name="DynamicSource" displayName="动态活动相关线的创建者" description="动态活动相关线的创建者Activity的Key" category="流程" type="String" defaultValue="" visible="False" />
      </properties>
    </add>
    <add name="BasicBranchProcessTemplateProperties" description="分支流程属性编辑">
      <properties>
        <add name="BranchProcessKey" description="默认的子流程的Key" displayName="子流程Key" category="默认值"  type="Enum" editorKey="BranchProcessKeyPropertyEditor" editorParams="WorkflowDesigner.PropertyEditor.BranchProcessKey, WorkflowDesigner"  visible="True" sortOrder="4" defaultValue="DefaultApprovalProcess" />

        <add name="ExecuteSequence" description="分支流程的执行次序" displayName="串行/并行" category="启动和结束" type="Enum" editorKey="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessExecuteSequence, MCS.Library.SOA.DataObjects"  visible="True" defaultValue="0" sortOrder="8"  />
        <add name="SubProcessApprovalMode" description="分支流程如果是审批流，审批结果的模式" displayName="审批流审批方式" category="启动和结束" type="Enum"  editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessApprovalMode, MCS.Library.SOA.DataObjects"  visible="True"  defaultValue="NoActivityDecide" sortOrder="6" />
        <add name="BlockingType" description="分支流程和主流程之间的阻塞关系"  displayName="阻塞类型" category= "启动和结束"  type="Enum"  editorKey ="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessBlockingType, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" sortOrder="7" />
        <add name="DefaultProcessName" description="默认流程名称" displayName="默认流程名称" category="默认值" type="String" editorKey="StandardPropertyEditor" visible="True" sortOrder="10"/>

        <add name="DefaultUrl" description="默认表单地址" displayName="默认表单地址"  category="默认值" type="String" editorKey="StandardPropertyEditor" visible="True" sortOrder="11" />
        <add name="DefaultTaskTitle" description="默认待办事项标题" displayName="默认待办事项标题" category="默认值"  type="String" editorKey="StandardPropertyEditor" visible="True" sortOrder="12" />
        <add name="CreateResourceMode" description="ResourceID生成方式" displayName="ResourceID生成方式" category="启动和结束" type="Enum" editorKey="EnumPropertyEditor"  editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessResourceMode, MCS.Library.SOA.DataObjects" visible="True" defaultValue="DependsOnProcess" sortOrder="5"  />

        <add name="Resources" description="资源" displayName="资源" category="默认值" type="DataObject"  editorKey="ReceiversObjectListPropertyEditor"  visible="True" sortOrder="13"  />
        <add name="Condition" description="执行条件" displayName="执行条件" category="启动和结束" type="DataObject" editorKey="ConditionExpressionPropertyEditor"  visible= "True"  sortOrder="14" />

        <add name="GenerateType" description="子流程创建方式" displayName="子流程创建方式" category="分支流程" type="Enum"  editorKey="GenerateTypePropertyEditor" visible="True" defaultValue="0"  sortOrder="2"  />

        <add name="OperationDefinition"  description="Web服务Key" displayName="Web服务Key" category="默认值" type="Enum" editorKey="ServiceOperationPropertyEditor" visible="False" sortOrder="3" />
        <add name="ShowingInNavigator" description="分支流程在流程导航上显示"  displayName="流程导航上显示" category= "分支流程"  type="Boolean"  visible= "True"  sortOrder="18" defaultValue="False" />

        <add name="IndependentOpinion" description="是否独立显示意见" displayName="是否独立显示意见" category="意见设置" type="Enum" editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfOpinionMode, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="Default" sortOrder="19" />
        <add name="AllowEditActivities" description="是否允许编辑流程活动" displayName="是否允许编辑流程活动" category="意见设置" type="Enum" editorKey ="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessActivityEditMode, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="Default" sortOrder="19" />

        <add name="CancelSubProcessNotifier" description="终止子流程时的通知人" displayName="终止子流程时的通知人" category="意见设置" type="DataObject" editorKey ="ReceiversObjectListPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Workflow.WfSubProcessActivityEditMode, MCS.Library.SOA.DataObjects"  visible= "True" defaultValue="0" sortOrder="20" />

        <add name="RelativeLinks" description="相关链接" displayName="相关链接" category="流程" type="DataObject" editorKey="ObjectListPropertyEditor"  editorParams="RelativeLink" visible="True" sortOrder="21"  />
      </properties>
    </add>
    <add name="RuntimeAddedActivityTemplate" description="运行时的动态添加活动的模板">
      <properties>
        <add name="AllowAddConsignApprover" displayName="允许会签" description="是否允许会签" category="流程" type="Boolean" defaultValue="True"/>
        <add name="AllowAddAttachments" displayName="允许添加附件" description="是否允许添加附件" category="表单" type="Boolean" defaultValue="True"/>
        <add name="AllowEditAttachments" displayName="允许修改附件" description="是否允许修改附件" category="表单" type="Boolean" defaultValue="True"/>
      </properties>
    </add>
    <add name="DefaultConsignActivityTemplate" description="缺省的会签流程中起始点的模板">
      <properties>
        <add name="AllowWriteOpinion" displayName="允许输入意见" description="是否允许输入意见" category="意见" type="Boolean" defaultValue="True"/>
        <add name="ShowingInOpinionList" displayName="在意见列表中显示" description="是否在意见列表中显示" category="意见" type="Boolean" defaultValue="False"/>
        <add name="EmptyOpinionText" displayName="意见为空时显示的文本" description="意见为空时显示的文本" category="意见" type="String" defaultValue=""/>
        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False"/>
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False"/>
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False"/>
        <add name="AllowAddApprover" displayName="允许加签" description="是否允许加签" category="流程" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AllowAddConsignApprover" displayName="允许会签" description="是否允许会签" category="流程" type="Boolean" defaultValue="False" allowOverride="False"/>
        <add name="AllowCirculate" displayName="允许传阅" description="是否允许传阅" category="流程" type="Boolean" defaultValue="True" allowOverride="False"/>

        <add name="AllowAbortProcess" displayName="允许作废流程" description="是否允许作废流程" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowReturn" displayName="允许退回" description="是否允许退回之前的处理人" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeReturned" displayName="允许被退回" description="是否允许被后续活动退回" category="流程" type="Boolean" defaultValue="False"/>

        <add name="AutoAppendSecretary" description="是否自动添加秘书环节" displayName="自动添加秘书" category="流程" type="Boolean" visible="True" defaultValue="True" />
      </properties>
    </add>
    <add name="DefaultCirculationActivityTemplate" description="缺省的传阅流程中起始点的模板">
      <properties>
        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False" />
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False" />
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="False" visible="False" allowOverride="False" />
        <add name="AllowAddApprover" displayName="允许加签" description="是否允许加签" category="流程" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AllowAddConsignApprover" displayName="允许会签" description="是否允许会签" category="流程" type="Boolean" defaultValue="False" allowOverride="False"/>
        <add name="AllowCirculate" displayName="允许传阅" description="是否允许传阅" category="流程" type="Boolean" defaultValue="False" allowOverride="False"/>
        <add name="MoveToButtonNameSameAsTransitionName" displayName="送签按钮名称和线的名称一样" description="送签按钮名称和线的名称一样" category="表单" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AllowAbortProcess" displayName="允许作废流程" description="是否允许作废流程" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowReturn" displayName="允许退回" description="是否允许退回之前的处理人" category="流程" type="Boolean" defaultValue="False" visible="False"/>
        <add name="AllowToBeReturned" displayName="允许被退回" description="是否允许被后续活动退回" category="流程" type="Boolean" defaultValue="False"/>
      </properties>
    </add>
    <add name="GlobalParemeters" description="全局参数">
      <properties>
        <add name="AppName" displayName="缺省应用程序名称" description="缺省的应用程序名称，添加流程定义时自动填写" category="默认" type="String" defaultValue="" />
        <add name="ProgName" displayName="缺省应用程序模块名称" description="缺省的应用程序模块名称，添加流程定义时自动填写" category="默认" type="String" defaultValue="" />

        <add name="FormBaseUrl" displayName="表单服务器的根地址" description="如果表单地址是相对路径，这里就是物理服务器的地址" category="地址" type="String" defaultValue="" />
        <add name="UseActivityPlanTime" displayName="使用流程活动的开始时间" category="流程" description="是否使用流程活动的开始时间，如果没有到时间，流程活动会处于挂起状态" type="Boolean" defaultValue="False" />
        <add name="MaximizeMainStreamActivityCount" displayName="流程中最多的主环节个数" category="流程" description="用户能够添加的最多的主环节的个数，-1表示不限制。管理员也不受限制" type="Integer" defaultValue="-1" />
        <add name="MaximizeAssigneeCount" displayName="流程活动中最多的受理人的个数" category="流程" description="用户能够设置的受理人的个数，-1表示不限制。管理员在流程调整时，不受此限制" type="Integer" defaultValue="-1" />
      </properties>
    </add>
    <add name="DefaultApprovalActivityTemplate" description="缺省的审批流程中起始点的模板">
      <properties>
        <add name="ShowingInOpinionList" displayName="在意见列表中显示" description="是否在意见列表中显示" category="应用" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AllowWriteOpinion" displayName="允许输入意见" description="是否允许输入意见" category="应用" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AutoAppendSecretary" description="是否自动添加秘书环节" displayName="自动添加秘书" category="流程" type="Boolean" visible="True" defaultValue="True" />
      </properties>
    </add>
    <add name="DefaultReturnToInitialActivityTemplate" description="退回到开始环节向普通节点默认属性设置">
      <properties>
        <add name="AutoSendUserTask" displayName="自动发送待办事项" description="到达此活动时是否自动发送待办事项" category="流程" type="Boolean" defaultValue="True" allowOverride="False" />
      </properties>
    </add>
    <add name="DefaultAddApproverActivityTemplate" description="加签到开始环节向普通节点默认属性设置">
      <properties>
        <add name="AutoSendUserTask" displayName="自动发送待办事项" description="到达此活动时是否自动发送待办事项" category="流程" type="Boolean" defaultValue="True" allowOverride="False"/>
        <add name="AllowAppendActivityAfterUnstartActivities" displayName="允许在未启动的活动后添加活动" description="是否允许在未启动的活动后添加活动" category="流程" type="Boolean" defaultValue="False"/>
        <add name="AllowModifyUnstartActivities" displayName="允许修改未启动的活动" description="是否允许修改未启动的活动" category="流程" type="Boolean" defaultValue="False"/>
        <add name="AllowDeleteUnstartActivities" displayName="允许删除未启动的活动" description="是否允许删除未启动的活动" category="流程" type="Boolean" defaultValue="False"/>
      </properties>
    </add>
  </propertyGroups>
  <activities>
    <add name="InitialActivity" type="MCS.Library.SOA.DataObjects.Workflow.WfInitialActivityBuilder, MCS.Library.SOA.DataObjects" enterActions="EnterActivityUserTaskAction,EnterActivityInvokeServiceAction" leaveActions="LeaveActivityUserTaskAction,LeaveActivityInvokeServiceAction" withdrawActions="WithdrawInvokeServiceAction" beWithdrawnActions="BeWithdrawnInvokeServiceAction"></add>
    <add name="NormalActivity" type="MCS.Library.SOA.DataObjects.Workflow.WfNormalActivityBuilder, MCS.Library.SOA.DataObjects" enterActions="EnterActivityUserTaskAction,EnterActivityInvokeServiceAction" leaveActions="LeaveActivityUserTaskAction,LeaveActivityInvokeServiceAction" withdrawActions="WithdrawInvokeServiceAction" beWithdrawnActions="BeWithdrawnInvokeServiceAction"></add>
    <add name="CompletedActivity" type="MCS.Library.SOA.DataObjects.Workflow.WfCompletedActivityBuilder, MCS.Library.SOA.DataObjects" enterActions="EnterActivityUserTaskAction,EnterActivityInvokeServiceAction,CompleteProcessUserTaskAction" leaveActions="LeaveActivityUserTaskAction,LeaveActivityInvokeServiceAction" withdrawActions="WithdrawInvokeServiceAction" beWithdrawnActions="BeWithdrawnInvokeServiceAction"></add>
  </activities>
</wfActivitySettings>