<wfActionSettings>
  <actions>
    <add name="EnterActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
    <add name="LeaveActivityUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityUserTaskAction, MCS.Library.SOA.DataObjects" />
    <add name="CompleteProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CompleteProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
    <add name="CancelProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
    <add name="WithdrawUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawUserTaskAction, MCS.Library.SOA.DataObjects" />
    <add name="EnterActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.EnterActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
    <add name="LeaveActivityInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.LeaveActivityInvokeServiceAction, MCS.Library.SOA.DataObjects" />
    <add name="CancelExecuteInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.CancelExecuteInvokeServiceAction, MCS.Library.SOA.DataObjects" />
    <add name="RestoreProcessUserTaskAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.RestoreProcessUserTaskAction, MCS.Library.SOA.DataObjects" />
    <!--<add name="ProcessStatusChangeAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.ProcessStatusChangeSyncAction, MCS.Library.SOA.DataObjects" />-->
    <add name="BeWithdrawnInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.BeWithdrawnInvokeServiceAction, MCS.Library.SOA.DataObjects" />
    <add name="WithdrawInvokeServiceAction" type="MCS.Library.SOA.DataObjects.Workflow.Actions.WithdrawInvokeServiceAction, MCS.Library.SOA.DataObjects" />
  </actions>
  <functions>
    <add name="defaultUserFunctions" type="MCS.Library.SOA.DataObjects.Workflow.WfDefaultUserFunctionImpl, MCS.Library.SOA.DataObjects" />
  </functions>
</wfActionSettings>