<wfControlSettings>
	<impls>
		<!--使用复杂的，带机构人员树的选择页面-->
		<add name="activityDescriptorEditor" type="MCS.Web.WebControls.WfExtActivityDescriptorEditor, MCS.Library.SOA.Web.WebControls" />
		
		<!--使用精简的，只有人员输入控件的选择页面-->
		<!--<add name="activityDescriptorEditor" type="MCS.Web.WebControls.WfSimpleActivityDescriptorEditor, MCS.Library.SOA.Web.WebControls" />-->
	</impls>
</wfControlSettings>