<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="jsonConverterRegisterSettings" type="MCS.Web.Library.Script.Configuration.JsonConverterRegisterSettings, MCS.Web.Library.Script.Json" />
    <section name="wfContractsProxySettings" type="MCS.Library.WF.Contracts.Proxies.Configuration.WfContractsProxySettings, MCS.Library.WF.Contracts.Proxies" />
    <section name="tenantSetting" type="CIIC.HSR.TSP.WF.Bizlet.Impl.TenantSection,CIIC.HSR.TSP.WF.Bizlet.Impl" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CIIC.HSR.TSP.WF.Unitest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <wfContractsProxySettings>
    <paths>
      <add name="processDescriptorService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessDescriptorService.svc" />
      <add name="processRuntimeService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessRuntimeService.svc" />
    </paths>
  </wfContractsProxySettings>
  <jsonConverterRegisterSettings>
    <registers>
      <add name="wfClientConverters" type="MCS.Library.WF.Contracts.Json.Converters.WfClientJsonConverterHelper, MCS.Library.WF.Contracts.Json" />
    </registers>
  </jsonConverterRegisterSettings>
  <tenantSetting>
    <tenants>
      <!--无租户系统使用，不局限于OMP-->
      <tenant name="OMPTaskUnitWork" enabled="False"></tenant>
      <!--租户系统使用，不局限于SSP-->
      <tenant name="SSPTaskUnitWork" enabled="True"></tenant>
    </tenants>
  </tenantSetting>
  <appSettings>
    <add key="logoutUrl" value="http://172.16.8.82/SSO/Federation/home/SignOff" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CacheName" value="DEV_HSRMaster" />
    <add key="UserMenuResourceCacheName" value="HSR_UserMenuResource" />
    <add key="TSP.IsTraceEFDbCommand" value="true" />
    <add key="ANEmailESBTargetSourcePath" value="esbmail/request" />
    <add key="DefaultServiceBus" value="Endpoint=sb://shsvr8514ap2.ciicsh.local/TSPTA-ESB-EXT;StsEndpoint=https://shsvr8514ap2.ciicsh.local:9355/TSPTA-ESB-EXT;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=7Dy0avIgtrCMUpm8/OdYhsiWRoaDvBiUCmKz0lrrn4M=" />
  </appSettings>
  <connectionStrings>
    <add name="defaultBusinessDB" connectionString="server=172.16.8.52;database=HSRSSPMaster;uid=hsr_sa;pwd=Password@1" providerName="System.Data.SqlClient" />
    <add name="defaultMetadataDB" connectionString="server=172.16.8.52;database=HSRSSPMaster;uid=hsr_sa;pwd=Password@1" providerName="System.Data.SqlClient" />
    <add name="WorkflowUnitOfWorkKey" connectionString="server=172.16.8.52;database=HSRMaster;uid=hsr_sa;pwd=Password@1" providerName="System.Data.SqlClient" />
    <add name="defaultTenantDB" connectionString="server=172.16.8.52;database=HSRSSPMaster;uid=hsr_sa;pwd=Password@1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataCacheClient>
    <hosts>
      <host name="172.16.8.83" cachePort="22233" />
    </hosts>
    <!--isEnabled本地缓存已启用,sync:TimeoutBased 值用于表明应使用超时值。NotificationBased 用于表明还应使用缓存通知。
    ttlValue:本地缓存超时（秒）。
 -->
    <localCache isEnabled="true" sync="NotificationBased" objectCount="100000" ttlValue="300" />
    <!--特定缓存通知轮询时间间隔(秒);最大队列长度,maxQueueLength 属性。如果未指定，则默认值为 10000。-->
    <clientNotification pollInterval="300" />
    <!--注意：mode与protectionLevel要跟server保持一致。开发阶段都设置为None。如果mode=Transport则需要给宿主运行账号授权。
      具体可访问：http://msdn.microsoft.com/zh-cn/library/ff921012(v=azure.10).aspx
      -->
    <securityProperties mode="None" protectionLevel="None" />
    <!--连接缓冲区大小(字节);最大缓冲区池大小(字节);最大缓冲区大小(字节);最大输出延迟(毫秒);通道初始化超时(毫秒);接收超时(毫秒)-->
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
  </dataCacheClient>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" defaultUrl="~/Home/Index" protection="All" cookieless="UseCookies" name="HSRAuth" timeout="2880" slidingExpiration="true"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <CIIC.HSR.TSP.WF.Unitest.Properties.Settings>
      <setting name="CIIC_HSR_TSP_WF_Unitest_localhost_TaskPlugin" serializeAs="String">
        <value>http://localhost/MCSWebApp/CIIC.HSR.TSP.WF.PermissionManagerService/Services/TaskPlugin.asmx</value>
      </setting>
    </CIIC.HSR.TSP.WF.Unitest.Properties.Settings>
  </applicationSettings>
</configuration>
