<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--<section name="objectSchemaSettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.ObjectSchemaSettings, MCS.Library.SOA.DataObjects.Security"/>
		<section name="schemaPropertyGroupSettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.SchemaPropertyGroupSettings, MCS.Library.SOA.DataObjects.Security"/>
		<section name="schemaObjectUpdateActionSettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.SchemaObjectUpdateActionSettings, MCS.Library.SOA.DataObjects.Security"/>-->
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
		<section name="propertyEditorSettings" type="MCS.Web.WebControls.PropertyEditorSettings, MCS.Library.SOA.Web.WebControls"/>
		<section name="propertyFormLayoutSettings" type="MCS.Library.SOA.DataObjects.PropertyFormLayoutSettings, MCS.Library.SOA.DataObjects"/>
		<section name="persisterGroupSettings" type="MCS.Library.SOA.DataObjects.PropertyPersisterSettings, MCS.Library.SOA.DataObjects"/>
		<section name="backwardSettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.PermissionBackwardCompatibilityConfigSection, MCS.Library.SOA.DataObjects.Security"/>
		<section name="schemaLogCategorySettings" type="MCS.Library.SOA.DataObjects.Security.Configuration.LogCategoryConfigSection, MCS.Library.SOA.DataObjects.Security"/>
		<sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
			<section name="pageContent" type="MCS.Web.Library.PageContentSection, MCS.Web.Library"/>
		</sectionGroup>
		<section name="userSettings" type="MCS.Library.SOA.DataObjects.UserSettingsConfig, MCS.Library.SOA.DataObjects"/>
		<section name="userOUControlSettings" type="MCS.Web.WebControls.UserOUControlSettings, MCS.Library.SOA.Web.WebControls"/>
		<section name="userRecentDataSettings" type="MCS.Library.SOA.DataObjects.UserRecentDataConfigurationSection, MCS.Library.SOA.DataObjects"/>
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" theme="pc">
			<!-- v-weirf 定义了主题-->
			<controls>
				<add tagPrefix="mcs" assembly="MCS.Web.WebControls" namespace="MCS.Web.WebControls"  />
				<add tagPrefix="soa" assembly="MCS.Library.SOA.Web.WebControls" namespace="MCS.Web.WebControls"  />
				<add tagPrefix="pc" src="~/inc/WebControls/Banner.ascx" tagName="Banner"/>
				<add tagPrefix="pc" src="~/inc/WebControls/Footer.ascx" tagName="Footer"/>
				<add tagPrefix="pc" assembly="PermissionCenter" namespace="PermissionCenter.WebControls"/>
				<add tagPrefix="pc" assembly="PermissionCenter" namespace="PermissionCenter.DataSources"/>
			</controls>
		</pages>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10240" />
	</system.web>
	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
		<add key="enableSimulatedOperation" value="false"/>
		<!--允许使用模拟时间时进行操作-->
		<add key="passworControlUrl" value="~/Dialogs/EditorPassword.aspx"/>
		<!-- 修改密码的页面地址 -->
	</appSettings>
	<deluxe.web>
		<pageContent autoLoad="true">
			<cssClasses>
				<!--<clear />-->
				<add path="/MCSWebApp/Css/toolbar.css"/>
				<add path="/MCSWebApp/PermissionCenter/styles/pccom.css"/>
				<!--<add path="/MCSWebApp/PermissionCenter/Handlers/PcCss.ashx"/>-->
				<add path="/MCSWebApp/PermissionCenter/styles/pccssreform.css" />
				<!-- 发布时改为引用pccom.min.css ,etc-->
			</cssClasses>
			<scripts>
				<!--<add path="/MCSWebApp/PermissionCenter/scripts/jquery-1.7.2.min.js" />-->
				<add path="/MCSWebApp/PermissionCenter/scripts/pc.js" />
			</scripts>
		</pageContent>
	</deluxe.web>
	<userRecentDataSettings>
		<categories>
			<add name="recentTimepoints" defaultRecentCount="10">
				<properties>
					<add name="timePoint" displayName="时间点" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31" />
					<add name="lastAccessDate" displayName="上次使用的时间" category="recentTimepoints" type="DateTime" defaultValue="9999-12-31" />
					<add name="pinned" displayName="是否是固定的条目" category="recentTimepoints" type="Boolean" defaultValue="9999-12-31" />
				</properties>
			</add>
			<add name="recentOrgs" defaultRecentCount="10">
				<properties>
					<add name="orgId" displayName="组织机构ID" category="recentOrgs" type="String" defaultValue="" />
					<add name="timePoint" displayName="时间点" category="recentOrgs" type="DateTime" defaultValue="9999-12-31" />
					<add name="lastAccessDate" displayName="上次使用的时间" category="recentOrgs" type="DateTime" defaultValue="9999-12-31" />
					<add name="pinned" displayName="是否是固定的条目" category="recentOrgs" type="Boolean" defaultValue="9999-12-31" />
				</properties>
			</add>
		</categories>
	</userRecentDataSettings>
	<schemaLogCategorySettings>
		<categories>
			<add name="Users" title="人员"/>
			<add name="Groups" title="群组"/>
			<add name="Organizations" title="组织"/>
			<add name="Applications" title="应用"/>
			<add name="Roles" title="角色"/>
			<add name="Permissions" title="功能"/>
		</categories>
	</schemaLogCategorySettings>
	<userOUControlSettings>
		<impls>
			<clear />
			<add name="userOUControlQuery" type="MCS.Library.SOA.DataObjects.Security.Adapters.SCOuControlQueryImpl, MCS.Library.SOA.DataObjects.Security"/>
		</impls>
	</userOUControlSettings>
	<propertyFormLayoutSettings>
		<layouts>
			<add name="DefalutLayout">
				<sections>
					<add name="section1" displayName="照片" columns="2" />
					<add name="ContactInfo" displayName="有效性" columns="3" />
				</sections>
			</add>
		</layouts>
	</propertyFormLayoutSettings>
	<propertyEditorSettings>
		<editors>
			<add name="standardPropertyEditor" type="MCS.Web.WebControls.StandardPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="booleanPropertyEditor" type="MCS.Web.WebControls.BooleanPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="enumPropertyEditor" type="MCS.Web.WebControls.EnumPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="objectPropertyEditor" type="MCS.Web.WebControls.ObjectPropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="datePropertyEditor" type="MCS.Web.WebControls.DatePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="dateTimePropertyEditor" type="MCS.Web.WebControls.DateTimePropertyEditor, MCS.Library.SOA.Web.WebControls"/>
			<add name="ImageUploaderPropertyEditor" type="MCS.Web.WebControls.ImageUploaderPropertyEditor, MCS.Library.SOA.Web.WebControls" />
		</editors>
	</propertyEditorSettings>
	<persisterGroupSettings>
		<persisters>
			<add name ="ImagePersister" type="MCS.Library.SOA.DataObjects.Security.SchemaImagePropertyPersister, MCS.Library.SOA.DataObjects.Security" />
		</persisters>
	</persisterGroupSettings>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs>
		</authenticateDirs>
		<anonymousDirs>
		</anonymousDirs>
		<!--<typeFactories>
			<add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport" />
			--><!--<add name="pricipalBuilder" type="MCS.Library.PCPassport.Principal.PCPrincipalBuilder, MCS.Library.PCPassport"  />--><!--
		</typeFactories>-->
	</authenticateDirSettings>
	<system.webServer>
		<modules>
			<add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
		</modules>
	</system.webServer>
	<backwardSettings smdId="123456">

	</backwardSettings>
</configuration>
