<aclSettings>
  <operations>
	  <add name="defaultAclUpdater" type="MCS.Library.SOA.DataObjects.DefaultAclUpdater, MCS.Library.SOA.DataObjects"/>
	  <!--<add name="toOldPlatformAclUpdater" type="SinoOcean.Seagull2.Framework.Bridge.AclToOldPlatform, SinoOcean.Seagull2.Framework.Bridge"/>-->
  </operations>
</aclSettings>