<appCommonInfoSettings>
  <operations>
	  <add name="defaultAppCommonInfoUpdater" type="MCS.Library.SOA.DataObjects.DefaultAppCommonInfoUpdater, MCS.Library.SOA.DataObjects"/>
	  <!--<add name="toOldPlatformAppCommonInfoUpdater" type="SinoOcean.Seagull2.Framework.Bridge.AppCommonInfoToOldPlatform, SinoOcean.Seagull2.Framework.Bridge"/>-->
  </operations>
</appCommonInfoSettings>