<archiveSettings enabled="True" autoRedirectToArchiveDB="True" copyMaterials="True" deleteOriginalMaterials="True" deleteOriginalData="True">
	<factories>
		<add name="archiveExecutor" type="MCS.Library.SOA.DataObjects.Archive.GenericDataArchiveExecutorFactory, MCS.Library.SOA.DataObjects" />
	</factories>
	<connectionMappings>
		<add name="main" source="HB2008" destination="Archive" />
		<add name="fullTextSearch" source="FullTextSearch" destination="Archive" />
	</connectionMappings>
	<appPathMappings>
	</appPathMappings>
</archiveSettings>