<!--需按照实际情况修改-->
<connectionManager>
  <connectionStrings>
    <!--连接本地数据库-->
    <!--<add name="AccreditAdmin" connectionString="server=10.0.9.243;database=SinoOceanOgus;User ID=admin@test;Password=msuser" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>-->
    <add name="AccreditAdmin" connectionString="server=10.0.9.244;database=SinoOceanOgus;User ID=msuser;Password=msuser" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
    <add name="OldPlatform" connectionString="server=10.0.9.244;database=HB2008_SinoOcean;User ID=sa;Password=123456;enlist=true" providerName="System.Data.SqlClient"/>
    <!--new db link-->
    <add name="HB2008" connectionString="server=10.0.9.243;database=MCS_WORKFLOW;User ID=msuser;Password=admin@test" providerName="System.Data.SqlClient"/>
    <add name="FullTextSearch" connectionString="server=10.0.9.243;database=MCS_WORKFLOW;Uid=msuser;Pwd=admin@test;Trusted_Connection=False;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="SINOOCEAN_FINANCE" connectionString="Server=10.0.9.243;User ID=msuser;Database=SINOOCEAN_FINANCE;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource" connectionString="Server=10.0.9.243;User ID=msuser;Database=HumanResource_HR;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SecretarialService" connectionString="Server=10.0.9.243;User ID=msuser;Database=SecretaryAdministration;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SalaryCheck" connectionString="Data Source=10.0.9.243;Initial Catalog=HumanResource_Salary;Integrated Security=True;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_Human" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="FixedAssets" connectionString="Server=10.0.9.243;User ID=msuser;Database=AssetsManagement;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name=" SecretarialService" connectionString="server=10.0.9.240;database= SecretaryAdministration;User ID=msuser;Password=msuser;enlist=true" providerName="System.Data.SqlClient"/>   
    <add name="Funds" connectionString="Server=10.0.9.243;User ID=msuser;Database=Financing;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="CustomerRelations" connectionString="Server=10.0.9.243;User ID=msuser;Database=CustomerRelations;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource_HR" connectionString="Server=10.0.9.243;User ID=msuser;Database=HumanResource_HR;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_HR" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB_HR;Password=admin@test;" providerName="System.Data.SqlClient"/>
    <add name="HumanResource_New" connectionString="Server=10.0.9.243;User ID=msuser;Database=HumanResource;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SINOOCEAN_PRODUCTRESEARCH" connectionString="server=10.0.9.243;database=ProductResearch;User ID=msuser;Password=admin@test;enlist=true" providerName="System.Data.SqlClient"/>
    <add name="SalaryPlan" connectionString="Server=10.0.9.243;User ID=msuser;Database=HumanResource;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB_SalaryPlan" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB_SalaryPlan;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="EvaluationMetaData" connectionString="server=10.0.9.243;database=PFSubjectDB;User ID=ecuser;Password=ecuser" providerName="System.Data.SqlClient"/>
    <add name="SubjectDB" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB;Password=admin@test;enlist=true;" providerName="System.Data.SqlClient"/> 

   <!--new db link end-->
    <add name="LOG" connectionString="server=10.0.9.243;database=AppAdmin_Log_SinoOcean;User ID=msuser;Password=admin@test" providerName="System.Data.SqlClient"/>
    <!--add name="SubjectDB" connectionString="Server=10.0.9.243;User ID=msuser;Database=SubjectDB;Password=admin@test;" providerName="System.Data.SqlClient"/-->
    <add name="DeluxeWorksPassport" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=msuser;Password=admin@test"  providerName="System.Data.SqlClient" />
    <add name="UserRelativeInfo" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=msuser;Password=admin@test" providerName="System.Data.SqlClient"/>
    <add name="PageViewState" connectionString="server=10.0.9.243;database=HB2008_Params_SinoOcean;User ID=msuser;Password=admin@test" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataProviders>
    <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
    <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
    <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
  </dataProviders>
</connectionManager>