<!--需按照实际情况修改-->
<connectionManager>
  <connectionStrings>
	<add name="AccreditAdmin" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=SinoOceanOgus;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="LOG" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=AppAdmin_Log_SinoOcean;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="DeluxeWorksPassport" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=HB2008_Params_SinoOcean;Data Source=172.16.8.52;"  providerName="System.Data.SqlClient" />
	<add name="PageViewState" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=HB2008_Params_SinoOcean;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="UserRelativeInfo" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=HB2008_Params_SinoOcean;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="HB2008" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=TSPTA_WF_WORKFLOW;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="HB2008_SIMULATION" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_WORKFLOW_SIMULATION;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="Archive" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_WORKFLOW_ARCHIVE;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="FullTextSearch" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=TSPTA_WF_WORKFLOW;Data Source=172.16.8.52;" providerName="System.Data.SqlClient" />
	<add name="WFDEMO" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_WORKFLOW;Data Source=172.16.8.52" providerName="System.Data.SqlClient"/>
	<add name="SubjectDB" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=SubjectDB_Test;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="SINOOCEAN_FINANCE" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=SINOOCEAN_FINANCE;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="PermissionsCenter" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_PERMISSIONS_CENTER;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="AdminUnit" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_ADMINISTRATIVE_UNIT;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
	<add name="AdminUnitTest" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_ADMINISTRATIVE_UNIT_TEST;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>	
	<add name="PermissionsCenterTest" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_PERMISSIONS_CENTER_TEST;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="EmpFinance" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=EmpFinance;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	<add name="HB2008_TEST" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=MCS_WORKFLOW_TEST;Data Source=172.16.8.52;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>

	<add name="CNPCSAP" connectionString="Password=Password@1;Persist Security Info=True;User ID=hsr_sa;Initial Catalog=SAPData;Data Source=172.16.8.52;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataProviders>
	<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
	<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
	<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
  </dataProviders>
</connectionManager>