<connectionManager>
	<connectionStrings>
		<!--连接主数据库Schema-->
		<add name="SubjectDB_Finance" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Payment" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Fund" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_FixedAsset" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_EmpService" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Human" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_SalaryCheck" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB_Salary;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_SalaryPlan" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB_Salary;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Secretary" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Supplier" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_ProMaterials" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Contract" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_InvestDev" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Bidding" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Archive" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDB_Case" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--公共的主题数据库只读连接串，用于跨领域的联合查询-->
		<add name="SubjectDB_ReaderOnly" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Password=subjectdbreader;Database=SubjectDB;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--公共项目-->
		<add name="SubjectDB_Common" connectionString="Server=10.0.9.240;User ID=CommonUser;Database=SubjectDB;Password=commonuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--主数据图片、附件操作连接串-->
		<add name="SubjectDB_WF" connectionString="Server=10.0.9.240;User ID=wfuser;Database=SubjectDB;Password=wfuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--连接本地数据库-->
		<add name="MCSExtranetUser" connectionString="uid=msuser;pwd=msuser;database=MCSExtranetUsers;server=10.0.9.240;"
				 commandTimeout="00:01:00" providerName="System.Data.SqlClient" />
		<add name="Contract_trade" connectionString="server=10.0.9.240;database=Contract_trade;User ID=msuser;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="AccreditAdmin" connectionString="server=10.0.9.240;database=SinoOceanOgus;User ID=msuser;Password=msuser" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="LOG" connectionString="server=10.0.9.240;database=AppAdmin_Log_SinoOcean;User ID=msuser;Password=msuser" providerName="System.Data.SqlClient"/>
		<add name="DeluxeWorksPassport" connectionString="server=10.0.9.240;database=HB2008_Params_SinoOcean;User ID=msuser;Password=msuser"  providerName="System.Data.SqlClient" />
		<add name="UserRelativeInfo" connectionString="server=10.0.9.240;database=HB2008_Params_SinoOcean;User ID=msuser;Password=msuser" providerName="System.Data.SqlClient"/>
		<add name="PageViewState" connectionString="server=10.0.9.240;database=HB2008_Params_SinoOcean;User ID=msuser;Password=msuser" providerName="System.Data.SqlClient"/>
		<add name="HB2008" connectionString="server=10.0.9.240;database=MCS_WORKFLOW;User ID=msuser;Password=msuser" providerName="System.Data.SqlClient"/>
		<add name="FullTextSearch" connectionString="server=10.0.9.240;database=MCS_WORKFLOW;Uid=msuser;Pwd=msuser;Trusted_Connection=False;Integrated Security=False" providerName="System.Data.SqlClient" />
		<add name="WFDEMO" connectionString="Server=10.0.9.240;User ID=msuser;Database=MCS_WFDEMO;Password=msuser;" providerName="System.Data.SqlClient"/>
		<add name="PaymentSystem" connectionString="Server=10.0.9.240;User ID=msuser;Database=PaymentSystem;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SINOOCEAN_FINANCE" connectionString="Server=10.0.9.240;User ID=PaymentUser;Database=SINOOCEAN_FINANCE;Password=paymentuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="HumanResource" connectionString="Server=10.0.9.240;User ID=msuser;Database=HumanResource;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--<add name="SubjectDB" connectionString="Server=10.0.9.240;User ID=CommonUser;Database=SubjectDB;Password=commonuser;enlist=false;" providerName="System.Data.SqlClient"/>-->
		<add name="SecretarialService" connectionString="Server=10.0.9.240;User ID=msuser;Database=SecretaryAdministration;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="Funds" connectionString="Server=10.0.9.240;User ID=msuser;Database=Financing;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="OldPlatform" connectionString="server=10.0.9.244;database=HB2008_SinoOcean;User ID=sa;Password=123456;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="SalaryCheck" connectionString="Server=10.0.9.240;User ID=msuser;Database=HumanResource_Salary;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SalaryPlan" connectionString="Server=10.0.9.240;User ID=msuser;Database=HumanResource_Salary;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="HumanResource_New" connectionString="Server=10.0.9.240;User ID=msuser;Database=HumanResource;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="FixedAssets" connectionString="Server=10.0.9.240;User ID=msuser;Database=SecretaryAdministration;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="EvaluationMetaData" connectionString="server=10.0.9.240;database=PFSubjectDB;User ID=ecuser;Password=ecuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="EvaluationIntance" connectionString="server=10.0.9.240;database=EvaluationCenter;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="QuestionnaireMetaData" connectionString="server=10.0.9.240;database=PFSubjectDB;User ID=qnuser;Password=qnuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="QuestionnaireTranData" connectionString="server=10.0.9.240;database=Questionnaire;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="ArchiveService" connectionString="server=10.0.9.240;database=Archive_temp;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="TrainingDB" connectionString="server=10.0.9.240;database=TrainingDB;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="Training" connectionString="server=10.0.9.240;database=Training;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="SINOOCEAN_PRODUCTRESEARCH" connectionString="server=10.0.9.240;database=ProductResearch;User ID=msuser;Password=msuser;Enlist=false" providerName="System.Data.SqlClient"/>
		<add name="CustomerRelations" connectionString="Server=10.0.9.240;User ID=msuser;Database=CustomerRelations;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="FactManage" connectionString="Server=10.0.9.240;User ID=msuser;Database=FactManage;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="ReportDB" connectionString="Server=10.0.9.240;User ID=msuser;Database=ReportDB;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="TransDB_Case" connectionString="Server=10.0.9.240;User ID=CasesUser;Database=RiskManagement;Password=casesuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="ArchiveSubjectDB" connectionString="Server=10.0.9.240;User ID=ArchiveUser;Database=SubjectDB;Password=archiveuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="SubjectDBReader" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<add name="WorkPlan" connectionString="Server=10.0.9.240;User ID=msuser;Database=WorkPlan;Password=msuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--供应商交易库连接串-->
		<add name="TranDB_Supplier" connectionString="Server=10.0.9.240;User ID=msuser;Password=msuser;Database=ProductResearch;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--客户满意度-->
		<add name="SubjectDB_CustomerSatis" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--流程管理-->
		<add name="SubjectDB_ProcessManagement" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--股权管理-->
		<add name="SubjectDB_Equity" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--经营性资质办理-->
		<!--<add name="SubjectDB_Qualification" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>-->
		<add name="SubjectDB_Qualification" connectionString="Server=10.0.9.240;User ID=qualificationuser;Database=SubjectDB;Password=qualificationuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--计划管理-->
		<add name="SubjectDB_WorkPlan" connectionString="Server=10.0.9.240;User ID=WorkPlanUser;Database=SubjectDB;Password=workplanuser;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--现场销售-->
		<add name="SubjectDB_Sale" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--产品定义-->
		<add name="SubjectDB_ProDefine" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--签约-->
		<add name="SubjectDB_Signs" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--内部审计-->
		<add name="SubjectDB_Audit" connectionString="Server=10.0.9.240;User ID=SubjectDBReader;Database=SubjectDB;Password=subjectdbreader;enlist=false;" providerName="System.Data.SqlClient"/>
		<!--新权限中心-->
		<add name="PermissionsCenter" connectionString="server=10.0.9.240;database=MCS_PERMISSIONS_CENTER;User ID=msuser;Password=msuser;enlist=false;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<!---->
	</connectionStrings>
	<dataProviders>
		<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
		<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
		<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
	</dataProviders>
</connectionManager>