<httpModules>
  <add name="DeluxeWorksPassportModule" type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" />
  <add name="PageModuleHttpModule" type="MCS.Web.Library.PageModuleHttpModule, MCS.Web.Library"/>
  <add name="ApplicationErrorModule" type="MCS.Web.Library.ApplicationErrorModule, MCS.Web.Library"/>
  <add name="PageMonitorModule" type="MCS.Web.Library.PageMonitorModule, MCS.Web.Library"/>
  <add name="GlobalizationModule" type="MCS.Web.WebControls.GlobalizationModule, MCS.Library.SOA.Web.WebControls" />
  <add name="CacheModule" type="MCS.Library.Caching.CacheModule, MCS.Library"/>
  <!--<add name="ArchiveRedirectModule" type="MCS.Web.WebControls.ArchiveRedirectModule, MCS.Library.SOA.Web.WebControls" />-->
</httpModules>