<identityConfigSettings>
	<identities>
		<!--<add name="documentServer" userId="v-wangli" domain="SINOOCEANLAND" password="Password" />-->
		<add name="documentServer" userId="v-dingyue" domain="SINOOCEANLAND" password="dingyue19871015" />
		<add name="publishUser" userId="soaadmin" domain="sinooceanland" password="pass@word01" />
		<add name="domainUser" userId="administrator" domain="Exchange2010.com" password="P@ssword" />
		<add name="smtpSender" userId="soaadmin" domain="sinooceanland" password="pass@word01" />
	</identities>
</identityConfigSettings>