<materialFileOperationSettings>
	<operations>
		<add name="defaultOperation" type="MCS.Library.SOA.DataObjects.DefaultMaterialFileOperation, MCS.Library.SOA.DataObjects" />
		<!--<add name="updateSyncMaterialFileTaskOperation" type="MCS.Library.SOA.DataObjects.SyncMaterialFileToDocCenterOperation, MCS.Library.SOA.DataObjects" />-->
	</operations>
</materialFileOperationSettings>