<!--roleRelatedUserParentDept决定了角色判定时，是否和用户的FullPath相关>
<oguPermissionSettings rootOUPath="B16486C1-D652-4D0A-B43A-550BB50790BD" roleRelatedUserParentDept="true">-->
<oguPermissionSettings rootOUPath="BBFCFA70-6071-4957-B9DC-D5461A015C93" roleRelatedUserParentDept="false">
	<paths>
		<!--机构人员访问的Service地址，按实际情况修改-->

		<add name="oguServiceAddress" uri="http://localhost/MCSWebApp/CIIC.HSR.OMP.OmpOguService/ReaderService.asmx" />
		<!--授权管理访问的Service地址，按实际情况修改 -->
		<add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/CIIC.HSR.OMP.OmpOguService/SecurityCheckService.asmx" />
    <!--任务同步 -->
    <add name="userTaskPluginService" uri="http://localhost/MCSWebApp/CIIC.HSR.OMP.OmpOguService/TaskPlugin.asmx" />
	</paths>
	<!--获取顶级部门映射-->
	<topOUMapping level="4">
	</topOUMapping>
	<typeFactories>
		<!--实现机构人员操作的工厂类-->
		<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
		<!--实现授权操作的工厂类-->
		<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    <!--任务同步操作的工厂类-->
    <add name="TaskSyncPluginFactory" type="MCS.Library.OGUPermission.Mechanism.TaskSyncPluginMechanism, MCS.Library.OGUPermission"/>
	</typeFactories>
</oguPermissionSettings>