<?xml version="1.0" encoding="utf-8"?>
<schemaPropertyGroupSettings>
  <groups>
    <add name="ObjectBase" defaultTab="BasicInfo">
      <properties>
        <add name="ID" displayName="标识" tab="BasicInfo"  maxLength="36" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot" visible="false" batchMode="Standalone"/>
        <add name="Name" displayName="名称" tab="BasicInfo" isRequired="True" maxLength="64" type="String" snapshotMode="All" editorKey="PObjectNameEditor" sortOrder ="3" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="长度在1到64之间，不能含有'\'，不能以空格开头和结尾。">
              <parameters>
                <add name="pattern" type="String" paramValue="^([^\s\\])$|^([^\s\\][^\\]{0,62}[^\s\\])$" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="DisplayName" displayName="显示名称" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4" batchMode="Standalone"/>
        <add name="Comment" displayName="注释" category="注释" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4"/>
      </properties>
    </add>
    <add name="AppUniqueObjectBase" defaultTab="BasicInfo">
      <properties>
        <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="60" description="唯一，可读的名称。用于用户的登录名或标识" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="且长度在1到60之间，不能含有\/[]:;|=,+*?&lt;&gt; ">
              <parameters>
                <add name="pattern" type="String" paramValue="^[^\/\\\[\]\:\;\|\=\,\+\*\?\&lt;\&gt;\s]{1,60}$" />
              </parameters>
            </add>
            <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
      </properties>
    </add>
    <add name="MatrixContainer" defaultTab="BasicInfo">
      <properties>
        <add name="includeMatrixUsers" displayName="包含矩阵成员" category="矩阵" type="Boolean" tab="BasicInfo" snapshotMode="None" defaultValue="false" visible="true" />
      </properties>
    </add>
    <add name="OguUniqueObjectBase" defaultTab="BasicInfo">
      <properties>
        <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="20" description="唯一，可读的名称。用于用户的登录名或标识" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="不能包括\/[]:;|=,+*?&lt;&gt; ，且长度在1到20之间">
              <parameters>
                <add name="pattern" type="String" paramValue="^[^\/\\\[\]\:\;\|\=\,\+\*\?\&lt;\&gt;\s]{1,20}$" />
              </parameters>
            </add>
            <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
      </properties>
    </add>
    <add name="UserBase" defaultTab="BasicInfo">
      <properties>
        <add name="LastName" displayName="姓" tab="BasicInfo" type="String"  maxLength="64" editorKey="GetPinYinEditor" snapshotMode="AllButNotInCommonSnapshot" sortOrder ="1" batchMode="Standalone"/>
        <add name="FirstName" displayName="名" tab="BasicInfo" type="String" maxLength="64" editorKey="GetPinYinEditor" snapshotMode="AllButNotInCommonSnapshot" sortOrder ="2" batchMode="Standalone"/>
        <add name="OwnerID" displayName="所有者ID" tab="BasicInfo" type="String" maxLength="36" snapshotMode="IsInSnapshot" visible="false" batchMode="Standalone"/>
        <add name="OwnerName" displayName="所有者名称" tab="BasicInfo" type="String" maxLength="255" snapshotMode="IsInSnapshot" visible="true" readOnly="true" batchMode="Standalone"/>
        <add name="PhotoKey" displayName="照片"  category="照片" tab="BasicInfo" type="String" editorKey="ImageUploaderPropertyEditor" persisterKey="ImagePersister"  snapshotMode="None" batchMode="Standalone" />
      </properties>
    </add>
    <add name="AccountInfo" defaultTab="AccountInfo">
      <properties>
        <add name="PasswordNotRequired" displayName="不需要密码" category="密码" tab="AccountInfo" type="Boolean" defaultValue="false" snapshotMode="None"/>
        <add name="DontExpirePassword" displayName="密码永不过期" category="密码" tab="AccountInfo" type="Boolean" defaultValue="false" snapshotMode="None" />
        <add name="AccountInspires" displayName="账户起始日期"  category="有效性" tab="AccountInfo" type="DateTime" snapshotMode="None" />
        <add name="AccountExpires" displayName="账户过期日期"  category="有效性" tab="AccountInfo" type="DateTime" snapshotMode="None" />
        <add name="AccountDisabled" displayName="账户已禁用" category="有效性" tab="AccountInfo" type="Boolean" defaultValue="false" snapshotMode="IsInSnapshot,IsInCommonSnapshot"/>
      </properties>
    </add>
    <add name="ContactInfo" defaultTab="ContactInfo">
      <properties>
        <add name="Mail" displayName="邮件地址" tab="ContactInfo" type="String" maxLength="255"  snapshotMode="IsInSnapshot" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="请输入正确的Email">
              <parameters>
                <add name="pattern" type="String" paramValue="^$|^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="Sip" displayName="UC地址" tab="ContactInfo" type="String" maxLength="255"  snapshotMode="IsInSnapshot" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="UC地址应该是由sip:开头的邮箱地址">
              <parameters>
                <add name="pattern" type="String" paramValue="^$|^(sip:)?\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="MP" displayName="手机号" tab="ContactInfo" type="String" maxLength="36"  snapshotMode="IsInSnapshot,IsFullTextIndexed" batchMode="Standalone">

        </add>
        <add name="WP" displayName="工作电话" tab="ContactInfo" type="String" maxLength="36"  snapshotMode="IsInSnapshot,IsFullTextIndexed">
        </add>
        <add name="OtherMP" displayName="其他电话" tab="ContactInfo" type="String" maxLength="64"  snapshotMode="IsFullTextIndexed" batchMode="Standalone">
        </add>
        <add name="Address" displayName="通信地址" tab="ContactInfo" type="String" maxLength="64" snapshotMode="IsInSnapshot"/>
      </properties>
    </add>
    <add name="UserPolitics" defaultTab="Politics">
      <properties>
        <add name="CadreType" displayName="干部属性" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.OGUPermission.UserAttributesType, MCS.Library.OGUPermission" snapshotMode="None"  defaultValue="0"/>
        <add name="UserRank" displayName="人员职级" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.OGUPermission.UserRankType, MCS.Library.OGUPermission" snapshotMode="None" defaultValue="0"/>
        <add name="Occupation" displayName="职位" tab="Politics" type="String"  snapshotMode="None" defaultValue=""/>
        <add name="CompanyName" displayName="公司" tab="Politics" maxLength="64" type="String" snapshotMode="None" defaultValue="" />
        <add name="DepartmentName" displayName="组织名" tab="Politics" maxLength="64" type="String" snapshotMode="None" defaultValue="" />
      </properties>
    </add>
    <add name="HrData" defaultTab="HrData">
      <properties>
        <add name="HREmployeePropertyCode" displayName="用工性质" tab="HrData" type="String" snapshotMode="None"  defaultValue=""/>
        <add name="HRRegularDate" displayName="转正时间" tab="HrData" type="DateTime" snapshotMode="None" defaultValue=""/>
        <add name="HRDimissionDate" displayName="离职时间" tab="HrData" type="DateTime"  snapshotMode="None" defaultValue=""/>
        <add name="HRWorkCityCode" displayName="城市代码" tab="HrData" maxLength="50" type="String" snapshotMode="None" defaultValue="" />
        <add name="HRWorkCity" displayName="城市名称" tab="HrData" maxLength="100" type="String" snapshotMode="None" defaultValue="" />
        <add name="HRPersonalMobile" displayName="手机号" tab="HrData" maxLength="64" type="String" snapshotMode="None" defaultValue="" />
        <add name="HRVocationLevel" displayName="职级" tab="HrData" type="Integer" snapshotMode="None" defaultValue="" />
        <add name="HRLaborRelationCompanyCode" displayName="隶属单位" tab="HrData" maxLength="50" type="String" snapshotMode="None" defaultValue="" />
      </properties>
    </add>
    <add name="OrgPolitics" defaultTab="Politics">
      <properties>
        <add name="DepartmentClass" displayName="组织分类" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Security.OrganizationClass, MCS.Library.SOA.DataObjects.Security" snapshotMode="None" defaultValue ="0"/>
        <add name="DepartmentType" displayName="组织类型" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.SOA.DataObjects.Security.OrganizationType, MCS.Library.SOA.DataObjects.Security" snapshotMode="None" defaultValue ="0"/>
        <add name="DepartmentRank" displayName="组织级别" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.OGUPermission.DepartmentRankType, MCS.Library.OGUPermission" snapshotMode="None" defaultValue ="0"/>
        <add name="CustomsCode" displayName="关区代码" tab="Politics" type="String"  snapshotMode="None" defaultValue="" batchMode="Standalone"/>
      </properties>
    </add>
    <add name="RelationObject">
      <properties>
        <add name="ParentID" displayName="容器标识" type="String" snapshotMode="IsInSnapshot" visible="false"/>
        <add name="ParentSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
        <add name="InnerSort" type="Integer" snapshotMode="IsInSnapshot" visible="false" defaultValue="0"/>
        <add name="ID" displayName="对象标识" type="String" snapshotMode="IsInSnapshot" snapshotFieldName = "ObjectID" visible="false"/>
        <add name="ChildSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
        <add name="Default" type="Boolean" snapshotMode="IsInSnapshot" visible="true" snapshotFieldName = "IsDefault" defaultValue="true"/>
        <add name="FullPath" displayName="全路径" type="String" snapshotMode="IsInSnapshot" visible="false">
          <validators>
            <add name ="FullPathUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.FullPathUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="在同一组织下，对象的名称不能重复，请修改名称。已经存在的对象为'{0}'" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="False" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="GlobalSort" displayName="全局序号" type="String" snapshotMode="IsInSnapshot" visible="false"/>
      </properties>
    </add>
    <add name="MemberRelationObject">
      <properties>
        <add name="ContainerID" displayName="容器标识" type="String" snapshotMode="IsInSnapshot" visible="false"/>
        <add name="ContainerSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
        <add name="InnerSort" type="Integer" snapshotMode="IsInSnapshot" visible="false" defaultValue="0"/>
        <add name="ID" displayName="对象标识" type="String" snapshotMode="IsInSnapshot" snapshotFieldName = "MemberID" visible="false"/>
        <add name="MemberSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
      </properties>
    </add>
    <add name="ApplicationObject">
      <properties>
        <add name="ResourceLevel" displayName="应用级别深度" type="String" snapshotMode="None" visible="true" />
      </properties>
    </add>
    <add name="OrganizationInfo">
      <properties>
        <add name="AllowAclInheritance" displayName="是否允许继承容器的权限" type="Boolean" snapshotMode="IsInSnapshot" defaultValue="true" visible="true"/>
      </properties>
    </add>
    <!--管理单元的-->
    <add name="AUOBase" defaultTab="BasicInfo">
      <properties>
        <add name="ID" displayName="标识" tab="BasicInfo"  maxLength="36" type="String" snapshotMode="All" visible="false" batchMode="Standalone"/>
      </properties>
    </add>
    <add name="AUCBase" defaultTab="BasicInfo">
      <properties>
        <add name="DisplayName" displayName="显示名称" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4" batchMode="Standalone"/>
        <add name="Comment" displayName="注释" category="注释" tab="BasicInfo"  maxLength="255" type="String" snapshotMode="All" sortOrder ="4" />
      </properties>
    </add>
    <!--管理架构-->
    <add name="AUSchemaBase" defaultTab="BasicInfo">
      <properties>
        <add name="Name" displayName="名称" tab="BasicInfo" isRequired="True" maxLength="64" type="String" snapshotMode="All" editorKey="PObjectNameEditor" sortOrder ="3" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="长度在1到64之间，不能含有'\'，不能以空格开头和结尾。">
              <parameters>
                <add name="pattern" type="String" paramValue="^([^\s\\])$|^([^\s\\][^\\]{0,62}[^\s\\])$" />
              </parameters>
            </add>
            <add name="AUSchemaNameValidator" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Validators.AUSchemaNameValidator, MCS.Library.SOA.DataObjects.Security.AUObjects" messageTemplate="名称应该唯一。">
              <parameters>
              </parameters>
            </add>
          </validators>
        </add>
        <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="20" description="唯一，可读的名称。用于用户的登录名或标识" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="不能包括\/[]:;|=,+*?&lt;&gt; ，且长度在1到20之间">
              <parameters>
                <add name="pattern" type="String" paramValue="^[^\/\\\[\]\:\;\|\=\,\+\*\?\&lt;\&gt;\s]{1,20}$" />
              </parameters>
            </add>
            <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="CategoryID" displayName="类别ID" tab="BasicInfo" editorKey="SchemaCategoryEditor" type="String" maxLength="20" description="此管理架构所属的分类" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name ="CategoryIDValidator" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Validators.CategoryIDValidator, MCS.Library.SOA.DataObjects.Security.AUObjects" messageTemplate="{0}的架构分类无效。" >
              <parameters>
              </parameters>
            </add>
          </validators>
        </add>
        <add name="Scopes" displayName="管理范围类别" tab="BasicInfo" editorKey="AdminScopeEditor" type="String" maxLength="400" description="此管理架构的管理范围，逗号分隔" isRequired="False" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name ="AUSchemaAdminScopeValidator" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Validators.AUSchemaAdminScopeValidator, MCS.Library.SOA.DataObjects.Security.AUObjects" messageTemplate="{0}包含无效或重复的管理范围定义{1}" >
              <parameters>
              </parameters>
            </add>
          </validators>
        </add>
        <add name="MasterRole" displayName="管理角色" tab="BasicInfo" editorKey="RoleGraphPropertyEditor" visible="true" type="String" maxLength="128" description="此架构管理员的角色" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="管理角色名称必须为由:分隔的半角英文数字字符">
              <parameters>
                <add name="pattern" type="String" paramValue="^\w+:\w+$" />
              </parameters>
            </add>
          </validators>
        </add>
      </properties>
    </add>
    <add name="AUSchemaRoleBase" defaultTab="BasicInfo">
      <properties>
        <add name="Name" displayName="名称" tab="BasicInfo" isRequired="True" maxLength="64" type="String" snapshotMode="All" editorKey="PObjectNameEditor" sortOrder ="1" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="长度在1到64之间，不能含有'\'，不能以空格开头和结尾。">
              <parameters>
                <add name="pattern" type="String" paramValue="^([^\s\\])$|^([^\s\\][^\\]{0,62}[^\s\\])$" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="CodeName" displayName="代码名称" isRequired="True" maxLength="64" tab="BasicInfo" editorKey="CodeNameUniqueEditor" visible="true" description="代码名称" type="String" snapshotMode="All" sortOrder ="2" batchMode="Standalone">
          <validators>
            <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
      </properties>
    </add>
    <add name="AURoleBase" defaultTab="BasicInfo">
      <properties>
        <add name="SchemaRoleID" displayName="对应的管理架构角色ID" tab="BasicInfo" editorKey="" maxLength="36" description="管理架构中对应的角色的ID" type="String" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <!--暂时无法校验-->
          </validators>
        </add>
      </properties>
    </add>
    <add name="AdminUnitBase" defaultTab="BasicInfo">
      <properties>
        <add name="Name" displayName="名称" tab="BasicInfo" isRequired="True" maxLength="64" type="String" snapshotMode="All" editorKey="PObjectNameEditor" sortOrder ="3" batchMode="Standalone">
          <validators>
            <add name="RegexValidator" type="MCS.Library.Validation.RegexValidator, MCS.Library" messageTemplate="长度在1到64之间，不能含有'\'，不能以空格开头和结尾。">
              <parameters>
                <add name="pattern" type="String" paramValue="^([^\s\\])$|^([^\s\\][^\\]{0,62}[^\s\\])$" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="CodeName" displayName="代码名称" tab="BasicInfo" editorKey="CodeNameUniqueEditor" maxLength="36" visible="true" description="" type="String" isRequired="True" snapshotMode="All" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name ="CodeNameUniqueValidator" type="MCS.Library.SOA.DataObjects.Security.Validators.CodeNameUniqueValidator, MCS.Library.SOA.DataObjects.Security" messageTemplate="{0}标识不唯一。名称：{1}; ID {2}" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="AUSchemaID" displayName="管理架构" tab="BasicInfo" editorKey="" maxLength="36" visible="false" description="" type="String" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name ="AUSchemaIDValidator" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Validators.AUSchemaIDValidator, MCS.Library.SOA.DataObjects.Security.AUObjects" messageTemplate="{0}的架构ID无效" >
              <parameters>
                <add name="includingDeleted" type="Boolean" paramValue="True" />
              </parameters>
            </add>
          </validators>
        </add>
        <add name="AllowAclInheritance" displayName="是否允许继承容器的权限" type="Boolean" snapshotMode="IsInSnapshot" defaultValue="true" visible="true"/>

        <add name="ArchiveCity" displayName="归档城市" tab="Archive" editorKey="" maxLength="36" visible="true" description="归档城市" type="String" isRequired="True" snapshotMode="None" sortOrder ="5" batchMode="Standalone">
          <validators>

          </validators>
        </add>
      </properties>
    </add>
    <add name="AUAdminScopeBase" default="BasicInfo">
      <properties>
        <add name="ScopeSchemaType" displayName="管理范围类型" tab="BasicInfo" editorKey="" maxLength="36" description="管理范围类型" type="String" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="5" batchMode="Standalone">
          <validators>
            <add name ="AUAdminScopeValidator" type="MCS.Library.SOA.DataObjects.Security.AUObjects.Validators.AUAdminScopeValidator, MCS.Library.SOA.DataObjects.Security.AUObjects" messageTemplate="{0}管理范围类别无效" >
              <parameters>
              </parameters>
            </add>
          </validators>
        </add>
      </properties>
    </add>
    <add name="ScopeItemBase" default="BasicInfo">
      <properties>
        <add name="AUScopeItemName" displayName="可分辨名称" tab="BasicInfo" editorKey="" maxLength="36" description="可分辨名称" type="String" isRequired="True" snapshotMode="IsInSnapshot" sortOrder ="6" batchMode="Standalone">
          <validators>
          </validators>
        </add>
      </properties>
    </add>
    <add name="AdminScope001Base" default="BasicInfo">
      <properties>
        <add name="Search1" displayName="Search1" tab="BasicInfo" editorKey="" maxLength="36" description="-" type="String" isRequired="True" snapshotMode="None" sortOrder ="5" batchMode="Standalone">
          <validators>

          </validators>
        </add>
      </properties>
    </add>
    <add name="AdminScope002Base" default="BasicInfo">
      <properties>
        <add name="Search2" displayName="Search2" tab="BasicInfo" editorKey="" maxLength="36" description="-" type="String" isRequired="True" snapshotMode="None" sortOrder ="5" batchMode="Standalone">
          <validators>

          </validators>
        </add>
      </properties>
    </add>
  </groups>
</schemaPropertyGroupSettings>