<serverInfoConfigSettings>
	<serverInfos>
		<add name="dc" serverName="10.0.8.82" identityName="domainUser" port="0" authenticateType="NTLM"/>
		<add name="smtp" serverName="exmbsrv.sinooceanland.com" identityName="smtpSender" port="25" authenticateType="Basic"/>
	</serverInfos>
</serverInfoConfigSettings>