<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
        <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions" />
        <section name="jsonConverterRegisterSettings" type="MCS.Web.Library.Script.Configuration.JsonConverterRegisterSettings, MCS.Web.Library.Script.Json"/>
    </configSections>
    <wfServiceContractMapSettings>
        <maps>
            <add serviceName="WfOperationServices.Services.ProcessDescriptorService" contractName="MCS.Library.WF.Contracts.Operations.IWfClientProcessDescriptorService" debug="true" atlasEnabled="true" />
            <add serviceName="WfOperationServices.Services.ProcessRuntimeService" contractName="MCS.Library.WF.Contracts.Operations.IWfClientProcessRuntimeService" debug="true" atlasEnabled="true" />
        </maps>
    </wfServiceContractMapSettings>
    <jsonConverterRegisterSettings>
        <registers>
            <add name="wfClientConverters" type="MCS.Library.WF.Contracts.Json.Converters.WfClientJsonConverterHelper, MCS.Library.WF.Contracts.Json"/>
        </registers>
    </jsonConverterRegisterSettings>
    <appSettings>
        <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1" />
    </system.web>
</configuration>
