<appPathSettings>
	<paths>
		<add name="GenericProcess" dir="C:\SinooceanProject\UploadFiles" />
		<add name="Portal" dir="C:\SinooceanProject\UploadFiles" />
		<add name="ArchiveFiles" dir="C:\SinooceanProject\ArchiveFiles" />

		<!-- 上传文件路径，根据需要修改 -->
		<add name="UploadRootPath" dir="C:\SinooceanProject\UploadFiles" />
		<!-- 副本文件路径，根据需要修改 -->
		<add name="copyUploadRootPath" dir="C:\SinooceanProject\UploadFilesCopy" />

	</paths>
</appPathSettings>