<auServiceClientSettings useLocalCache="true" useServerCache="true" timeout="00:01:30">
	<paths>
		<clear/>
		<add name="queryServiceAddress" uri="http://localhost/MCSWebApp/AUCenterServices/Services/AUCenterQueryService.asmx" />
		<add name="updateServiceAddress" uri="http://localhost/MCSWebApp/AUCenterServices/Services/AUCenterUpdateService.asmx" />
	</paths>
	<connectionMappings>
		<!--<add name="AdminUnit" destination="AdminUnitTest"/>-->
	</connectionMappings>
</auServiceClientSettings>