<cfcaControlConfigSetting path="http://localhost:18275/CFCA/CryptoKit.demo.x86.cab#version=3,0,0,20"
                            clsid="A018D0EB-121B-4CD8-B712-78D09B207BBC" isverifysignature="false"
                            subjectdn="sinooceanland@seagull2" issuerdn=""
                            cachain="D:\CFCACERLIST\cfca rca.cer|D:\CFCACERLIST\cfca test rca.cer"
                            crlfilename ="" verifyflag="0">
  </cfcaControlConfigSetting>