<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="mcs.library.metaConfig" type="MCS.Library.Configuration.MetaConfigurationSectionGroup, MCS.Library">
			<section name="sourceMappings" type="MCS.Library.Configuration.MetaConfigurationSourceInstanceSection, MCS.Library"/>
		</sectionGroup>
	</configSections>

	<mcs.library.metaConfig>
		<sourceMappings>
			<!-- section -->
			<instances>
				<!-- element collection-->
				<add name="MCS2013" path="%MCS2013ConfigDir%\MCS.Framework.Config" mode="web">
					<applications>
						<add app="/MCSWebApp/" />
					</applications>
				</add>
				<add name="MCSServiceMain" path="%MCS2013ConfigDir%\MCS.Framework.Config" mode="win">
					<applications>
						<add app="C:\" />
						<add app="D:\" />
						<add app="E:\" />
						<add app="F:\" />
						<add app="G:\" />
						<add app="H:\" />
						<add app="I:\" />
						<add app="J:\" />
						<add app="L:\" />
					</applications>
				</add>
			</instances>
		</sourceMappings>

	</mcs.library.metaConfig>

</configuration>
