<mossServerInfoConfigSettings>
	<servers>
		<!-- 原来文档中心
        <add name="documentServer" serverName="http://moss2010dev" port="0" searchServiceUrl="_vti_bin/search.asmx"
         identityName="documentServer" baseUri="http://moss2010dev" documentLibraryName="文档" logListName="操作日志"/>-->


		<add name="documentServer"  serverName="http://testdoccenter" port="0" searchServiceUrl="_vti_bin/search.asmx" identityName="documentServer" baseUri="http://testdoccenter" documentLibraryName="documentCenter" logListName="Log"/>
		<add name="material"  serverName="http://10.0.9.51:9527" port="9527" searchServiceUrl="_vti_bin/search.asmx" identityName="documentServer" baseUri="http://10.0.9.51:9527" documentLibraryName="SubjectDB" logListName="Log"/>
	</servers>
</mossServerInfoConfigSettings>