@charset "utf-8";

/*排序器*/
/*.mcsc-drop-sorter-container { position:relative; z-index:4; padding:0;}*/
.mcsc-drop-sorter{ position:relative;z-index:8; line-height:12px; clear:both; }
.mcsc-drop-sorter ul{  display:block; margin: 0 0.2em; position: relative; vertical-align: text-top; z-index:5; }
.mcsc-drop-sorter ul{ background: -moz-linear-gradient(50% 0 , #FFFFFF, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    height: 17px;
    min-width: 2em;
    overflow: hidden; }
.mcsc-drop-sorter ul li{ line-height:13px; }
.mcsc-seldown {  border-left: 1px solid #CCCCCC;
    height: 16px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 15px; }
.mcsc-seldown .mcsc-arrow{ border-color: #A6A6A6 #F3F3F3 #FFFFFF;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    left: 49%;
    line-height: 0;
    margin-left: -4px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 0;}
.mcsc-seldown a
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #404040;
    display: block;
    font-size: 12px;
    height: 22px;
    line-height: 20px;
    padding: 0 4px;
    text-decoration: none;
    vertical-align: text-bottom;
    white-space: nowrap;
    display:block;
}
.mcsc-banner{ display:block; padding:2px; padding-left:10px; height: 32px; background-color: #EFEFEF; background-image:url(<%=WebResource("MCS.Web.WebControls.GridColumnSorter.bannerbg.gif")%>);  background-repeat: repeat-x; background-attachment: scroll; white-space:nowrap;}
.mcsc-clear { clear:both; }
.mcsc-sort-rule { margin-left:5px; line-height:12px; line-height:18px;}
.mcsc-drop-sorter .mcsc-drop-container-wrapper{ position:relative; }
.mcsc-drop-sorter .mcsc-drop-container { position:absolute; padding:0; line-height:20px; border: 1px solid #A6A6A6; box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); display:none; width:400px; background:#f0f0f0 url(<%=WebResource("MCS.Web.WebControls.GridColumnSorter.bgw.png")%>) repeat scroll 0 0; z-index:5; }
.mcsc-drop-sorter .right { right:5px;}
.mcsc-drop-sorter .left { left:5px;}
.mcsc-drop-sorter .mcsc-drop-container dl { list-style:none; padding:5px; }
.mcsc-drop-sorter .mcsc-drop-container dl dd { width:30%; padding:5px; float:left;}
.hover .mcsc-drop-container { display:block; }

.mcsc-drop-sorter .mcsc-sort-asc a,mcsc-sort-desc a { display:inline-block; padding-right:16px; line-height:16px; background:transparent url(<%=WebResource("MCS.Web.WebControls.GridColumnSorter.sorttag.png")%>) no-repeat scroll; }
.mcsc-drop-sorter .mcsc-sort-asc a{ background-position:right 0;  }
.mcsc-drop-sorter .mcsc-sort-desc a { background-position:right -32px; }

i.mcsc-sort-asc ,i.mcsc-sort-desc
{
    display:inline-block;
    border-style: solid;
    height: 0;
    left: 49%;
    line-height: 0;
    width: 0;
    margin-left:5px;
    vertical-align: middle;
}
i.mcsc-sort-asc { border-width: 0px 4px 4px; border-color: #F3F3F3 #FFFFFF #A6A6A6; }
i.mcsc-sort-desc { border-width: 4px 4px 0; border-color: #A6A6A6 #F3F3F3 #FFFFFF; }