.ajax_deluxeselect_button
{
	border-right: #7b9ebd 1px solid;
	padding-right: 2px;
	border-top: #7b9ebd 1px solid;
	padding-left: 2px;
	font-size: 12px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
	border-left: #7b9ebd 1px solid;
	cursor: hand;
	color: black;
	padding-top: 2px;
	border-bottom: #7b9ebd 1px solid;
	width:60px;
	margin:4px;
}
.ajax_deluxeselect_select
{
	border:1px #004080 solid;float: left;
}
.ajax_deluxeselect_select_div
{
	
}
.ajax_deluxeselect_select_div_select
{
	display:block;
	float:left;
	font-family:Verdana,Arial; 
	font-size: 10pt;
	margin-top:-3px;		
	margin-bottom : -7px;
	margin-left:-3px;
	margin-right : -3px;
}
.ajax_deluxeselect_movebutton
{ 
	font-weight :bold;
	border-right: #7b9ebd 1px solid;
	padding-right: 2px;
	border-top: #7b9ebd 1px solid;
	padding-left: 2px;
	font-size: 12px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
	border-left: #7b9ebd 1px solid;
	cursor: hand;
	color: black;
	padding-top: 2px;
	border-bottom: #7b9ebd 1px solid;
	margin:2px;
}
.ajax_deluxeselect_td
{ 
	vertical-align:middle;
}
	




