.ajax__tree_nodetext
{
	font-family: simsun;
	font-size: 14px;
	font-weight: normal;
	cursor: hand;
}

.ajax__tree_nodetext_selected
{
	font-family: simsun;
	font-size: 14px;
	background-color: Navy;
	font-weight: normal;
	color: White;
	cursor: hand;
}

.ajax__tree_nodeimg
{
}
