<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jsonConverterRegisterSettings" type="MCS.Web.Library.Script.Configuration.JsonConverterRegisterSettings, MCS.Web.Library.Script.Json"/>
        <!--测试专用节点，通过配置，可以影响服务器端连接数据库的设置-->
        <section name="wfServiceInvokerSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceInvokerSettings, MCS.Library.WcfExtensions"/>
        <section name="wfContractsProxySettings" type="MCS.Library.WF.Contracts.Proxies.Configuration.WfContractsProxySettings, MCS.Library.WF.Contracts.Proxies"/>
        <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
        <section name="tenantContextSettings" type="MCS.Library.Configuration.TenantContextSettings, MCS.Library" />
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
    </configSections>
    <tenantContextSettings enabled="true" defaultTenantCode="D5561180-7617-4B67-B68B-1F0EA604B509" />
    <wfContractsProxySettings>
        <paths>
            <add name="processDescriptorService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessDescriptorService.svc"/>
            <add name="processRuntimeService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessRuntimeService.svc"/>
            <add name="dataSourceService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/DataSourceService.svc"/>
        </paths>
    </wfContractsProxySettings>
    <wfServiceInvokerSettings>
        <connectionMappings>
            <add name="HB2008" destination="HB2008_TEST" />
        </connectionMappings>
    </wfServiceInvokerSettings>
    <jsonConverterRegisterSettings>
        <registers>
            <add name="wfClientConverters" type="MCS.Library.WF.Contracts.Json.Converters.WfClientJsonConverterHelper, MCS.Library.WF.Contracts.Json"/>
        </registers>
    </jsonConverterRegisterSettings>
    <!-- 机构人员和授权管理访问相关配置信息 -->
    <oguPermissionSettings rootOUPath="机构人员">
        <paths>
            <!--机构人员访问的Service地址，按实际情况修改-->
            <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
            <!--授权管理访问的Service地址，按实际情况修改 -->
            <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
        </paths>
        <!--获取顶级部门映射-->
        <topOUMapping level="5">
        </topOUMapping>
        <typeFactories>
            <!--实现机构人员操作的工厂类-->
            <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
            <!--实现授权操作的工厂类-->
            <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
        </typeFactories>
    </oguPermissionSettings>
    <jsonSerialization maxJsonLength="4194304">
    </jsonSerialization>
</configuration>