<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
	</configSections>
	<connectionManager>
		<connectionStrings>
			<add name="StepByStep" connectionString="server=MCSFramework;database=StepByStep;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="AccreditAdmin" connectionString="server=MCSFramework;database=SinoOceanOgus;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="PageViewState" connectionString="server=MCSFramework;database=HB2008_Params_SinoOcean;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="HB2008" connectionString="server=MCSFramework;Database=MCS_WORKFLOW;Integrated Security=True" providerName="System.Data.SqlClient"/>
			<add name="UserRelativeInfo" connectionString="server=MCSFramework;database=HB2008_Params_SinoOcean;Integrated Security=True" providerName="System.Data.SqlClient"/>
		</connectionStrings>
		<dataProviders>
			<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
			<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
			<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
		</dataProviders>
	</connectionManager>
	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCSConfigDir%\MCS.ConfigMapping.config" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
		<httpRuntime requestValidationMode="2.0" />
	</system.web>
	<system.webServer>
		<modules>
			<add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
		</modules>
	</system.webServer>
</configuration>
