<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10485760" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <webServices>
      <soapExtensionTypes>
        <add type="AUCenterServices.Services.AUCacheSoapExtension, AUCenterServices" priority="2" group="High"/>
      </soapExtensionTypes>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>

  <authenticateDirSettings defaultAnonymous="true">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
      <add location="~/Anonymous/*.aspx"/>
    </anonymousDirs>
    <authorizationDirs>
      <!--<add location="~/AuthorizationPages/roleConfigPortalAdminAcess.aspx?processKey=*" roles="OAPORTAL:FORM_QUERY_ADMIN"/>
				<add location="~/AuthorizationPages/roleConfigPortalAdminAcess.aspx?processAdmin*" rolesDefineName="ProcessAdmin"/>-->
    </authorizationDirs>
    <typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
    </typeFactories>
  </authenticateDirSettings>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
    </modules>
  </system.webServer>
</configuration>
