<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
    <section name="rolesDefineConfig" type=" MCS.Library.Passport.RolesDefineConfig,  MCS.Library.Passport" />
    <sectionGroup name="deluxe.web" type="MCS.Web.Library.DeluxeWebSectionGroup, MCS.Web.Library">
      <section name="pageContent" type="MCS.Web.Library.PageContentSection, MCS.Web.Library"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCSConfigDir%\MCS.ConfigMapping.config"/>
  </appSettings>
  <authenticateDirSettings defaultAnonymous="false">
    <authenticateDirs>
    </authenticateDirs>
    <anonymousDirs>
      <!--<add location="~/Anonymous/*.aspx"/>-->
    </anonymousDirs>
    <!--<typeFactories>
      <add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
    </typeFactories>-->
  </authenticateDirSettings>

  <rolesDefineConfig>
    <rolesDefine>
      <!--<add name="FormQuery" description="管理员" roles="HB2008Portal:PORTAL_ADMIN"/>-->
      <!--<add name="AddressAdmin" description="通讯录管理员" roles="ADDRESS_ADMIN:ADMIN"/>-->
    </rolesDefine>
  </rolesDefineConfig>

  <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="CustomConfig"/>
      <add name="CustomConfig" verb="*" path="*.asmx"/>
      <add name="webService" verb="*" path="*.asmx"   type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="appService" verb="*" path="*_AppService.axd"   type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="scriptResource" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <modules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
    </modules>
  </system.webServer>
</configuration>
