<?xml version="1.0"?>
<!--这是采用DeluxePassport登录配置的内容
要求：
	1、无须部署Passport Service；
	2、IIS中的目录设置为不允许匿名访问，同时要求“Windows集成认证”；
	3、对于需要匿名访问的folder或者File需要在IIS上设置,以下目录需要设置
		1、exports
		2、htc
		3、images
		4、oguScript
		5、selfscript
		6、Services
		7、sysSearch
		8、Test
		9、css
		10、XML
		11、XSD
	4、配置节点说明：
		1）、passportClientSettings不需要；
		2）、passportEncryptionSettings可选，用户数据身份的校验的处理；
		3）、oguPermissionSettings必须，用于登录身份的校验过程中的数据获取，检验身份处理；
		4）、authenticateDirSettings可选配置，如果当前应用中存在非登录要求页面，在该配置节设置，如果没有可不用配置，这里需要注意与IIS的设置相同；
		5）、impersonateSettings可选配置；
-->
<configuration>
	<configSections>
		<section name="daabProviders" type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data"/>
		<section name="dbConnStrProviders" type="HG.HGSupport.Server.DAABConnStrHandler,HGSupport.Server"/>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
	</configSections>
	<daabProviders>
		<daabProvider alias="System.Data.SqlClient.SqlConnection" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer"/>
	</daabProviders>
	<dbConnStrProviders>
		<dbConnStrProvider alias="AccreditAdmin" connString="Data Source=(local);Initial Catalog=AccreditAdmin;Integrated Security=SSPI;"/>
		<dbConnStrProvider alias="LOG" connString="Data Source=(local);Initial Catalog=HG_LOG;Integrated Security=SSPI;"/>
		<!--<dbConnStrProvider alias="AccreditAdmin" connString="server=.;uid=sa;pwd=11111;database=AccreditAdmin" />-->
		<!--<dbConnStrProvider alias="LOG" connString="server=.;uid=sa;pwd=11111;database=Log" />-->
	</dbConnStrProviders>
	<exceptionManagement mode="on">
		<publisher assembly="HGSupport.Common" type="HG.HGSupport.Common.ExceptionPublisher" fileName="c:\OALOG\QuickStartSamplesExceptionLog.txt"/>
	</exceptionManagement>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs />
		<anonymousDirs>
			<add location="~/Services/OGUReaderService.asmx"/>
			<add location="~/Test/*.aspx" />
			<add location="~/exports/*.aspx" />
			<add location="~/sysSearch/*.aspx" />
		</anonymousDirs>
	</authenticateDirSettings>
	<oguPermissionSettings >
		<paths>
			<add name="oguServiceAddress" uri="http://127.0.0.1/accreditAdmin/services/OGUReaderService.asmx" />
			<add name="appAdminServiceAddress" uri="http://127.0.0.1/AppAdmin/exports/AppSecurityCheckService.asmx" />
		</paths>
		<topOUMapping>
		</topOUMapping>
		<typeFactories>
			<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
			<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
		</typeFactories>
	</oguPermissionSettings>
	<appSettings>
		<!--add key="OGURootName" value="中国海关\01海关总署" /-->
		<add key="OGURootName" value="中国海关"/>
		<add key="CustomsAuthentication" value="true"/>
		<add key="AutohideType" value="autoHide"/>
		<!--多个之间采用“,”分隔-->
		<add key="ImpersonateUser" value="./xml/ImpersonateUser.xml" />
		<!--<add key="OGUXsdPath" value="E:\secWWW\AccreditAdmin\xsd" />-->
		<add key="MaskObjects" value="./xml/HideTypes.xml"/>
		<add key="ShowErrorDebug" value="false"/>
		<add key="ShowErrorImg" value="/AccreditAdmin/images/32/stopLogo.gif"/>
		<add key="GroupUsersPageSize" value="20"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
		<httpModules>
			<!--这里指定应用请求处理时候的身份处理-->
			<add type="MCS.Library.Passport.WindowsAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule" />
		</httpModules>
	</system.web>
</configuration>
