<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="passportSignInSettings" type="MCS.Library.Passport.PassportSignInSettings, MCS.Library.Passport" />
		<section name="passportClientSettings" type="MCS.Library.Passport.PassportClientSettings, MCS.Library.Passport"/>
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission"/>
		<sectionGroup name="chinaCustoms.framework.deluxeWorks.data" type="MCS.Library.Data.Configuration.DbConfigurationSectionGroup, MCS.Library.Data">
			<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
			<section name="transactions" type="MCS.Library.Data.Configuration.TransactionConfigurationSection, MCS.Library.Data"/>
		</sectionGroup>
		<section name="cacheSettings" type="MCS.Library.Caching.CacheSettingsSection, MCS.Library"/>
		<section name="accreditSection" type="MCS.Library.Accredit.Configuration.AccreditSection,MCS.Library.Accredit"/>
		<section name="baseWebPageSection" type="MCS.Library.Accredit.Configuration.BaseWebSection,MCS.Library.Accredit"/>
	</configSections>
	<chinaCustoms.framework.deluxeWorks.data>
		<connectionManager>
			<connectionStrings>
				<add name="AccreditAdmin" connectionString="Data Source=.;Initial Catalog=Accreditadmin_Gome;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
				<add name="LOG" connectionString="Data Source=.;Initial Catalog=AppAdmin_LOG_Gome;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
				<add name="DeluxeWorksPassport" connectionString="Data Source=.;Initial Catalog=HB2008_Gome;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
			</connectionStrings>
			<dataProviders>
				<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
			</dataProviders>
		</connectionManager>
		<!--默认的超时时间为60000ms  "00:10:00"， 交易隔离度为RC-->
		<transactions timeout="00:30:00" isolationLevel="ReadCommitted"/>
	</chinaCustoms.framework.deluxeWorks.data>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs/>
		<anonymousDirs>
			<add location="~/Services/OGUReaderService.asmx"/>
			<add location="~/Test/*.aspx"/>
			<add location="~/exports/*.aspx"/>
			<add location="~/sysSearch/*.aspx"/>
			<add location="~/PassportLogon.aspx"/>
		</anonymousDirs>
	</authenticateDirSettings>
	<accreditSection>
		<accreditSettings>
			<add name="autohideType" description="autoHide"/>
			<add name="maskObjects" description="./xml/HideTypes.xml"/>
			<add name="impersonateUser" description="./xml/ImpersonateUser.xml"/>
			<add name="curDepartLevel" description="0"/>
			<add name="oguRootName" description="中国海关"/>
			<!--激活自定义授权，默认为 true-->
			<add name="customsAuthentication" description="true"/>
			<!--默认人员组中一个页面展示的人数， 默认 20-->
			<add name="groupUsersPageSize" description="20"/>
			<!--缓存存储滑动时间 默认 10天-->
			<add name="cacheSlideMinutes" description="14400"/>
			<add name="appListMaxCount" description="150"/>
			<!--是否记录Soap，默认为false-->
			<add name="soapRecord" description="false" />
			<!-- 是否记录Soap请求内容,默认为false,与soapRecord配合一起使用 -->
			<add name="soapRecordInput" description="false" />
			<!-- 是否记录Soap响应内容,默认为false,与soapRecord配合一起使用 -->
			<add name="soapRecordOutput" description="false" />
		</accreditSettings>
	</accreditSection>
	<baseWebPageSection showErrorDebug="false" errorImgUrl=""/>
	<cacheSettings scanvageInterval="10" defaultQueueLength="5000" >
		<queueSettings>
			<!--控制基本原则：机构人员的维护会影响到授权，授权的维护不能影响机构-->
			<!--机构人员缓存项-->
			<!--该数据项不更新，永久生效【刷新无效】，除非重新启动-->
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetRootDSEQueue" queueLength="5"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetRankDefineQueue" queueLength="10"/>
			<!--专项更新，直接定位到每一个缓存项-->
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetLeadersOfSecretariesQueue" queueLength="100"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetSecretariesOfLeadersQueue" queueLength="100"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetDirectCustomsQueue" queueLength="200"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetSubjectionCustomsQueue" queueLength="500"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetGroupsOfUsersQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetUsersInGroupsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.SignInCheckQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.LogOnUserInfoQueue" queueLength="500"/>
			<!--比较混乱的参数，不能直接定位，需要统一刷新-->
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.CheckUserInObjectsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetAllUsersInAllObjectsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetIndependOrganizationOfUserQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetObjectDepOrgsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetObjectParentOrgsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetObjectsSortQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetOrganizationChildrenQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.IsUserInObjectsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.QueryOGUByConditionQueue" queueLength="5000"/>
			<!--并发量 最大的 数据访问-->
			<add typeName="MCS.Library.Accredit.OguAdmin.Caching.GetObjectsDetailQueue" queueLength="10000"/>
			
			<!--授权信息缓存项-->
			<!--该数据项不更新，永久生效【刷新无效】，除非重新启动-->
			<!--专项更新，直接定位到每一个缓存项-->
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.IsAdminUserQueue" queueLength="100"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetApplicationsQueue" queueLength="5"/>
			<!--专项更新，能够区分 当前应用 Application-->
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetRolesQueue" queueLength="100"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetFunctionsQueue" queueLength="100"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetRolesUsersQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetChildrenInRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetDepartmentAndUserInRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetOriginalUserQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetDelegatedUserQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetFunctionsUsersQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.IsUserInRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.IsUserInAllRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.DoesUserHasPermissionsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.DoesUserHasAllPermissionsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserRolesQueue" queueLength="10000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserPermissionsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserAllowDelegteRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserRolesScopesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserFunctionsScopesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetFunctionsRolesQueue" queueLength="5000"/>
			<!--比较混乱的参数，不能直接定位，需要统一刷新-->
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetAllOriginalUserQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetAllDelegatedUserQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.CommonCoreQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserApplicationsQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserApplicationsRolesQueue" queueLength="5000"/>
			<add typeName="MCS.Library.Accredit.AppAdmin.Caching.GetUserApplicationsForDelegationQueue" queueLength="5000"/>
			<!--并发量 最大的 数据访问-->
		</queueSettings>
	</cacheSettings>
	<passportClientSettings appID="AccreditAdmin" appSignInTimeout="-2" appSlidingExpiration="12000">
		<paths>
			<!--<add name="signInUrl" uri="~/PassportLogon.aspx"/>-->
			<add name="signInUrl" uri="http://localhost/GomeWebApp/PassportService/Anonymous/SignInPage.aspx"/>
			<add name="logOffUrl" uri="http://localhost/GomeWebApp/PassportService/Anonymous/LogOffPage.aspx"/>
			<add name="logOffCallBackUrl" uri="~/DeluxeWorksAuthenticateLogOff.axd"/>
		</paths>
		<typeFactories>
			<add name="userImpersonateLoader" type=""/>
		</typeFactories>
		<rsaKeyValue>
			<Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
			<Exponent>AQAB</Exponent>
			<P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
			<Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
			<DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
			<DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
			<InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
			<D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
		</rsaKeyValue>
	</passportClientSettings>
	<oguPermissionSettings>
		<paths>
			<add name="oguServiceAddress" uri="http://localhost/GomeWebApp/accreditAdmin/services/OGUReaderService.asmx"/>
			<add name="appAdminServiceAddress" uri="http://localhost/GomeWebApp/AppAdmin/exports/AppSecurityCheckService.asmx"/>
		</paths>
		<topOUMapping>
		</topOUMapping>
		<typeFactories>
			<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
			<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
		</typeFactories>
	</oguPermissionSettings>
	<passportSignInSettings defaultTimeout="-2" slidingExpiration="12000" >
		<typeFactories>
			<add name="authenticator" type="MCS.Library.Passport.DefaultAuthenticator, MCS.Library.Passport" />
			<!--<add name="authenticator" type="ChinaCustoms.WebApp.YJJKNet.SupportLibrary.Web.UsbKeyAuthenticator, SupportLibrary" />-->
			<add name="persistSignInInfo" type="MCS.Library.Passport.DataAdapter, MCS.Library.Passport" />
		</typeFactories>
		<rsaKeyValue>
			<Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
			<Exponent>AQAB</Exponent>
		</rsaKeyValue>
	</passportSignInSettings>
	<appSettings/>
	<system.web>
		<compilation defaultLanguage="c#" debug="false">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="None"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
		<machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="AutoGenerate,IsolateApps" decryption="Auto" validation="SHA1"/>
		<httpModules>
			<add type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule"/>
			<!--<add type="MCS.Library.Passport.WindowsAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule" />-->
			<add type="MCS.Library.Caching.CacheModule, MCS.Library" name="DeluxeWorksCacheModule"/>
		</httpModules>
		<webServices>
			<soapExtensionTypes>
				<add type="MCS.Library.Accredit.SoapControl.SoapTraceExtension, MCS.Library.Accredit" priority="1" group="High"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>
</configuration>