<?xml version="1.0"?>
<!--这是采用DeluxePassport登录配置的内容
要求：
	1、必须部署Deluxeworks体系的Passport Service提供系统单点登录；
	2、IIS中的目录设置为可匿名访问；
	3、配置节点说明：
		1）、passportClientSettings必须，用于构建用户身份以及识别用户身份；
		2）、passportEncryptionSettings可选，用户数据身份的校验的处理；
		3）、oguPermissionSettings必须，用于登录身份的校验过程中的数据获取，检验身份处理；
		4）、authenticateDirSettings可选配置，如果当前应用中存在非登录要求页面，在该配置节设置，如果没有可不用配置；
		5）、impersonateSettings可选配置；
-->
<configuration>
	<configSections>
		<section name="daabProviders" type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data"/>
		<section name="dbConnStrProviders" type="HG.HGSupport.Server.DAABConnStrHandler,HGSupport.Server"/>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
		<section name="passportClientSettings" type="MCS.Library.Passport.PassportClientSettings, MCS.Library.Passport" />
		<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport" />
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
	</configSections>
	<daabProviders>
		<daabProvider alias="System.Data.SqlClient.SqlConnection" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer"/>
	</daabProviders>
	<dbConnStrProviders>
		<dbConnStrProvider alias="AccreditAdmin" connString="Data Source=(local);Initial Catalog=AccreditAdmin;Integrated Security=SSPI;"/>
		<dbConnStrProvider alias="LOG" connString="Data Source=(local);Initial Catalog=HG_LOG;Integrated Security=SSPI;"/>
		<!--<dbConnStrProvider alias="AccreditAdmin" connString="server=.;uid=sa;pwd=11111;database=AccreditAdmin" />-->
		<!--<dbConnStrProvider alias="LOG" connString="server=.;uid=sa;pwd=11111;database=Log" />-->
	</dbConnStrProviders>
	<exceptionManagement mode="on">
		<publisher assembly="HGSupport.Common" type="HG.HGSupport.Common.ExceptionPublisher" fileName="c:\OALOG\QuickStartSamplesExceptionLog.txt"/>
	</exceptionManagement>
	<authenticateDirSettings defaultAnonymous="false">
		<authenticateDirs />
		<anonymousDirs>
			<add location="~/Services/OGUReaderService.asmx"/>
			<add location="~/Test/*.aspx" />
			<add location="~/exports/*.aspx" />
			<add location="~/sysSearch/*.aspx" />
		</anonymousDirs>
	</authenticateDirSettings>
	<passportClientSettings appID="AccreditAdmin" appSignInTimeout="-2" appSlidingExpiration="12000" >
		<paths>
			<add name="signInUrl" uri="http://127.0.0.1/PassportService/Anonymous/SignInPage.aspx" />
			<add name="logOffUrl" uri="http://127.0.0.1/PassportService/Anonymous/LogOffPage.aspx" />
			<add name="logOffCallBackUrl" uri="~/DeluxeWorksAuthenticateLogOff.axd" />
		</paths>
		<typeFactories>
			<add name="userImpersonateLoader" type="" />
		</typeFactories>
		<rsaKeyValue>
			<Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
			<Exponent>AQAB</Exponent>
			<P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
			<Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
			<DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
			<DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
			<InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
			<D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
		</rsaKeyValue>
	</passportClientSettings>
	<oguPermissionSettings >
		<paths>
			<add name="oguServiceAddress" uri="http://127.0.0.1/accreditAdmin/services/OGUReaderService.asmx" />
			<add name="appAdminServiceAddress" uri="http://127.0.0.1/AppAdmin/exports/AppSecurityCheckService.asmx" />
		</paths>
		<topOUMapping>
		</topOUMapping>
		<typeFactories>
			<add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
			<add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
		</typeFactories>
	</oguPermissionSettings>
	<appSettings>
		<!--add key="OGURootName" value="中国海关\01海关总署" /-->
		<add key="OGURootName" value="中国海关"/>
		<add key="CustomsAuthentication" value="true"/>
		<add key="AutohideType" value="autoHide"/>
		<!--多个之间采用“,”分隔-->
		<add key="ImpersonateUser" value="./xml/ImpersonateUser.xml" />
		<!--<add key="OGUXsdPath" value="E:\secWWW\AccreditAdmin\xsd" />-->
		<add key="MaskObjects" value="./xml/HideTypes.xml"/>
		<add key="ShowErrorDebug" value="false"/>
		<add key="ShowErrorImg" value="/AccreditAdmin/images/32/stopLogo.gif"/>
		<add key="GroupUsersPageSize" value="20"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="None"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
		<httpModules>
			<!--这里指定应用请求处理时候的身份处理-->
			<add type="MCS.Library.Passport.PassportAuthenticationModule, MCS.Library.Passport" name="DeluxeWorksPassportModule" />
		</httpModules>
	</system.web>
</configuration>
