<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
        <section name="resAppicationErrorLog" type="MCS.Web.Responsive.Library.ApplicationErrorLogSection, MCS.Web.Responsive.Library"/>
        <sectionGroup name="deluxe.web.res" type="MCS.Web.Responsive.Library.DeluxeWebSectionGroup, MCS.Web.Responsive.Library">
            <section name="resWebControls" type="MCS.Web.Responsive.Library.WebControlsSection, MCS.Web.Responsive.Library"/>
            <section name="resJsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
            <section name="resContentTypes" type="MCS.Web.Responsive.Library.ContentTypesSection, MCS.Web.Responsive.Library"/>
            <section name="resPageContent" type="MCS.Web.Responsive.Library.PageContentSection, MCS.Web.Responsive.Library"/>
            <section name="resHttpModules" type="System.Web.Configuration.HttpModulesSection, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            <section name="resPageModules" type="MCS.Web.Responsive.Library.PageModulesSection, MCS.Web.Responsive.Library"/>
            <section name="resScriptControlSection" type="MCS.Web.Responsive.Library.ScriptControlSection, MCS.Web.Responsive.Library"/>
        </sectionGroup>
    </configSections>
    <connectionManager>
        <connectionStrings>
            <add name="defaultDatabase" connectionString="Data Source=.\EXPRESS12;AttachDbFilename='|DataDirectory|MCS-SampleDB.mdf';Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        </connectionStrings>
        <dataProviders>
            <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
            <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
            <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
        </dataProviders>
    </connectionManager>
    <resAppicationErrorLog defaultLogEventType="Warning" notifyMailAddress="蒋志全&lt;jiangzhq@sinooceanland.com&gt;" httpStatusCode="200">
        <exceptionLogs>
            <add name="SqlException" logEventType="Critical"/>
            <add name="NullReferenceException" logEventType="Error"/>
            <add name="ConfigurationException" logEventType="Error"/>
        </exceptionLogs>
    </resAppicationErrorLog>
    <deluxe.web.res>
        <resJsonSerialization maxJsonLength="500">
            <converters>
                <add name="StyleCollectionConverter" type="MCS.Web.Responsive.Library.Script.StyleCollectionConverter, MCS.Web.Responsive.Library"/>
                <add name="StyleConverter" type="MCS.Web.Responsive.Library.Script.StyleConverter, MCS.Web.Responsive.Library"/>
                <add name="DataRowConverter" type="MCS.Web.Responsive.Library.Script.DataRowConverter, MCS.Web.Responsive.Library"/>
                <add name="PropertyValueConverter" type="MCS.Library.SOA.DataObjects.PropertyValueConverter, MCS.Library.SOA.DataObjects"/>
                <add name="PropertyValidatorDescriptorConverter" type="MCS.Library.SOA.DataObjects.PropertyValidatorDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="PropertyValidatorParameterDescriptorConverter" type="MCS.Library.SOA.DataObjects.PropertyValidatorParameterDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="PropertyLayoutConverter" type="MCS.Library.SOA.DataObjects.PropertyLayoutConverter, MCS.Library.SOA.DataObjects"/>
                <add name="OguRoleConverter" type="MCS.Library.SOA.DataObjects.OguRoleConverter, MCS.Library.SOA.DataObjects"/>
                <add name="OguObjectConverter" type="MCS.Library.SOA.DataObjects.OguObjectConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfParameterDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfParameterDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfActivityDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfProcessDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfProcessDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfForwardTransitionDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfForwardTransitionDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfVariableDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfVariableDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfUserResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfUserResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfConditionDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfConditionDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfDepartmentResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfDepartmentResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfGroupResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfGroupResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfDynamicResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfDynamicResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfRoleResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfRoleResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfBranchProcessTemplateDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfBranchProcessTemplateDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfActivityAssigneesResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityAssigneesResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfActivityOperatorResourceDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityOperatorResourceDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfRelativeLinkDescriptorConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfRelativeLinkDescriptorConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfExternalUserConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfExternalUserConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfControlNextStepConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfControlNextStepConverter, MCS.Library.SOA.DataObjects"/>
                <add name="UserSettingsConverter" type="MCS.Library.SOA.DataObjects.Workflow.UserSettingsConverter, MCS.Library.SOA.DataObjects"/>
                <add name="UserSettingsCategoryConverter" type="MCS.Library.SOA.DataObjects.Workflow.UserSettingsCategoryConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfAssigneeConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfAssigneeConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfActivityDescriptorCreateParamsConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfActivityDescriptorCreateParamsConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfMatrixDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfMatrixDefinitionConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfMatrixDimensionDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfMatrixDimensionDefinitionConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfNetworkCredentialConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfNetworkCredentialConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfServiceAddressDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfServiceAddressDefinitionConverter, MCS.Library.SOA.DataObjects"/>
                <add name="WfServiceOperationDefinitionConverter" type="MCS.Library.SOA.DataObjects.Workflow.WfServiceOperationDefinitionConverter, MCS.Library.SOA.DataObjects"/>
                <add name="MaterialConverter" type="MCS.Web.WebControls.MaterialConverter, MCS.Library.SOA.Web.WebControls"/>
                <add name="DeltaMaterialConverter" type="MCS.Web.WebControls.DeltaMaterialConverter, MCS.Library.SOA.Web.WebControls"/>
                <add name="MultiMaterialConverter" type="MCS.Web.WebControls.MultiMaterialConverter, MCS.Library.SOA.Web.WebControls"/>
            </converters>
        </resJsonSerialization>
        <resWebControls>
            <!--<add type="MCS.Web.WebControls.DeluxeCalendar, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeCalendar.css" />
            <add type="MCS.Web.WebControls.DeluxeGrid, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeGrid.css" />
            <add type="MCS.Web.WebControls.DeluxeMenu, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeMenu.css" />
            <add type="MCS.Web.WebControls.DeluxeSelect, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeSelect.css" />
            <add type="MCS.Web.WebControls.DeluxeTime, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeTime.css" />
            <add type="MCS.Web.WebControls.DeluxeTree, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/DeluxeTree.css" />
            <add type="MCS.Web.WebControls.GenericInputExtender, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/GenericInput.css" />
            <add type="MCS.Web.WebControls.WordPrint, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/WordPrint.css" />
            <add type="MCS.Web.WebControls.TabContainer, MCS.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/Tabs.css" />
            <add type="MCS.Web.WebControls.ClientGrid, MCS.Library.SOA.Web.WebControls" cssUrl="/MCSWebApp/Css/WebControls/ClientGrid.css" />-->
        </resWebControls>
        <!-- 附件控件文件类型的相关配置 -->
        <resContentTypes default="default">
            <add key="default" contentType="application/octet-stream" fileExtensionNames="" logoImage="/MCSWebApp/Images/16/default.gif"/>
            <add key="word" contentType="application/msword" fileExtensionNames="dot,dotm,dotx,doc,docm,docx,rtf,wiz" openMode="Attachment" logoImage="builtIn://word.gif"/>
            <add key="excel" contentType="application/vnd.ms-excel" fileExtensionNames="xlsm,xlsb,xls,xltm,xlt,csv,xlam,xla" openMode="Attachment" logoImage="builtIn://excel.gif"/>
            <add key="excel2007" contentType="audio/zip" fileExtensionNames="xlsx,xltx" openMode="Attachment" logoImage="builtIn://excel.gif"/>
            <add key="visio" contentType="application/vnd.visio" fileExtensionNames="vsd,vss,vst,vsx,vdx,vsw,vtx" openMode="Attachment" logoImage="builtIn://visio.gif"/>
            <add key="ppt" contentType="application/vnd.ms-powerpoint" fileExtensionNames="pptx,pptm,ppt,potx,potm,pot,ppsx,ppsm,pps,ppam,ppa,pwz" openMode="Attachment" logoImage="/MCSWebApp/Images/16/ppt.gif"/>
            <add key="dll" contentType="application/x-msdownload" fileExtensionNames="dll" openMode="Attachment" logoImage="/MCSWebApp/Images/16/dll.gif"/>
            <add key="html" contentType="text/html" fileExtensionNames="htm,html,shtml" logoImage="builtIn://htm.gif"/>
            <add key="txt" contentType="text/plain" openMode="Inline" fileExtensionNames="txt,log,ini,bat" logoImage="/MCSWebApp/Images/16/wordpad.gif"/>
            <add key="js" contentType="text/javascript" fileExtensionNames="js" logoImage="/MCSWebApp/Images/16/js.gif"/>
            <add key="css" contentType="text/css" fileExtensionNames="css" logoImage="/MCSWebApp/Images/16/css.gif"/>
            <add key="bmp" contentType="image/bmp" openMode="Inline" fileExtensionNames="bmp" logoImage="/MCSWebApp/Images/16/image.gif"/>
            <add key="tif" contentType="tif" openMode="Inline" fileExtensionNames="tif,tiff" logoImage="/MCSWebApp/Images/16/tif.gif"/>
            <add key="gif" contentType="image/gif" openMode="Inline" fileExtensionNames="gif" logoImage="/MCSWebApp/Images/16/image.gif"/>
            <add key="jpg" contentType="image/jpeg" openMode="Inline" fileExtensionNames="jpg,jpeg,jpe" logoImage="/MCSWebApp/Images/16/image.gif"/>
            <add key="png" contentType="image/png" openMode="Inline" fileExtensionNames="png" logoImage="/MCSWebApp/Images/16/image.gif"/>
            <add key="gd" contentType="application/gd" openMode="Inline" fileExtensionNames="gd" logoImage="builtIn://shusheng.gif"/>
            <add key="gw" contentType="application/gw" fileExtensionNames="gw,gw2" logoImage="builtIn://shusheng.gif"/>
            <add key="spd" contentType="application/spd" fileExtensionNames="spd" logoImage="builtIn://shusheng.gif"/>
            <add key="sep" contentType="application/sep" openMode="Inline" fileExtensionNames="sep" logoImage="builtIn://shusheng.gif"/>
            <add key="rar" contentType="audio/zip" openMode="Inline" fileExtensionNames="rar,zip" logoImage="/MCSWebApp/Images/16/zip.gif"/>
            <add key="wav" contentType="application/x-wav" openMode="Inline" fileExtensionNames="wav" logoImage="/MCSWebApp/Images/16/wav.gif"/>
            <add key="mp3" contentType="audio/mpeg3" openMode="Inline" fileExtensionNames="mp3" logoImage="/MCSWebApp/Images/16/wav.gif"/>
            <add key="midi" contentType="audio/mid" openMode="Inline" fileExtensionNames="mid,midi" logoImage="/MCSWebApp/Images/16/wav.gif"/>
            <add key="pdf" contentType="application/pdf" openMode="Inline" fileExtensionNames="pdf" logoImage="/MCSWebApp/Images/16/pdf.gif"/>
            <add key="rm" contentType="application/vnd.rn-realmedia" openMode="Inline" fileExtensionNames="rm" logoImage="/MCSWebApp/Images/16/rm.gif"/>
            <add key="mp2" contentType="application/x-mpeg" openMode="Inline" fileExtensionNames="mp2" logoImage="/MCSWebApp/Images/16/avi.gif"/>
            <add key="rmvb" contentType="application/vnd.rn-realmedia-vbr" openMode="Inline" fileExtensionNames="rmvb" logoImage="/MCSWebApp/Images/16/rm.gif"/>
            <add key="mov" contentType="video/quicktime" openMode="Inline" fileExtensionNames="qt,mov" logoImage="/MCSWebApp/Images/16/avi.gif"/>
            <add key="avi" contentType="video/x-msvideo" openMode="Inline" fileExtensionNames="avi" logoImage="/MCSWebApp/Images/16/avi.gif"/>
            <add key="mpeg" contentType="video/mpeg" openMode="Inline" fileExtensionNames="mpeg,mpg,mpe" logoImage="/MCSWebApp/Images/16/avi.gif"/>
            <add key="ra" contentType="audio/vnd.rn-realaudio" fileExtensionNames="ra" logoImage="/MCSWebApp/Images/16/rm.gif"/>
        </resContentTypes>
        <resPageContent autoLoad="true">
            <cssClasses>
                <all>
                    <add path="~/Font-awesome/css/font-awesome.css"/>
                </all>
                <debug>
                    <add path="~/bootstrap/css/bootstrap.css"/>
                    <add path="~/bootstrap/css/bootstrap-theme.css"/>
                </debug>
                <release>
                    <add path="~/bootstrap/css/bootstrap.min.css"/>
                    <add path="~/bootstrap/css/bootstrap-theme.min.css"/>
                </release>
            </cssClasses>
            <scripts>
                <debug>
                    <add path="~/jquery/jquery-2.0.3.js"/>
                    <add path="~/bootstrap/js/bootstrap.js"/>
                </debug>
                <release>
                    <add path="~/jquery/jquery-2.0.3.min.js"/>
                    <add path="~/bootstrap/js/bootstrap.min.js"/>
                </release>
            </scripts>
        </resPageContent>
        <resHttpModules>
            <add name="PageModuleHttpModule" type="MCS.Web.Responsive.Library.PageModuleHttpModule, MCS.Web.Responsive.Library"/>
            <add name="ApplicationErrorModule" type="MCS.Web.Responsive.Library.ApplicationErrorModule, MCS.Web.Responsive.Library"/>
            <add name="PageMonitorModule" type="MCS.Web.Responsive.Library.PageMonitorModule, MCS.Web.Responsive.Library"/>
        </resHttpModules>
        <resPageModules>
            <add name="PageContentModule" type="MCS.Web.Responsive.Library.PageContentModule, MCS.Web.Responsive.Library"/>
        </resPageModules>
    </deluxe.web.res>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.5.1"/>
        <pages controlRenderingCompatibilityVersion="4.0">
            <controls>
                <add tagPrefix="res" assembly="MCS.Web.Responsive.WebControls" namespace="MCS.Web.Responsive.WebControls"/>
            </controls>
        </pages>

    </system.web>
    <system.webServer>
        <modules>
            <add name="HttpEntryModule" type="MCS.Web.Responsive.Library.HttpEntryModule, MCS.Web.Responsive.Library"/>
        </modules>
    </system.webServer>
</configuration>