 
@using CIIC.HSR.TSP.WebComponents.Extensions
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "HTML Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <title></title>
</head>
<body>
    <div>
    @Html.HSRUIWF().WFGraph().Name("wfgraph")
    </div>
</body>
</html>
