<?xml version="1.0"?>
<!--说明参见Accreditadmin\webconfig\(Local)web.config-->
<configuration>
	<configSections>
		<section name="daabProviders" type="GotDotNet.ApplicationBlocks.Data.DAABSectionHandler,GotDotNet.ApplicationBlocks.Data"/>
		<section name="dbConnStrProviders" type="HG.HGSupport.Server.DAABConnStrHandler,HGSupport.Server"/>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
	</configSections>
	<daabProviders>
		<daabProvider alias="System.Data.SqlClient.SqlConnection" assembly="GotDotNet.ApplicationBlocks.Data" type="GotDotNet.ApplicationBlocks.Data.SqlServer"/>
	</daabProviders>
	<dbConnStrProviders>
		<!--<dbConnStrProvider alias="AccreditAdmin" connString="server=.;uid=sa;pwd=11111;database=AccreditAdmin" />-->
		<!--<dbConnStrProvider alias="LOG" connString="server=.;uid=sa;pwd=11111;database=Log" />-->
		<dbConnStrProvider alias="AccreditAdmin" connString="Data Source=(local);Initial Catalog=AccreditAdmin;Integrated Security=SSPI;"/>
		<dbConnStrProvider alias="LOG" connString="Data Source=(local);Initial Catalog=HG_LOG;Integrated Security=SSPI;"/>
	</dbConnStrProviders>
	<exceptionManagement mode="on">
		<publisher assembly="HGSupport.Common" type="HG.HGSupport.Common.ExceptionPublisher" fileName="c:\OALOG\QuickStartSamplesExceptionLog.txt"/>
	</exceptionManagement>
	<appSettings>
		<add key="OGURootName" value="中国海关"/>
		<add key="CustomsAuthentication" value="false"/>
		<add key="AutohideType" value="autoHide"/>
		<!--多个之间采用“,”分隔-->
		<add key="ImpersonateUser" value=".\xml\ImpersonateUser.xml"/>
		<add key="MaskObjects" value=".\xml\HideTypes.xml"/>
		<add key="ShowErrorDebug" value="false"/>
		<add key="ShowErrorImg" value="/Appadmin/images/32/stopLogo.gif"/>
		<!-- 指定本部门的机构级别
        没有此项或者 <3 时：	默认情况，人员上级第一个非虚机构
        >= 3时：				指定层级的部门（1级：“中国海关” 2级：“北京海关”等； 所以2级属于“本关区”）-->
		<add key="CurDepartLevel" value="0"/>
		<!--列表页中，每页显示的最大行数，如果没有认定，默认为150-->
		<add key="ListMaxCount" value="150"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms name="AuthRequest" loginUrl="/Accreditadmin/logon.aspx" protection="None" timeout="60" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<pages validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<location path="exports/AppSecurityCheckService.asmx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>
