<resourceUriSettings>
  <urls>
    <!--生产环境下，应该配置表单服务器的根Url，例如：http://formServer-->
    <!--<add name="userTaskRoot" description="待办或表单url的根路径" uri="http://form.oa.gome.inc"/>-->

    <!--生产环境下，应该配置门户服务器的绝对Url，例如：http://portalServer/MCSWebApp/MCSOAPortal/frames/refreshBridge.htm-->
    <add name="refreshBridge" description="刷新门户待办箱" uri="/SinoOceanWebApp/SinoOceanOAPortal/frames/refreshBridge.htm"/>
    <add name="appLogView" description="应用日志查看" uri="/MCSWebApp/OACommonPages/UserOperationLog/UserOperationLogView.aspx"/>
    <add name="oldappLogView" description="老应用日志查看" uri="/SinoOceanWebApp/OACommonPages/UserOperationLog/UserOperationLogView.aspx"/>
    <add name="appTrace" description="流程跟踪查看" uri="/MCSWebApp/OACommonPages/AppTrace/appTraceViewer.aspx"/>
    <add name="oldAppTrace" description="老OA应用日志查看" uri="/SinoOceanWebApp/OACommonPages/AppTrace/TraceTree.aspx"/>
  </urls>
  <features>
    <add name="selectApprover" description="选择审批人" width="600" height="200" left="400" top="300" center="false" resizable="true" showScrollBars="false" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
    <add name="genericProcess" description="通用流程" width="1024" height="768" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
    <add name="wideFormProcess" description="横向比较宽的表单" width="960" height="720" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
    <add name="viewProcess" description="流程跟踪" width="800" height="580" left="100" top="50" center="true" resizable="true" showScrollBars="true" showStatusBar="false" showToolBar="false" showAddressBar="false" showMenuBar="false" />
  </features>
</resourceUriSettings>