<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
		<section name="serverInfoConfigSettings" type="MCS.Library.Configuration.ServerInfoConfigSettings, MCS.Library"/>
		<section name="identityConfigSettings" type="MCS.Library.Configuration.IdentityConfigSettings, MCS.Library"/>
		<sectionGroup name="MCS.Library.passport" type="MCS.Library.Passport.PassportSectionGroup, MCS.Library.Passport">
			<!--单点登录Server必需项-->
			<section name="passportSignInSettings" type="MCS.Library.Passport.PassportSignInSettings, MCS.Library.Passport"/>
			<!--单点登录Client必需项-->
			<!--<section name="passportClientSettings" type="MCS.Library.Passport.PassportClientSettings, MCS.Library.Passport" />-->
			<!--单点登录可选项-->
			<section name="authenticateDirSettings" type="MCS.Library.Passport.AuthenticateDirSettings, MCS.Library.Passport"/>
			<section name="passportIntegrationSettings" type="MCS.Web.Passport.PassportIntegrationSettings, PassportService"/>
		</sectionGroup>
		<section name="permissionCenterToADSynchronizeSettings" type="MCS.Library.SOA.Security.ADSyncUtilities.PermissionCenterToADSynchronizeSettings, MCS.Library.SOA.Security.ADSyncUtilities"/>
		<section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>

		<section name="propertyComparersSettings" type="MCS.Library.SOA.DataObjects.Security.Transfer.PropertyComparersSettings, MCS.Library.SOA.DataObjects.Security"/>
		<section name="propertySettersSettings" type="MCS.Library.SOA.DataObjects.Security.Transfer.PropertySettersSettings, MCS.Library.SOA.DataObjects.Security"/>
	</configSections>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="10485760" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<serviceSettings>
		<methodDefaultSettings name="defaultSettings" cacheEnabled="false" />
		<services>
			<add name="PermissionCenter.Services.OGUReaderService">
				<methods>
					<add name="GetObjectsDetail" cacheEnabled="true" />
					<add name="GetOrganizationChildren" cacheEnabled="true" />
					<add name="QueryOGUByCondition3" cacheEnabled="true" />
					<add name="GetUsersInGroups" cacheEnabled="true" />
					<add name="GetGroupsOfUsers" cacheEnabled="true" />
					<add name="GetSecretariesOfLeaders" cacheEnabled="true" />
					<add name="GetLeadersOfSecretaries" cacheEnabled="true" />
				</methods>
			</add>
			<add name="PermissionCenter.Services.AppSecurityCheckService">
				<methods>
					<add name="GetApplications" cacheEnabled="true" />
					<add name="GetRoles" cacheEnabled="true" />
					<add name="GetFunctions" cacheEnabled="true" />
					<add name="GetFunctionsRoles" cacheEnabled="true" />
					<add name="GetRolesUsers" cacheEnabled="true" removeDuplicateData="true" />
					<add name="GetUserRoles" cacheEnabled="true" />
					<add name="GetUserPermissions" cacheEnabled="true" />
					<add name="GetChildrenInRoles" cacheEnabled="true" removeDuplicateData="true" />
				</methods>
			</add>
		</services>
	</serviceSettings>
	<!--ServerInfo配置-->
	<!--<serverInfoConfigSettings>
		<serverInfos>
			<remove name="dc"/>
			-->
	<!--<add name="dc" serverName="10.0.10.11" identityName="domainUser" port="0" authenticateType="NTLM"/>-->
	<!--
			<add name="dc" serverName="10.0.9.82" identityName="domainUser" port="0" authenticateType="NTLM"/>
		</serverInfos>
	</serverInfoConfigSettings>
	<identityConfigSettings>
		<identities>
			<remove name="domainUser"/>
			-->
	<!--
			<add name="domainUser" userId="Administrator" domain="sinooceanland" password="p@ss.w0rd" />
		</identities>
	</identityConfigSettings>-->
	<propertyComparersSettings>
		<objectComparers>
			<add name="UserObjectComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.UserObjectComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="OrganizationObjectComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.OrganizationObjectComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="GroupObjectComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.GroupObjectComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
		</objectComparers>
		<propertyComparers>
			<add name="simplePropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.SimplePropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="namePropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.NamePropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="dnPropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.DNPropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="uacPropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.UACPropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="largeIntPropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.LargeIntAndDateTimePropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="stringCollectionPropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.StringCollectionPropertyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="photoPropertyComparer" type="MCS.Library.SOA.Security.ADSyncUtilities.PhotoKeyComparer, MCS.Library.SOA.Security.ADSyncUtilities" />
		</propertyComparers>
	</propertyComparersSettings>
	<propertySettersSettings>
		<objectSetters>
			<add name="addADObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.AddADObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="addADGroupObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.AddADGroupObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="addADUserObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.AddADUserObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="deleteADObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.DeleteADObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="deleteADOrganizationObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.DeleteADOrganizationObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="deleteADUserObjectSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.DeleteADUserObjectSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="modifyADObjectPropertiesSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.ModifyADObjectPropertiesSetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<!--<add name="modifyGroupChildrenADSetter" type="MCS.Library.SOA.Security.ADSyncUtilities.ModifyGroupChildrenADSetter, MCS.Library.SOA.Security.ADSyncUtilities" />-->
		</objectSetters>
		<propertySetters>
			<add name="simplePropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.SimplePropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="objNamePropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.ObjNamePropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="codeNamePropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.CodeNamePropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="userCodeNamePropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.UserCodeNamePropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="uacPropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.UACPropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="largeIntPropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.LargeIntAndDateTimePropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="stringCollectionPropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.StringCollectionPropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
			<add name="photoPropertySetter" type="MCS.Library.SOA.Security.ADSyncUtilities.PhotoPropertySetter, MCS.Library.SOA.Security.ADSyncUtilities" />
		</propertySetters>
	</propertySettersSettings>
	<permissionCenterToADSynchronizeSettings defaultStartPath="机构人员" sourceRoot="机构人员" recycleBinOU="OU=回收站" targetRootOU="" defaultPassword="p@ssw0rd">
		<objectMappings>
			<add name="main" scObjectName="远洋地产" adObjectName="OU=远洋地产" />
			<add name="other" scObjectName="其它账号" adObjectName="OU=其它账号" />
		</objectMappings>
		<schemaMappings>
			<add name="Base">
				<comparedProperties>
					<add name="OBJ_NAME" targetPropertyName="name" enabled="true" opName="namePropertyComparer" />
					<add name="DISPLAY_NAME" targetPropertyName="displayName" enabled="true" opName="simplePropertyComparer" />
					<add name="INNER_SORT" targetPropertyName="adminDisplayName" enabled="true" opName="simplePropertyComparer" />
					<add name="GLOBAL_SORT" targetPropertyName="extensionName" enabled="true" opName="simplePropertyComparer" />
					<add name="ALL_PATH_NAME" targetPropertyName="distinguishedName" enabled="true" opName="dnPropertyComparer" />
				</comparedProperties>
				<modifiedProperties>
					<add name="OBJ_NAME" targetPropertyName="name" enabled="true" opName="objNamePropertySetter" />
					<add name="DISPLAY_NAME" targetPropertyName="displayName" enabled="true" opName="simplePropertySetter" />
					<add name="INNER_SORT" targetPropertyName="adminDisplayName" enabled="true" opName="simplePropertySetter" />
					<add name="GLOBAL_SORT" targetPropertyName="extensionName" enabled="true" opName="simplePropertySetter" />
				</modifiedProperties>
			</add>
			<add name="Users" inherited="Base" comparerName="UserObjectComparer" prefix="CN">
				<modifyOperations>
					<add name="Add" opName="addADUserObjectSetter" />
					<add name="Delete" opName="deleteADUserObjectSetter" />
					<add name="PropertyModified" opName="modifyADObjectPropertiesSetter" />
				</modifyOperations>
				<comparedProperties>
					<add name="LOGON_NAME" targetPropertyName="samAccountName" enabled="true" opName="simplePropertyComparer" />
					<add name="FIRST_NAME" targetPropertyName="givenName" enabled="true" opName="simplePropertyComparer" />
					<add name="LAST_NAME" targetPropertyName="sn" enabled="true" opName="simplePropertyComparer" />
					<add name="MP" targetPropertyName="mobile" enabled="true" opName="simplePropertyComparer" />
					<add name="WP" targetPropertyName="telephoneNumber" enabled="true" opName="simplePropertyComparer" />
					<add name="AccountDisabled" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertyComparer" context="ADS_UF_ACCOUNTDISABLE"/>
					<add name="PasswordNotRequired" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertyComparer" context="ADS_UF_PASSWD_NOTREQD"/>
					<add name="DontExpirePassword" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertyComparer" context="ADS_UF_DONT_EXPIRE_PASSWD"/>
					<add name="AccountExpires" targetPropertyName="accountExpires" enabled="true" opName="largeIntPropertyComparer" />
					<add name="OtherMP" targetPropertyName="otherMobile" enabled="true" opName="stringCollectionPropertyComparer" />
					<add name="CompanyName" targetPropertyName="company" enabled="true" opName="simplePropertyComparer" />
					<add name="DepartmentName" targetPropertyName="department" enabled="true" opName="simplePropertyComparer" />
					<add name="RANK_NAME" targetPropertyName="title" enabled="true" opName="simplePropertyComparer" />
					<add name="PhotoTimestamp" targetPropertyName="pager" enabled="true" opName="photoPropertyComparer" />
				</comparedProperties>
				<modifiedProperties>
					<add name="AccountExpires" targetPropertyName="AccountExpirationDate" enabled="true" opName="largeIntPropertySetter" />
					<add name="LOGON_NAME" targetPropertyName="samAccountName" enabled="true" opName="userCodeNamePropertySetter" context="@sinooceanland.com" />
					<add name="FIRST_NAME" targetPropertyName="givenName" enabled="true" opName="simplePropertySetter" />
					<add name="LAST_NAME" targetPropertyName="sn" enabled="true" opName="simplePropertySetter" />
					<add name="MP" targetPropertyName="mobile" enabled="true" opName="simplePropertySetter" />
					<add name="WP" targetPropertyName="telephoneNumber" enabled="true" opName="simplePropertySetter" />
					<add name="AccountDisabled" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertySetter" context="ADS_UF_ACCOUNTDISABLE"/>
					<add name="PasswordNotRequired" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertySetter" context="ADS_UF_PASSWD_NOTREQD"/>
					<add name="DontExpirePassword" targetPropertyName="userAccountControl" enabled="true" opName="uacPropertySetter" context="ADS_UF_DONT_EXPIRE_PASSWD"/>
					<add name="OtherMP" targetPropertyName="otherMobile" enabled="true" opName="stringCollectionPropertySetter" delay="true" />
					<add name="CompanyName" targetPropertyName="company" enabled="true" opName="simplePropertySetter" />
					<add name="DepartmentName" targetPropertyName="department" enabled="true" opName="simplePropertySetter" />
					<add name="RANK_NAME" targetPropertyName="title" enabled="true" opName="simplePropertySetter" />
					<add name="PhotoTimestamp" targetPropertyName="pager" enabled="true" opName="photoPropertySetter" />
				</modifiedProperties>
			</add>
			<add name="Groups" inherited="Base" comparerName="GroupObjectComparer" prefix="CN">
				<modifyOperations>
					<add name="Add" opName="addADGroupObjectSetter" />
					<add name="Delete" opName="deleteADObjectSetter" />
					<add name="PropertyModified" opName="modifyADObjectPropertiesSetter" />
					<!--<add name="ChildrenModified" opName="modifyGroupChildrenADSetter" />-->
				</modifyOperations>
				<comparedProperties>
					<add name="LOGON_NAME" targetPropertyName="samAccountName" enabled="true" opName="simplePropertyComparer" />
				</comparedProperties>
				<modifiedProperties>
					<add name="LOGON_NAME" targetPropertyName="samAccountName" enabled="true" opName="codeNamePropertySetter" />
				</modifiedProperties>
			</add>
			<add name="Organizations" inherited="Base" comparerName="OrganizationObjectComparer" prefix="OU">
				<modifyOperations>
					<add name="Add" opName="addADObjectSetter" />
					<add name="Delete" opName="deleteADOrganizationObjectSetter" />
					<add name="PropertyModified" opName="modifyADObjectPropertiesSetter" />
				</modifyOperations>
				<comparedProperties>
					<add name="CODE_NAME" targetPropertyName="adminDescription" enabled="true" opName="simplePropertyComparer" />
				</comparedProperties>
				<modifiedProperties>
					<add name="CODE_NAME" targetPropertyName="adminDescription" enabled="true" opName="simplePropertySetter" />
				</modifiedProperties>
			</add>
		</schemaMappings>
	</permissionCenterToADSynchronizeSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None" />
		<webServices>
			<soapExtensionTypes>
				<add type="PermissionCenter.Extensions.PCCacheSoapExtension, PermissionCenterServices" priority="2" group="High"/>
			</soapExtensionTypes>
			<protocols>
				<add name="HttpPost" />
				<add name="HttpGet" />
			</protocols>
		</webServices>
		<customErrors mode="Off">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
	</system.web>
	<appSettings>
		<add key="MCS.MetaConfiguration" value="%MCS2013ConfigDir%\MCS.ConfigMapping.config" />
	</appSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="HttpEntryModule" type="MCS.Web.Library.HttpEntryModule, MCS.Web.Library"/>
		</modules>
	</system.webServer>

	<MCS.Library.passport>
		<passportIntegrationSettings encryptionKey="c6cef6a875823e51 14978b8624db5d0a">
		</passportIntegrationSettings>
		<authenticateDirSettings defaultAnonymous="true">
			<authenticateDirs>
        <add location="~/CommandConsole/DisplacingUserPage.aspx" />
			</authenticateDirs>
			<anonymousDirs>
				<add location="~/Anonymous/*.aspx"/>
			</anonymousDirs>
			<authorizationDirs>
				<!--<add location="~/AuthorizationPages/roleConfigPortalAdminAcess.aspx?processKey=*" roles="OAPORTAL:FORM_QUERY_ADMIN"/>
				<add location="~/AuthorizationPages/roleConfigPortalAdminAcess.aspx?processAdmin*" rolesDefineName="ProcessAdmin"/>-->
        
			</authorizationDirs>
			<typeFactories>
				<add name="pricipalBuilder" type="MCS.Library.Principal.DefaultPrincipalBuilder, MCS.Library.Passport"/>
			</typeFactories>
		</authenticateDirSettings>
		<passportSignInSettings defaultTimeout="-2" slidingExpiration="36000" useSimulateTime="True" signInPageDataCookieKey="PassportSignInPageData">
			<typeFactories>
				<add name="authenticator" type="MCS.Library.Passport.DefaultAuthenticator, MCS.Library.Passport"/>
				<add name="persistSignInInfo" type="MCS.Library.Passport.DataAdapter, MCS.Library.Passport"/>
				<!--<add name="userInfoUpdater" type="MCS.Library.Passport.DefaultAuthenticator, MCS.Library.Passport"/>-->
				<add name="userInfoUpdater" type="MCS.Library.Passport.DomainUserUpdater, MCS.Library.Passport"/>
			</typeFactories>
			<rsaKeyValue>
				<Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
				<Exponent>AQAB</Exponent>
			</rsaKeyValue>
		</passportSignInSettings>
	</MCS.Library.passport>

</configuration>
