.GenericInput_arrow
{
	position: absolute;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.GenericInput_panel
{
	background: white;
	border: 1px solid #868686;
}
.GenericInput_frame
{
	border: 1px solid #2353B2;
	overflow: hidden;
	font-size: 1px;
	text-align: right;
	position: absolute;
	cursor: pointer;
}
.GenericInput_frame_line
{
	overflow: hidden;
	font-size: 1px;
	position: absolute;
	cursor: pointer;
}
.GenericInput_arrow_image
{
	background: url(<%=WebResource("MCS.Web.WebControls.GenericInput.drop-arrow.gif")%>) no-repeat 50% 50%;
	cursor: pointer;
}
.GenericInput_arrow_wrapper
{
	position: absolute;
	top: 50%;
	left: 50%;
}
.GenericInput_arrow_wrapper img
{
	position: relative;
	top: -50%;
	left: -50%;
}

/***************我就素那无耻的分割线***************/

.GenericInput_ContextMenuPanel
{
	border: 1px solid #868686;
	z-index: 1000;
	background: url(images/menu-bg.gif) repeat-y 0 0 #FAFAFA;
	cursor: default;
	padding: 1px 1px 0px 1px;
	font-size: 11px;
}

.GenericInput_ContextMenuBreak
{
	margin: 1px 1px 1px 32px;
	padding: 0;
	height: 1px;
	overflow: hidden;
	display: block;
	border-top: 1px solid #C5C5C5;
}

.GenericInput_ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #003399;
	padding: 2px 19px 2px 3px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	white-space: nowrap;
}

.GenericInput_ContextMenuItem-Selected
{
	font-weight: bold;
}

.GenericInput_ContextMenuItemhover
{
	background-color: #FFE6A0;
	color: #003399;
	border: 1px solid #D2B47A;
	padding: 1px 18px 1px 2px;
}
