<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wfMatrixGlobalParameterSetting" type="CIIC.HSR.TSP.WF.Bizlet.Impl.WfMatrixGlobalParameterSetting,CIIC.HSR.TSP.WF.Bizlet.Impl"/>
    <section name="jsonConverterRegisterSettings" type="MCS.Web.Library.Script.Configuration.JsonConverterRegisterSettings, MCS.Web.Library.Script.Json"/>
    <!--测试专用节点，通过配置，可以影响服务器端连接数据库的设置-->
    <section name="wfServiceInvokerSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceInvokerSettings, MCS.Library.WcfExtensions"/>
    <section name="wfContractsProxySettings" type="MCS.Library.WF.Contracts.Proxies.Configuration.WfContractsProxySettings, MCS.Library.WF.Contracts.Proxies"/>
  </configSections>
  <wfMatrixGlobalParameterSetting xmlns="urn:CIIC.HSR.TSP.WF.Bizlet.Impl.WfMatrixGlobalParameterSetting.Configuration">
    <parameters>
      <parameter key="g1" name="名称" defaultValue="默认值" enable="true" description="描述" valueType="String"></parameter>
      <parameter key="g2" name="名称2" defaultValue="默认值2" enable="true" description="描述3" valueType="String"></parameter>
    </parameters>
  </wfMatrixGlobalParameterSetting>
  <wfContractsProxySettings>
    <paths>
      <add name="processDescriptorService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessDescriptorService.svc"/>
      <add name="processRuntimeService" uri="http://localhost/MCSWebApp/WfOperationServices/Services/ProcessRuntimeService.svc"/>
    </paths>
  </wfContractsProxySettings>
  <wfServiceInvokerSettings>
    <connectionMappings>
      <add name="HB2008" destination="HB2008_TEST" />
    </connectionMappings>
  </wfServiceInvokerSettings>
  <jsonConverterRegisterSettings>
    <registers>
      <add name="wfClientConverters" type="MCS.Library.WF.Contracts.Json.Converters.WfClientJsonConverterHelper, MCS.Library.WF.Contracts.Json"/>
    </registers>
  </jsonConverterRegisterSettings>
</configuration>