<connectionManager>
	<connectionStrings>
		<!--<add name="HB2008" connectionString="server=10.0.9.240;database=MCS_WORKFLOW;User ID=msuser;Password=msuser;" providerName="System.Data.SqlClient"/>
		<add name="PermissionsCenter" connectionString="server=10.0.9.240;database=MCS_PERMISSIONS_CENTER;uid=msuser;pwd=msuser;enlist=false;" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>-->
		<add name="HB2008" connectionString="server=MCSFramework;database=MCS_WORKFLOW;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
		<add name="PermissionsCenter" connectionString="server=MCSFramework;database=MCS_PERMISSIONS_CENTER_TEST;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<dataProviders>
		<add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
		<add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
		<add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
	</dataProviders>
</connectionManager>