<objectSchemaSettings adminRoleFullCodeName="PCMAIN:PCSYSADMINS">
	<schemas>
		<add name="Users" snapshotTable="SC.SchemaUserSnapshot" isUsersContainerMember="true" category="Users" sortOrder="0" logoImage="user.gif" codeNameKey="samAccountName" type="MCS.Library.SOA.DataObjects.Security.SCUser, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddUser" hasParentParemeter="true" />
				<add name="Update" method="UpdateUser" />
				<add name="Delete" method="DeleteUser" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
				<add name="UserBase" groupName="UserBase" />
				<add name="AccountInfo" groupName="AccountInfo" />
				<add name="ContactInfo" groupName="ContactInfo" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
				<add name="AccountInfo" description="账户信息"/>
				<add name="ContactInfo" description="通信信息"/>
			</tabs>
		</add>
		<add name="AdvUsers" snapshotTable="SC.SchemaUserSnapshot" isUsersContainerMember="true" logoImage="user.gif" category="Users" sortOrder="0" codeNameKey="samAccountName" type="MCS.Library.SOA.DataObjects.Security.SCUser, MCS.Library.SOA.DataObjects.Security" description="高级人员">
			<operations>
				<add name="Add" method="AddUser" hasParentParemeter="true" />
				<add name="Update" method="UpdateUser" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
				<add name="UserBase" groupName="UserBase" />
				<add name="ContactInfo" groupName="ContactInfo" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
				<add name="ContactInfo" description="通信信息"/>
			</tabs>
		</add>
		<add name="Organizations" snapshotTable="SC.SchemaOrganizationSnapshot" category="Organizations" logoImage="ou.gif" type="MCS.Library.SOA.DataObjects.Security.SCOrganization, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddOrganization" hasParentParemeter="true" />
				<add name="Update" method="UpdateOrganization" />
				<add name="Delete" method="DeleteOrganization" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
				<add name="OrganizationInfo" groupName="OrganizationInfo" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
			<permissionSet>
				<add name="AddChildren" displayName="增加子对象" />
				<add name="DeleteChildren" displayName="删除子对象" />
				<add name="UpdateChildren" displayName="修改子对象" />
				<add name="EditPermissionsOfChildren" displayName="修改子对象的权限" />
				<add name="EditMembersOfGroups" displayName="修改群组中的人员" />
			</permissionSet>
		</add>
		<add name="Groups" category="Groups" snapshotTable="SC.SchemaGroupSnapshot" isUsersContainer="true" codeNameKey="samAccountName" type="MCS.Library.SOA.DataObjects.Security.SCGroup, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddGroup" hasParentParemeter="true"/>
				<add name="Update" method="UpdateGroup" />
				<add name="Delete" method="DeleteGroup" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="Applications" category="Applications" snapshotTable="SC.SchemaApplicationSnapshot" type="MCS.Library.SOA.DataObjects.Security.SCApplication, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddApplication" />
				<add name="Update" method="UpdateApplication" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
			<permissionSet>
				<add name="AddApplications" displayName="新增应用" />
				<add name="UpdateApplications" displayName="修改应用" />
				<add name="DeleteApplications" displayName="删除应用" />
				<add name="AddRoles" displayName="新增角色" />
				<add name="UpdateRoles" displayName="修改角色" />
				<add name="ModifyMembersInRoles" displayName="修改角色中的成员" />
				<add name="DeleteRoles" displayName="删除角色" />
				<add name="AddPermissions" displayName="新增权限" />
				<add name="UpdatePermissions" displayName="修改权限" />
				<add name="DeletePermissions" displayName="删除权限" />
				<add name="EditRelationOfRolesAndPermissions" displayName="编辑角色和权限的对应关系" />
			</permissionSet>
		</add>
		<add name="Roles" category="Roles" snapshotTable="SC.SchemaRoleSnapshot" isUsersContainer="true" codeNameValidationMethod="ByContainerAndCodeNameKey" type="MCS.Library.SOA.DataObjects.Security.SCRole, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddRole" hasParentParemeter="true" />
				<add name="Update" method="UpdateRole" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="Permissions" category="Permissions" snapshotTable="SC.SchemaPermissionSnapshot" codeNameValidationMethod="ByContainerAndCodeNameKey" type="MCS.Library.SOA.DataObjects.Security.SCPermission, MCS.Library.SOA.DataObjects.Security">
			<operations>
				<add name="Add" method="AddPermission" hasParentParemeter="true" />
				<add name="Update" method="UpdatePermission" />
			</operations>
			<schemaClasses>
				<add name="ObjectBase" groupName="ObjectBase" />
				<add name="UniqueObjectBase" groupName="UniqueObjectBase" />
			</schemaClasses>
			<tabs>
				<add name="BasicInfo" description="基本信息"/>
			</tabs>
		</add>
		<add name="RelationObjects" tableName="SC.SchemaRelationObjects" snapshotTable="SC.SchemaRelationObjectsSnapshot" toSchemaObjectSnapshot="false" category="RelationObjects" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCRelationObject, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="RelationObject" groupName="RelationObject" />
			</schemaClasses>
		</add>
		<add name="MemberRelations" tableName="SC.SchemaMembers" snapshotTable="SC.SchemaMembersSnapshot" category="MemberRelations" toSchemaObjectSnapshot="false" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCMemberRelation, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="MemberRelationObject" groupName="MemberRelationObject" />
			</schemaClasses>
		</add>
		<add name="SecretaryRelations" snapshotTable="SC.SchemaMembersSnapshot" category="MemberRelations" toSchemaObjectSnapshot="false" isRelation="true" type="MCS.Library.SOA.DataObjects.Security.SCSecretaryRelation, MCS.Library.SOA.DataObjects.Security">
			<schemaClasses>
				<add name="MemberRelationObject" groupName="MemberRelationObject" />
			</schemaClasses>
		</add>
	</schemas>
</objectSchemaSettings>