<schemaPropertyGroupSettings>
	<groups>
		<add name="ObjectBase" defaultTab="BasicInfo">
			<properties>
				<add name="ID" displayName="标识" tab="BasicInfo" type="String" snapshotMode="IsInSnapshot,IsInCommonSnapshot" visible="false"/>
				<add name="Name" displayName="名称" tab="BasicInfo" type="String" snapshotMode="All"/>
				<add name="DisplayName" displayName="显示名称" tab="BasicInfo" type="String" snapshotMode="All"/>
			</properties>
		</add>
		<add name="UniqueObjectBase" defaultTab="BasicInfo">
			<properties>
				<add name="CodeName" displayName="代码名称" tab="BasicInfo" description="唯一，可读的名称。用于用户的登录名或标识" type="String" snapshotMode="All"/>
			</properties>
		</add>
		<add name="UserBase" defaultTab="BasicInfo">
			<properties>
				<add name="OwnerID" displayName="所有者ID" tab="BasicInfo" type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="LastName" displayName="姓" tab="BasicInfo" type="String" snapshotMode="AllButNotInCommonSnapshot"/>
				<add name="FirstName" displayName="名" tab="BasicInfo" type="String" snapshotMode="AllButNotInCommonSnapshot"/>
				<add name="OwnerName" displayName="所有者名称" tab="BasicInfo" type="String" snapshotMode="IsInSnapshot" readOnly="true" visible="true"/>
				<add name="PhotoKey" displayName="照片" category="照片" tab="BasicInfo" type="String" editorKey="ImageUploaderPropertyEditor" snapshotMode="None" />
			</properties>
		</add>
		<add name="AccountInfo" defaultTab="AccountInfo">
			<properties>
				<add name="PasswordNotRequired" displayName="不需要密码" category="密码" tab="AccountInfo" type="Boolean" snapshotMode="AllButNotInCommonSnapshot"/>
				<add name="DontExpirePassword" displayName="密码永不过期" category="密码" tab="AccountInfo" type="Boolean" snapshotMode="AllButNotInCommonSnapshot" />
				<add name="AccountInspires" displayName="账户起始日期"  category="有效性" tab="AccountInfo" type="DateTime" snapshotMode="AllButNotInCommonSnapshot" />
				<add name="AccountExpires" displayName="账户过期日期"  category="有效性" tab="AccountInfo" type="DateTime" snapshotMode="AllButNotInCommonSnapshot" />
				<add name="AccountDisabled" displayName="账户已禁用" category="有效性" tab="AccountInfo" type="Boolean" snapshotMode="IsInSnapshot,IsInCommonSnapshot"/>
			</properties>
		</add>
		<add name="ContactInfo" defaultTab="BasicInfo">
			<properties>
				<add name="Mail" displayName="邮件地址" tab="ContactInfo" type="String" snapshotMode="IsInSnapshot"/>
				<add name="Sip" displayName="UC地址" tab="ContactInfo" type="String" snapshotMode="IsInSnapshot"/>
				<add name="MP" displayName="手机号" tab="ContactInfo" type="String" snapshotMode="IsInSnapshot"/>
				<add name="WP" displayName="工作电话" tab="ContactInfo" type="String" snapshotMode="IsInSnapshot"/>
				<add name="Address" displayName="通信地址" tab="ContactInfo" type="String" snapshotMode="IsInSnapshot"/>
				<add name="CadreType" displayName="干部属性" tab="Politics" type="Enum" editorKey="EnumPropertyEditor" editorParams="MCS.Library.OGUPermission.UserAttributesType, MCS.Library.OGUPermission" snapshotMode="None" defaultValue="0"/>
			</properties>
		</add>
		<add name="RelationObject">
			<properties>
				<add name="ParentID" displayName="容器标识" type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="ParentSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="InnerSort" type="Integer" snapshotMode="IsInSnapshot" visible="false" defaultValue="0"/>
				<add name="ID" displayName="对象标识" type="String" snapshotMode="IsInSnapshot" snapshotFieldName="ObjectID" visible="false"/>
				<add name="ChildSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="Default" type="Boolean" snapshotMode="IsInSnapshot" visible="true" snapshotFieldName="IsDefault" defaultValue="true"/>
				<add name="FullPath" displayName="全路径" type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="GlobalSort" displayName="全局序号" type="String" snapshotMode="IsInSnapshot" visible="false"/>
			</properties>
		</add>
		<add name="MemberRelationObject">
			<properties>
				<add name="ContainerID" displayName="容器标识" type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="ContainerSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
				<add name="InnerSort" type="Integer" snapshotMode="IsInSnapshot" visible="false" defaultValue="0"/>
				<add name="ID" displayName="对象标识" type="String" snapshotMode="IsInSnapshot" snapshotFieldName="MemberID" visible="false"/>
				<add name="MemberSchemaType"  type="String" snapshotMode="IsInSnapshot" visible="false"/>
			</properties>
		</add>
		<add name="OrganizationInfo">
			<properties>
				<add name="AllowAclInheritance" displayName="是否允许继承容器的权限" type="Boolean" snapshotMode="IsInSnapshot" defaultValue="true" visible="true"/>
			</properties>
		</add>
	</groups>
</schemaPropertyGroupSettings>