*
{
    margin: 0;
    padding: 0;
}
img
{
    margin: 0px;
    padding: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
div
{
    margin: 0px;
    padding: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
td
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.hasStar
{
    padding-right: 1px;
}

.star
{
    color: Red;
}

/*float toolbar*/

.topmenu
{
    background-image: url(/MCSWebApp/Images/Toolbar/task_01.png);
    background-repeat: repeat-x;
    background-position: left top;
    line-height: 33px;
    height: 33px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    vertical-align: middle;
}
.nav
{
    background-color: #f3f8fc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dde9f2;
    margin-bottom: 11px;
}
.nav .title
{
    background-image: url(/MCSWebApp/Images/Toolbar/task_08.gif);
    background-repeat: repeat-y;
    background-position: left top;
    line-height: 17px;
    width: 44px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    padding-top: 4px;
    padding-bottom: 2px;
}
span.sheetTitle
{
    font-size: 16px;
}
.r
{
    float: right;
}
lt
{
    float: left;
}
html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    border: solid 0px #FF0000;
}
* html
{
    overflow: hidden;
}
/*
* html #top
{
	width: 100%;
	left: 0;
	border: solid 0px;
}
*/
* html #outer
{
    height: 100%;
    width: 100%;
    position: absolute;
}
* html #bottom
{
    left: 0;
    width: 100%;
}
@media print
{
    html, body
    {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    body
    {
        height: 100%;
        margin: 0;
        padding: 0;
        border: solid 0px #FF0000;
    }

    * html #top
    {
        width: 100%;
        left: 0;
        border: solid 0px;
        display: none;
    }
    .header
    {
        display: none;
    }
    .header .rightbg
    {
        display: none;
    }

    #top
    {
        display: none;
    }

    .nav
    {
        display: none;
    }
    .nav .title
    {
        display: none;
    }

    #outer
    {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 33px;
        bottom: 20px;
    }
    .rightpart2
    {
        display: none;
    }
}
@media screen
{
    * html #top
    {
        width: 100%;
        left: 0;
        border: solid 0px;
        display: none;
    }

    #top
    {
        top: 0px;
        background-image: url(/MCSWebApp/Images/Toolbar/task_01.png);
        background-repeat: repeat-x;
        background-position: left top;
        line-height: 33px;
        height: 33px;
        color: #FFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; /*padding-left: 20px;*/
        vertical-align: middle;
    }

    #top, #bottom
    {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 33px;
        background: repeat-x;
        overflow: hidden;
        display: block;
        clear: both;
    }
    .header
    {
        background-image: url(/MCSWebApp/Images/Toolbar/task_04.png);
        background-repeat: repeat-x;
        background-position: left top;
        height: 46px;
    }
    .header .rightbg
    {
        background-image: url(/MCSWebApp/Images/Toolbar/task_06.jpg);
        background-repeat: no-repeat;
        background-position: right top;
        font-weight: bold;
        color: #003366;
        font-family: "宋体" ,Arial, Helvetica, sans-serif;
        font-size: 16px; /*font-size: 20px;本次改*/
        line-height: 46px;
    }

    .nav
    {
        background-color: #f3f8fc;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #dde9f2;
        margin-bottom: 11px;
    }


    #outer
    {
        overflow: auto;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 33px;
        bottom: 20px;
    }
    .rightpart2
    {
        background-color: #f0f0f0;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: #FFF;
        border-right-color: #cbcbcb;
        border-bottom-color: #cbcbcb;
        border-left-color: #cbcbcb;
        padding-right: 7px;
        padding-left: 7px;
    }
    .rightpart2 table
    {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #c0c0c0;
        margin-top: 4px;
    }
    .rightpart2 table tr td
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #333;
    }
    .rightpart2 table tr td a
    {
        color: #333;
    }
    .rightpart2 table tr td a:visited
    {
        color: #333;
    }

    .rightpart2 table tr .title
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #00246d;
    }
}
#top
{
    top: 0px;
    background-image: url(/MCSWebApp/Images/Toolbar/task_01.png);
    background-repeat: repeat-x;
    background-position: left top;
    line-height: 33px;
    height: 33px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    vertical-align: middle;
}
#bottom
{
    bottom: 0px;
    height: 20px;
}
/*float toolbar end*/

/* workflow toolbar */
.wftoolbar
{
    vertical-align: middle;
    margin-top: 3px;
}

.wftoolbar .bar
{
    height: 33px;
    margin: 0;
    padding: 0;
}

.wftoolbar .enable
{
    color: White;
    vertical-align: middle;
}

.wftoolbar .invisible
{
    display: none;
}

.wftoolbar .disable
{
    color: #BBB;
    cursor: text;
}
/* workflow toolbar end */

.disabled
{
    background-color: #ffffff;
    border: none;
}

.btnText
{
    padding: 4px 18px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #efe;
    background-position: 1px 6px;
    background-repeat: no-repeat;
}

.btnMoveTo
{
    background-image: url('/MCSWebApp/images/toolbar/send.gif');
}

.btnMoveToAndNotify
{
    background-image: url('/MCSWebApp/images/toolbar/sendwithnotice.gif');
}
.btnMoveToAndFYI
{
    background-image: url('/MCSWebApp/images/toolbar/sendwithread.gif');
}
.btnMoveToAddApprover
{
    background-image: url('/MCSWebApp/images/toolbar/addapprover.gif');
}
.btnChangeApprover
{
    background-image: url('/MCSWebApp/images/toolbar/changeapprover.gif');
}


.btnConsign
{
    background-image: url('/MCSWebApp/images/toolbar/consign.gif');
}
.btnCirculate
{
    background-image: url('/MCSWebApp/images/toolbar/sendwithread.gif');
}
.btnTerminate
{
    background-image: url('/MCSWebApp/images/toolbar/finish.gif');
}
.btnReject
{
    background-image: url('/MCSWebApp/images/toolbar/rejection.gif');
}
.btnDoWithdraw
{
    background-image: url('/MCSWebApp/images/toolbar/doReject.gif');
}
.btnDoAbortAndRestart
{
    background-image: url('/MCSWebApp/images/toolbar/restart.png');
}
.btnDoAbort
{
    background-image: url('/MCSWebApp/images/toolbar/del.gif');
}
.btnAssignment
{
    background-image: url('/MCSWebApp/images/toolbar/jiaoban.gif');
}
.btnPress
{
    background-image: url('/MCSWebApp/images/toolbar/press.gif');
}
.btnRead
{
    background-image: url('/MCSWebApp/images/toolbar/readed.gif');
}

.btnReturn
{
    background-image: url('/MCSWebApp/images/toolbar/rejection.gif');
}

.btnAbort
{
    background-image: url('/MCSWebApp/images/toolbar/del.gif');
}


.btnAppTrace
{
    background-image: url('/MCSWebApp/images/toolbar/tracker.gif');
}

.btnSave
{
    background-image: url('/MCSWebApp/images/toolbar/save.gif');
}

.btnPrint
{
    background-image: url('/MCSWebApp/images/toolbar/print.gif');
}
.btnCopy
{
    background-image: url('/MCSWebApp/images/toolbar/copy.gif');
}

